Repository pingdotgg/uploadthing, changes with the labels that .github/labeler.yml gives for each.
All labels: ðŸ“š documentation, examples, @uploadthing/react, uploadthing/client, uploadthing/next, backend adapters, sdk

whoops
  docs/src/pages/api-reference/react.mdx
Labels: ðŸ“š documentation

faq
  docs/src/pages/faq.mdx
Labels: ðŸ“š documentation

feat!: support returning data from server callback (#351)
  .changeset/clever-meals-doubt.md
  docs/src/pages/api-reference/react.mdx
  docs/src/pages/api-reference/server.mdx
  docs/src/pages/faq.mdx
  docs/src/pages/getting-started/appdir.mdx
  docs/src/pages/getting-started/pagedir.mdx
  examples/minimal-astro-react/src/server/uploadthing.ts
  packages/react/src/component.tsx
  packages/react/src/components/button.tsx
  packages/react/src/components/dropzone.tsx
  packages/react/src/types.ts
  packages/react/src/useUploadThing.ts
  packages/react/test/client-generator.test.ts
  packages/solid/src/component.tsx
  packages/solid/src/components/button.tsx
  packages/solid/src/components/dropzone.tsx
  packages/solid/src/types.ts
  packages/solid/src/useUploadThing.ts
  packages/uploadthing/src/client.ts
  packages/uploadthing/src/constants.ts
  packages/uploadthing/src/express.ts
  packages/uploadthing/src/fastify.ts
  packages/uploadthing/src/h3.ts
  packages/uploadthing/src/internal/handler.ts
  packages/uploadthing/src/internal/types.ts
  packages/uploadthing/src/internal/upload-builder.ts
  packages/uploadthing/src/next-legacy.ts
  packages/uploadthing/src/server.ts
  packages/uploadthing/test/gen-uploader.test.ts
  packages/uploadthing/tsconfig.json
Labels: ðŸ“š documentation, examples, @uploadthing/react, uploadthing/client

remove deprecated `utapi` object in favor of initializing with constructor
  .changeset/neat-buses-flow.md
  .changeset/real-peas-compare.md
  packages/uploadthing/src/sdk/index.ts
Labels: sdk

doc lik
  .changeset/real-peas-compare.md
Labels: none

export
  .changeset/real-peas-compare.md
Labels: none

optional
  packages/uploadthing/src/sdk/index.ts
Labels: sdk

rm export
  packages/uploadthing/src/sdk/index.ts
Labels: sdk

fixx
  packages/uploadthing/src/server.ts
Labels: none

init with key
  packages/uploadthing/src/sdk/sdk.test.ts
Labels: sdk

fix
  packages/uploadthing/src/sdk/index.ts
  packages/uploadthing/src/sdk/sdk.test.ts
Labels: sdk

depcrecated since
  packages/uploadthing/src/internal/handler.ts
Labels: none

chore!: remove deprecated `utapi` object in favor of initializing with constructor (#459)
  .changeset/neat-buses-flow.md
  .changeset/real-peas-compare.md
  packages/uploadthing/src/internal/handler.ts
  packages/uploadthing/src/sdk/index.ts
  packages/uploadthing/src/sdk/sdk.test.ts
  packages/uploadthing/src/server.ts
Labels: sdk

Update README.md
  README.md
Labels: none

fix(docs): version callout for returns from server onUploadComplete
  docs/src/pages/api-reference/server.mdx
Labels: ðŸ“š documentation

chore: revalidate npm tag on dashboard after release
  .github/workflows/release.yaml
Labels: none

use --turbo for faster dev server
  examples/minimal-appdir/package.json
  examples/minimal-pagedir/package.json
  examples/with-drizzle-appdir/package.json
  examples/with-drizzle-pagesdir/next.config.mjs
  examples/with-drizzle-pagesdir/package.json
  examples/with-react-image-crop/package.json
  examples/with-serveractions/package.json
  examples/with-tailwindcss/package.json
Labels: examples

chore: use explicit `build` command
  packages/nuxt/package.json
Labels: none

feat(nuxt): allow automatic router type inference
  packages/nuxt/playground/nuxt.config.ts
  packages/nuxt/playground/server/uploadthing.ts
  packages/nuxt/src/module.ts
  packages/nuxt/src/runtime/composables/useUploadThing.ts
  packages/nuxt/src/runtime/server/api/uploadthing.ts
  packages/nuxt/src/runtime/server/router.ts
Labels: none

chore: remove extension
  packages/nuxt/src/module.ts
Labels: none

init nuxt module
  .npmrc
  examples/nuxt/app.vue
  examples/nuxt/components/Home.vue
  examples/nuxt/nuxt.config.ts
  examples/nuxt/package.json
  examples/nuxt/public/favicon.ico
  examples/nuxt/server/api/uploadthing.ts
  packages/nuxt/.gitignore
  packages/nuxt/.nuxtrc
  packages/nuxt/README.md
  packages/nuxt/package.json
  packages/nuxt/src/module.ts
  packages/nuxt/src/runtime/composables/useUploadThing.ts
  packages/nuxt/src/runtime/server/api/uploadthing.ts
  packages/nuxt/tsconfig.json
  packages/uploadthing/package.json
  packages/vue/.vscode/extensions.json
  packages/vue/package.json
  pnpm-lock.yaml
Labels: examples

move exmaple to module playground
  examples/nuxt/app.vue
  examples/nuxt/nuxt.config.ts
  examples/nuxt/tsconfig.json
  packages/nuxt/playground/app.vue
  packages/nuxt/playground/nuxt.config.ts
  packages/nuxt/playground/package.json
  packages/nuxt/playground/server/tsconfig.json
  packages/nuxt/playground/server/uploadthing.ts
  packages/nuxt/playground/tsconfig.json
  packages/nuxt/src/module.ts
  packages/vue/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: examples

Update .npmrc
  .npmrc
Labels: none

cleanup
  examples/minimal-nuxt/README.md
  packages/nuxt/.gitignore
Labels: examples

sync lock
  pnpm-lock.yaml
Labels: none

fix
  packages/nuxt/package.json
Labels: none

update from main
  packages/vue/src/components.tsx
  packages/vue/src/types.ts
  packages/vue/src/useUploadThing.ts
Labels: none

Update .npmrc
  .npmrc
Labels: none

sync lock
  pnpm-lock.yaml
Labels: none

cleanup
  examples/minimal-nuxt/README.md
  packages/nuxt/.gitignore
Labels: examples

init nuxt module
  .npmrc
  examples/nuxt/app.vue
  examples/nuxt/components/Home.vue
  examples/nuxt/nuxt.config.ts
  examples/nuxt/package.json
  examples/nuxt/public/favicon.ico
  examples/nuxt/server/api/uploadthing.ts
  packages/nuxt/.gitignore
  packages/nuxt/.nuxtrc
  packages/nuxt/README.md
  packages/nuxt/package.json
  packages/nuxt/src/module.ts
  packages/nuxt/src/runtime/composables/useUploadThing.ts
  packages/nuxt/src/runtime/server/api/uploadthing.ts
  packages/nuxt/tsconfig.json
  packages/uploadthing/package.json
  packages/vue/.vscode/extensions.json
  packages/vue/package.json
  pnpm-lock.yaml
Labels: examples

move exmaple to module playground
  examples/nuxt/app.vue
  examples/nuxt/nuxt.config.ts
  examples/nuxt/tsconfig.json
  packages/nuxt/playground/app.vue
  packages/nuxt/playground/nuxt.config.ts
  packages/nuxt/playground/package.json
  packages/nuxt/playground/server/tsconfig.json
  packages/nuxt/playground/server/uploadthing.ts
  packages/nuxt/playground/tsconfig.json
  packages/nuxt/src/module.ts
  packages/vue/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: examples

feat: use user router in component types
  packages/nuxt/src/module.ts
  packages/nuxt/src/runtime/components/button.ts
  packages/nuxt/src/runtime/components/dropzone.ts
Labels: none

chore: use bundler resolution within playground
  packages/nuxt/.nuxtrc
  packages/nuxt/tsconfig.json
Labels: none

chore: format
  packages/nuxt/src/runtime/composables/useUploadThing.ts
Labels: none

6.0
  docs/src/pages/api-reference/react.mdx
  docs/src/pages/api-reference/server.mdx
Labels: ðŸ“š documentation

fix(docs): version callout for returns from server onUploadComplete (#461)
  docs/src/pages/api-reference/react.mdx
  docs/src/pages/api-reference/server.mdx
Labels: ðŸ“š documentation

switch to new secret
  .github/workflows/release.yaml
Labels: none

effect refactoring: remove Effect.die + improve UploadThingError
  packages/shared/package.json
  packages/shared/src/error.ts
  packages/uploadthing/src/client.ts
  pnpm-lock.yaml
Labels: uploadthing/client

More effect refactoring
  .vscode/operators.code-snippets
  packages/uploadthing/src/client.ts
  packages/uploadthing/src/effect-utils.ts
  packages/uploadthing/src/internal/ut-reporter.ts
Labels: uploadthing/client

.github/labeler.yml:

'ðŸ“š documentation':
  - any: ['docs/**', '!docs/**/package.json']

'examples':
  - any: ['examples/**', '!examples/**/package.json']

'@uploadthing/react':
  - any: ['packages/react/**', '!packages/react/package.json']

'uploadthing/client':
  - any: ['packages/uploadthing/src/client.ts']

'uploadthing/next':
  - any: ['packages/uploadthing/src/next.ts', 'packages/uploadthing/src/next-legacy.ts']

'backend adapters':
  - any: [
    'packages/uploadthing/src/express.ts',
    'packages/uploadthing/src/h3.ts', 
    'packages/uploadthing/src/fastify.ts'
  ]

'sdk':
  - any: ['packages/uploadthing/src/sdk/**']
