Repository pingdotgg/uploadthing, changes with the labels that .github/labeler.yml gives for each.
All labels: ðŸ“š documentation, examples, @uploadthing/react, uploadthing/client, uploadthing/next, backend adapters, sdk

fix
  packages/uploadthing/src/internal/handler.ts
Labels: none

unnecessary try-catch
  packages/uploadthing/src/internal/handler.ts
Labels: none

attempt fix release ci
  .changeset/healthy-jobs-grow.md
Labels: none

Update packages/uploadthing/CHANGELOG.md
  packages/uploadthing/CHANGELOG.md
Labels: none

Update packages/uploadthing/CHANGELOG.md
  packages/uploadthing/CHANGELOG.md
Labels: none

chore(release): 📦 version packages (#442)
  .changeset/healthy-jobs-grow.md
  docs/package.json
  examples/backend-adapters/client/package.json
  examples/backend-adapters/package.json
  examples/backend-adapters/server/package.json
  examples/minimal-appdir/package.json
  examples/minimal-pagedir/package.json
  examples/minimal-solidstart/package.json
  examples/with-clerk-appdir/package.json
  examples/with-clerk-pagesdir/package.json
  examples/with-drizzle-appdir/package.json
  examples/with-drizzle-pagesdir/package.json
  examples/with-react-image-crop/package.json
  examples/with-serveractions/package.json
  examples/with-tailwindcss/package.json
  packages/react/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/solid/package.json
  packages/uploadthing/CHANGELOG.md
  packages/uploadthing/package.json
  pnpm-lock.yaml
Labels: none

rm unused
  packages/shared/src/utils.ts
Labels: none

fix: point discord release message to "general release" page
  .github/workflows/release.yaml
Labels: none

fix: point discord release message to "general release" page (#445)
  .github/workflows/release.yaml
Labels: none

fixx
  packages/uploadthing/src/next-legacy.ts
Labels: none

add other adapters
  packages/uploadthing/src/express.ts
  packages/uploadthing/src/fastify.ts
  packages/uploadthing/src/h3.ts
Labels: none

fix express not removing listener
  packages/uploadthing/src/express.ts
Labels: none

bump rest
  docs/package.json
  examples/minimal-appdir/package.json
  examples/minimal-pagedir/package.json
  examples/with-clerk-appdir/package.json
  examples/with-clerk-pagesdir/package.json
  examples/with-drizzle-appdir/package.json
  examples/with-drizzle-pagesdir/package.json
  examples/with-react-image-crop/package.json
  examples/with-serveractions/package.json
  examples/with-tailwindcss/package.json
  packages/config/eslint-config/package.json
  packages/react/package.json
  packages/uploadthing/package.json
  pnpm-lock.yaml
Labels: none

fix docs build
  docs/package.json
  examples/backend-adapters/client/package.json
  examples/minimal-appdir/package.json
  examples/minimal-astro-react/package.json
  examples/minimal-pagedir/package.json
  examples/with-clerk-appdir/package.json
  examples/with-clerk-pagesdir/package.json
  examples/with-drizzle-appdir/package.json
  examples/with-drizzle-pagesdir/package.json
  examples/with-react-image-crop/package.json
  examples/with-serveractions/package.json
  examples/with-tailwindcss/package.json
  packages/react/package.json
  packages/uploadthing/package.json
  pnpm-lock.yaml
Labels: none

bumpy babel
  pnpm-lock.yaml
Labels: none

chore: rm leftovers from old examples
  examples/appdir/next-env.d.ts
  examples/pagedir/next-env.d.ts
Labels: examples

fix(examples): leftover server actions config
  examples/minimal-appdir/next.config.js
  examples/with-react-image-crop/next.config.js
  examples/with-serveractions/next.config.js
Labels: examples

changeset for mime-types
  .changeset/thirty-masks-fetch.md
Labels: none

manual ones on shared and core
  .changeset/thirty-masks-fetch.md
Labels: none

Update thirty-masks-fetch.md
  .changeset/thirty-masks-fetch.md
Labels: none

chore: changeset for mime-types (#448)
  .changeset/thirty-masks-fetch.md
Labels: none

bump peer - fix changelogs
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/uploadthing/CHANGELOG.md
Labels: none

chore(release): 📦 version packages (#449)
  .changeset/thirty-masks-fetch.md
  docs/package.json
  examples/backend-adapters/client/package.json
  examples/backend-adapters/package.json
  examples/backend-adapters/server/package.json
  examples/minimal-appdir/package.json
  examples/minimal-pagedir/package.json
  examples/minimal-solidstart/package.json
  examples/with-clerk-appdir/package.json
  examples/with-clerk-pagesdir/package.json
  examples/with-drizzle-appdir/package.json
  examples/with-drizzle-pagesdir/package.json
  examples/with-react-image-crop/package.json
  examples/with-serveractions/package.json
  examples/with-tailwindcss/package.json
  packages/mime-types/CHANGELOG.md
  packages/mime-types/package.json
  packages/react/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/solid/package.json
  packages/uploadthing/CHANGELOG.md
  packages/uploadthing/package.json
  pnpm-lock.yaml
Labels: none

adds a pre-processor callback onBeforeUploadBegin
  .gitignore
  packages/react/src/components/button.tsx
  packages/react/src/components/dropzone.tsx
  packages/react/src/types.ts
  packages/react/src/useUploadThing.ts
  packages/solid/src/components/button.tsx
  packages/solid/src/components/dropzone.tsx
  packages/solid/src/types.ts
  packages/solid/src/useUploadThing.ts
  packages/uploadthing/src/client.ts
Labels: @uploadthing/react, uploadthing/client

changeset added
  .changeset/empty-birds-beam.md
Labels: none

we want to return the files
  packages/react/src/types.ts
  packages/react/src/useUploadThing.ts
  packages/solid/src/types.ts
  packages/solid/src/useUploadThing.ts
  packages/uploadthing/src/client.ts
Labels: @uploadthing/react, uploadthing/client

it needs to set the files state and not just files being uploaded to carry the filename all the way through
  packages/react/src/components/button.tsx
  packages/react/src/components/dropzone.tsx
  packages/react/src/useUploadThing.ts
  packages/solid/src/components/button.tsx
  packages/solid/src/components/dropzone.tsx
Labels: @uploadthing/react

apply better logic
  packages/react/src/components/button.tsx
Labels: @uploadthing/react

upload accepted files immediately
  packages/react/src/components/dropzone.tsx
Labels: @uploadthing/react

Refactor file upload functionality
  packages/react/src/components/button.tsx
  packages/react/src/useUploadThing.ts
  packages/solid/src/components/dropzone.tsx
  packages/solid/src/useUploadThing.ts
  packages/uploadthing/src/client.ts
Labels: @uploadthing/react, uploadthing/client

Refactor file upload logic in Dropzone component
  packages/react/src/components/dropzone.tsx
Labels: @uploadthing/react

Remove unnecessary code and simplify file upload logic.
  packages/react/src/components/button.tsx
  packages/react/src/components/dropzone.tsx
Labels: @uploadthing/react

Remove unnecessary line in UploadDropzone component
  packages/react/src/components/dropzone.tsx
  packages/solid/src/components/dropzone.tsx
Labels: @uploadthing/react

prevent double-firign
  examples/minimal-appdir/src/app/page.tsx
  packages/react/src/components/button.tsx
  packages/react/src/components/dropzone.tsx
  packages/solid/src/components/dropzone.tsx
  packages/solid/src/useUploadThing.ts
Labels: examples, @uploadthing/react

fmt
  packages/react/src/components/dropzone.tsx
Labels: @uploadthing/react

fix solid
  packages/solid/src/components/button.tsx
  packages/solid/src/components/dropzone.tsx
  packages/solid/src/useUploadThing.ts
Labels: none

rev
  packages/solid/src/components/dropzone.tsx
Labels: none

prevent double firing
  packages/react/src/components/button.tsx
  packages/react/src/components/dropzone.tsx
  packages/solid/src/components/button.tsx
  packages/solid/src/components/dropzone.tsx
Labels: @uploadthing/react

fmt
  packages/react/src/components/dropzone.tsx
Labels: @uploadthing/react

docs
  docs/src/pages/api-reference/react.mdx
Labels: ðŸ“š documentation

.github/labeler.yml:

'ðŸ“š documentation':
  - any: ['docs/**', '!docs/**/package.json']

'examples':
  - any: ['examples/**', '!examples/**/package.json']

'@uploadthing/react':
  - any: ['packages/react/**', '!packages/react/package.json']

'uploadthing/client':
  - any: ['packages/uploadthing/src/client.ts']

'uploadthing/next':
  - any: ['packages/uploadthing/src/next.ts', 'packages/uploadthing/src/next-legacy.ts']

'backend adapters':
  - any: [
    'packages/uploadthing/src/express.ts',
    'packages/uploadthing/src/h3.ts', 
    'packages/uploadthing/src/fastify.ts'
  ]

'sdk':
  - any: ['packages/uploadthing/src/sdk/**']
