Repository pingdotgg/uploadthing, changes with the labels that .github/labeler.yml gives for each.
All labels: ðŸ“š documentation, examples, @uploadthing/react, uploadthing/client, uploadthing/next, backend adapters, sdk

.github/labeler.yml:

'ðŸ“š documentation':
  - any: ['docs/**', '!docs/**/package.json']

'examples':
  - any: ['examples/**', '!examples/**/package.json']

'@uploadthing/react':
  - any: ['packages/react/**', '!packages/react/package.json']

'uploadthing/client':
  - any: ['packages/uploadthing/src/client.ts']

'uploadthing/next':
  - any: ['packages/uploadthing/src/next.ts', 'packages/uploadthing/src/next-legacy.ts']

'backend adapters':
  - any: [
    'packages/uploadthing/src/express.ts',
    'packages/uploadthing/src/h3.ts', 
    'packages/uploadthing/src/fastify.ts'
  ]

'sdk':
  - any: ['packages/uploadthing/src/sdk/**']

nit docs
  docs/src/pages/api-reference/react.mdx
Labels: ðŸ“š documentation

Update empty-birds-beam.md
  .changeset/empty-birds-beam.md
Labels: none

Update empty-birds-beam.md
  .changeset/empty-birds-beam.md
Labels: none

feat: adds a pre-processor callback onBeforeUploadBegin (#453)
  .changeset/empty-birds-beam.md
  .gitignore
  docs/src/pages/api-reference/react.mdx
  packages/react/src/components/button.tsx
  packages/react/src/components/dropzone.tsx
  packages/react/src/types.ts
  packages/react/src/useUploadThing.ts
  packages/solid/src/components/button.tsx
  packages/solid/src/components/dropzone.tsx
  packages/solid/src/types.ts
  packages/solid/src/useUploadThing.ts
Labels: ðŸ“š documentation, @uploadthing/react

rm cmt
  packages/uploadthing/src/sdk/index.ts
Labels: sdk

rev
  packages/uploadthing/src/sdk/index.ts
Labels: sdk

type
  packages/uploadthing/src/internal/handler.ts
  packages/uploadthing/src/sdk/utils.ts
Labels: sdk

test version for SA
  packages/uploadthing/src/sdk/index.ts
Labels: sdk

fix lambda callback etc
  packages/shared/src/utils.ts
  packages/uploadthing/src/client.ts
  packages/uploadthing/src/internal/dev-hook.ts
  packages/uploadthing/src/internal/handler.ts
  packages/uploadthing/src/internal/types.ts
  packages/uploadthing/src/internal/ut-reporter.ts
  packages/uploadthing/src/sdk/utils.ts
Labels: uploadthing/client, sdk

fix progress
  packages/uploadthing/src/client.ts
  packages/uploadthing/src/internal/multi-part.ts
Labels: uploadthing/client

make server uploads multipart
  packages/shared/src/types.ts
  packages/uploadthing/src/sdk/index.ts
  packages/uploadthing/src/sdk/utils.ts
Labels: sdk

client uploads
  packages/uploadthing/src/client.ts
  packages/uploadthing/src/internal/handler.ts
  packages/uploadthing/src/internal/multi-part.ts
  packages/uploadthing/src/internal/types.ts
  packages/uploadthing/src/sdk/utils.ts
Labels: uploadthing/client, sdk

comment why 2 fns are used
  packages/uploadthing/src/internal/multi-part.ts
Labels: none

rm log
  packages/uploadthing/src/sdk/utils.ts
Labels: sdk

Apply suggestions from code review
  packages/uploadthing/src/internal/handler.ts
Labels: none

Create famous-hornets-matter.md
  .changeset/famous-hornets-matter.md
Labels: none

Apply suggestions from code review
  packages/uploadthing/src/sdk/index.ts
Labels: sdk

feat!: multipart uploads (#432)
  .changeset/famous-hornets-matter.md
  packages/shared/src/types.ts
  packages/shared/src/utils.ts
  packages/uploadthing/src/client.ts
  packages/uploadthing/src/internal/dev-hook.ts
  packages/uploadthing/src/internal/handler.ts
  packages/uploadthing/src/internal/multi-part.ts
  packages/uploadthing/src/internal/types.ts
  packages/uploadthing/src/internal/ut-reporter.ts
  packages/uploadthing/src/sdk/utils.ts
Labels: uploadthing/client, sdk

fix: correct changeset bump
  .changeset/famous-hornets-matter.md
Labels: none

fix: correct changeset (2)
  .changeset/famous-hornets-matter.md
Labels: none

changest clarify url parsing
  .changeset/grumpy-chicken-explode.md
Labels: none

start sending apikey to pollUpload endpoint
  packages/shared/src/utils.ts
  packages/uploadthing/src/client.ts
  packages/uploadthing/src/internal/dev-hook.ts
  packages/uploadthing/src/internal/handler.ts
  packages/uploadthing/src/sdk/utils.ts
Labels: uploadthing/client, sdk

chore: start sending apikey to pollUpload endpoint (#452)
  packages/shared/src/utils.ts
  packages/uploadthing/src/client.ts
  packages/uploadthing/src/internal/dev-hook.ts
  packages/uploadthing/src/internal/handler.ts
  packages/uploadthing/src/sdk/utils.ts
Labels: uploadthing/client, sdk

feat!: allow arbitrary callback urls [UPL-62] (#310)
  .changeset/grumpy-chicken-explode.md
  docs/src/pages/api-reference/next.mdx
  docs/src/pages/api-reference/react.mdx
  docs/src/pages/getting-started/_shared/env-setup.mdx
  docs/src/pages/getting-started/appdir.mdx
  docs/src/pages/getting-started/pagedir.mdx
  docs/src/pages/getting-started/solid.mdx
  examples/backend-adapters/server/src/h3.ts
  examples/minimal-solidstart/src/utils/uploadthing.ts
  packages/react/src/component.tsx
  packages/react/src/components/button.tsx
  packages/react/src/components/dropzone.tsx
  packages/react/src/types.ts
  packages/react/src/useUploadThing.ts
  packages/shared/src/utils.ts
  packages/solid/src/component.tsx
  packages/solid/src/components/button.tsx
  packages/solid/src/components/dropzone.tsx
  packages/solid/src/types.ts
  packages/solid/src/useUploadThing.ts
  packages/uploadthing/src/client.ts
  packages/uploadthing/src/express.ts
  packages/uploadthing/src/fastify.ts
  packages/uploadthing/src/internal/handler.ts
  packages/uploadthing/src/internal/ut-reporter.ts
  packages/uploadthing/src/next-legacy.ts
  packages/uploadthing/test/get-full-url.test.ts
Labels: ðŸ“š documentation, examples, @uploadthing/react, uploadthing/client

first pass
  packages/uploadthing/package.json
  packages/uploadthing/src/client.ts
  packages/uploadthing/src/internal/ut-reporter.ts
  packages/uploadthing/tsconfig.json
  pnpm-lock.yaml
Labels: uploadthing/client

add nvmrc
  .nvmrc
Labels: none

resolve json module
  packages/uploadthing/src/constants.ts
  packages/uploadthing/tsconfig.json
Labels: none

smaller bundle? fix cjs / esm interop
  packages/mime-types/package.json
  packages/react/package.json
  packages/shared/package.json
  packages/uploadthing/package.json
  packages/uploadthing/src/client.ts
  packages/uploadthing/src/constants.ts
  packages/uploadthing/src/express.ts
  packages/uploadthing/src/fastify.ts
  packages/uploadthing/src/h3.ts
  packages/uploadthing/src/internal/dev-hook.ts
  packages/uploadthing/src/internal/error-formatter.ts
  packages/uploadthing/src/internal/handler.ts
  packages/uploadthing/src/internal/multi-part.ts
  packages/uploadthing/src/internal/parser.ts
  packages/uploadthing/src/internal/types.ts
  packages/uploadthing/src/internal/upload-builder.ts
  packages/uploadthing/src/internal/ut-reporter.ts
  packages/uploadthing/src/next-legacy.ts
  packages/uploadthing/src/next.ts
  packages/uploadthing/src/sdk/index.ts
  packages/uploadthing/src/sdk/sdk.test.ts
  packages/uploadthing/src/sdk/utils.ts
  packages/uploadthing/src/server.ts
  packages/uploadthing/src/tw.ts
  packages/uploadthing/test/gen-uploader.test.ts
  packages/uploadthing/test/get-full-url.test.ts
  packages/uploadthing/test/upload-builder.test.ts
  packages/uploadthing/tsconfig.json
  packages/uploadthing/tsup.config.ts
Labels: uploadthing/client, sdk

improved error handling
  .changeset/smooth-seas-attend.md
  .changeset/wise-ants-end.md
  .gitignore
  packages/react/src/useUploadThing.ts
  packages/solid/src/types.ts
  packages/solid/src/useUploadThing.ts
  packages/uploadthing/src/client.ts
Labels: @uploadthing/react, uploadthing/client

stringify
  packages/react/src/useUploadThing.ts
  packages/solid/src/useUploadThing.ts
Labels: @uploadthing/react

fix
  packages/react/src/useUploadThing.ts
  packages/solid/src/useUploadThing.ts
  packages/uploadthing/src/client.ts
  packages/uploadthing/src/internal/handler.ts
Labels: @uploadthing/react, uploadthing/client

rev
  packages/react/src/types.ts
  packages/solid/src/useUploadThing.ts
  packages/uploadthing/src/internal/types.ts
  packages/uploadthing/src/server.ts
Labels: @uploadthing/react

eh
  packages/react/src/useUploadThing.ts
  packages/solid/src/useUploadThing.ts
  packages/uploadthing/src/client.ts
  packages/uploadthing/src/internal/types.ts
  packages/uploadthing/test/gen-uploader.test.ts
Labels: @uploadthing/react, uploadthing/client

pass ee to post request handler for all adapters
  packages/uploadthing/src/express.ts
  packages/uploadthing/src/fastify.ts
  packages/uploadthing/src/h3.ts
  packages/uploadthing/src/next-legacy.ts
  packages/uploadthing/src/server.ts
Labels: none

fix url
  packages/uploadthing/src/client.ts
Labels: uploadthing/client

fix component types
  packages/react/src/component.tsx
  packages/react/src/components/button.tsx
  packages/react/src/components/dropzone.tsx
  packages/react/src/types.ts
  packages/solid/src/component.tsx
  packages/solid/src/components/button.tsx
  packages/solid/src/components/dropzone.tsx
  packages/solid/src/types.ts
  packages/uploadthing/src/constants.ts
Labels: @uploadthing/react

chore: add nvmrc (#456)
  .nvmrc
Labels: none

fix: improved error handling (#451)
  .changeset/smooth-seas-attend.md
  .changeset/wise-ants-end.md
  .gitignore
  packages/react/src/useUploadThing.ts
  packages/solid/src/types.ts
  packages/solid/src/useUploadThing.ts
  packages/uploadthing/src/client.ts
Labels: @uploadthing/react, uploadthing/client

revert version
  packages/uploadthing/src/constants.ts
  packages/uploadthing/tsconfig.json
Labels: none

update changeset
  .changeset/clever-meals-doubt.md
  docs/src/pages/api-reference/react.mdx
Labels: ðŸ“š documentation
