Repository pingdotgg/uploadthing, changes with the labels that .github/labeler.yml gives for each.
All labels: ðŸ“š documentation, examples, @uploadthing/react, uploadthing/client, uploadthing/next, backend adapters, sdk

.github/labeler.yml:

'ðŸ“š documentation':
  - any: ['docs/**', '!docs/**/package.json']

'examples':
  - any: ['examples/**', '!examples/**/package.json']

'@uploadthing/react':
  - any: ['packages/react/**', '!packages/react/package.json']

'uploadthing/client':
  - any: ['packages/uploadthing/src/client.ts']

'uploadthing/next':
  - any: ['packages/uploadthing/src/next.ts', 'packages/uploadthing/src/next-legacy.ts']

'backend adapters':
  - any: [
    'packages/uploadthing/src/express.ts',
    'packages/uploadthing/src/h3.ts', 
    'packages/uploadthing/src/fastify.ts'
  ]

'sdk':
  - any: ['packages/uploadthing/src/sdk/**']

chore(effect refactoring): remove Effect.die + improve UploadThingError (#464)
  .vscode/operators.code-snippets
  packages/shared/package.json
  packages/shared/src/error.ts
  packages/uploadthing/src/client.ts
  packages/uploadthing/src/effect-utils.ts
  packages/uploadthing/src/internal/ut-reporter.ts
  pnpm-lock.yaml
Labels: uploadthing/client

chore: revalidate npm tag on dashboard after release (#462)
  .github/workflows/release.yaml
Labels: none

chore(release): 📦 version packages (#455)
  .changeset/clever-meals-doubt.md
  .changeset/empty-birds-beam.md
  .changeset/famous-hornets-matter.md
  .changeset/grumpy-chicken-explode.md
  .changeset/neat-buses-flow.md
  .changeset/real-peas-compare.md
  .changeset/smooth-seas-attend.md
  .changeset/wise-ants-end.md
  docs/package.json
  examples/backend-adapters/client/package.json
  examples/backend-adapters/package.json
  examples/backend-adapters/server/package.json
  examples/minimal-appdir/package.json
  examples/minimal-pagedir/package.json
  examples/minimal-solidstart/package.json
  examples/with-clerk-appdir/package.json
  examples/with-clerk-pagesdir/package.json
  examples/with-drizzle-appdir/package.json
  examples/with-drizzle-pagesdir/package.json
  examples/with-react-image-crop/package.json
  examples/with-serveractions/package.json
  examples/with-tailwindcss/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/solid/CHANGELOG.md
  packages/solid/package.json
  packages/uploadthing/CHANGELOG.md
  packages/uploadthing/package.json
  pnpm-lock.yaml
Labels: @uploadthing/react

fix(actions) : Add missing comma
  .github/workflows/release.yaml
Labels: none

readme overhaul
  README.md
Labels: none

remove solid and other packages from pnpm-lock
  packages/solid/.gitignore
  packages/solid/CHANGELOG.md
  packages/solid/package.json
  packages/solid/postcss.config.cjs
  packages/solid/src/component.tsx
  packages/solid/src/components/button.tsx
  packages/solid/src/components/dropzone.tsx
  packages/solid/src/components/shared.tsx
  packages/solid/src/index.tsx
  packages/solid/src/styles.css
  packages/solid/src/types.ts
  packages/solid/src/useUploadThing.ts
  packages/solid/src/utils/createFetch.ts
  packages/solid/tailwind.config.cjs
  packages/solid/tsconfig.json
  packages/solid/tsup.config.js
  pnpm-lock.yaml
Labels: none

fix: (actions) Add missing comma (#465)
  .github/workflows/release.yaml
Labels: none

fix invalid json when serverdata is undefined
  .changeset/cuddly-timers-cheer.md
  packages/uploadthing/src/server.ts
Labels: none

move it
  packages/uploadthing/src/internal/handler.ts
  packages/uploadthing/src/server.ts
Labels: none

cmt
  packages/uploadthing/src/internal/handler.ts
Labels: none

fix serialization
  packages/shared/src/types.ts
  packages/uploadthing/src/internal/types.ts
Labels: none

handle undefined for input
  packages/uploadthing/src/internal/parser.ts
  packages/uploadthing/test/upload-builder.test.ts
Labels: none

rev
  packages/uploadthing/src/internal/parser.ts
Labels: none

fuck it
  packages/shared/src/types.ts
Labels: none

testy
  packages/react/test/client-generator.test.ts
Labels: @uploadthing/react

tset udnedfined
  packages/react/test/client-generator.test.ts
Labels: @uploadthing/react

fix: invalid json when serverdata is undefined (#469)
  .changeset/cuddly-timers-cheer.md
  packages/react/test/client-generator.test.ts
  packages/uploadthing/src/internal/handler.ts
  packages/uploadthing/src/internal/types.ts
  packages/uploadthing/test/upload-builder.test.ts
Labels: @uploadthing/react

chore(release): 📦 version packages (#471)
  .changeset/cuddly-timers-cheer.md
  docs/package.json
  examples/backend-adapters/client/package.json
  examples/backend-adapters/package.json
  examples/backend-adapters/server/package.json
  examples/minimal-appdir/package.json
  examples/minimal-pagedir/package.json
  examples/minimal-solidstart/package.json
  examples/with-clerk-appdir/package.json
  examples/with-clerk-pagesdir/package.json
  examples/with-drizzle-appdir/package.json
  examples/with-drizzle-pagesdir/package.json
  examples/with-react-image-crop/package.json
  examples/with-serveractions/package.json
  examples/with-tailwindcss/package.json
  packages/react/package.json
  packages/solid/package.json
  packages/uploadthing/CHANGELOG.md
  packages/uploadthing/package.json
  pnpm-lock.yaml
Labels: none

no syntax highlighting is hard
  .github/workflows/release.yaml
Labels: none

fix(ci): no syntax highlighting is hard (#472)
  .github/workflows/release.yaml
Labels: none

test: fly custom header to ensure same machine
  packages/uploadthing/src/client.ts
  packages/uploadthing/src/internal/ut-reporter.ts
Labels: uploadthing/client

passthrough ehadser
  packages/uploadthing/src/internal/handler.ts
  packages/uploadthing/src/server.ts
Labels: none

copilot...
  packages/uploadthing/src/internal/handler.ts
Labels: none

rm explicit fly headers
  packages/uploadthing/src/client.ts
  packages/uploadthing/src/internal/ut-reporter.ts
Labels: uploadthing/client

new log
  packages/uploadthing/src/internal/handler.ts
Labels: none

response headers?
  packages/uploadthing/src/internal/handler.ts
  packages/uploadthing/src/server.ts
Labels: none

Revert "new log"
  packages/uploadthing/src/internal/handler.ts
Labels: none

fwd from client
  packages/react/src/component.tsx
  packages/react/src/types.ts
  packages/react/src/useUploadThing.ts
  packages/solid/src/component.tsx
  packages/solid/src/useUploadThing.ts
  packages/uploadthing/src/client.ts
  packages/uploadthing/src/internal/ut-reporter.ts
Labels: @uploadthing/react, uploadthing/client

gen-uploader
  packages/uploadthing/src/client.ts
Labels: uploadthing/client

no response header
  packages/uploadthing/src/internal/handler.ts
  packages/uploadthing/src/server.ts
Labels: none

fmt
  packages/uploadthing/src/internal/handler.ts
Labels: none

cmt
  packages/uploadthing/src/internal/handler.ts
Labels: none

run concurrently
  packages/uploadthing/src/client.ts
Labels: uploadthing/client

make reportEventToUT reject if !ok
  packages/uploadthing/src/client.ts
  packages/uploadthing/src/internal/ut-reporter.ts
Labels: uploadthing/client

Mark Express as external dep
  packages/uploadthing/tsup.config.ts
Labels: none

Vue components theming support
  examples/nuxt/components/Home.vue
  examples/nuxt/nuxt.config.ts
  examples/nuxt/package.json
  examples/nuxt/tailwind.config.ts
  packages/solid/package.json
  packages/uploadthing/package.json
  packages/uploadthing/src/internal/component-theming.ts
  packages/uploadthing/src/tw.ts
  packages/vue/package.json
  packages/vue/src/components.tsx
  packages/vue/src/components/button.tsx
  packages/vue/src/components/dropzone.tsx
  packages/vue/src/components/shared.tsx
  packages/vue/src/shared.ts
  pnpm-lock.yaml
Labels: examples

format
  examples/nuxt/package.json
  examples/nuxt/tailwind.config.ts
  packages/solid/package.json
  packages/uploadthing/package.json
  packages/uploadthing/src/internal/component-theming.ts
  packages/uploadthing/src/tw.ts
  packages/vue/package.json
  packages/vue/src/components.tsx
  packages/vue/src/components/button.tsx
  packages/vue/src/components/dropzone.tsx
  packages/vue/src/components/shared.tsx
Labels: examples

Dep version fix
  packages/react/package.json
  packages/solid/package.json
  pnpm-lock.yaml
Labels: none

changeset
  .changeset/young-trains-smoke.md
Labels: none

format
  packages/react/package.json
  packages/solid/package.json
Labels: none
