Repository pingdotgg/uploadthing, changes with the labels that .github/labeler.yml gives for each.
All labels: ðŸ“š documentation, examples, @uploadthing/react, uploadthing/client, uploadthing/next, backend adapters, sdk

.github/labeler.yml:

'ðŸ“š documentation':
  - any: ['docs/**', '!docs/**/package.json']

'examples':
  - any: ['examples/**', '!examples/**/package.json']

'@uploadthing/react':
  - any: ['packages/react/**', '!packages/react/package.json']

'uploadthing/client':
  - any: ['packages/uploadthing/src/client.ts']

'uploadthing/next':
  - any: ['packages/uploadthing/src/next.ts', 'packages/uploadthing/src/next-legacy.ts']

'backend adapters':
  - any: [
    'packages/uploadthing/src/express.ts',
    'packages/uploadthing/src/h3.ts', 
    'packages/uploadthing/src/fastify.ts'
  ]

'sdk':
  - any: ['packages/uploadthing/src/sdk/**']

fmt
  packages/uploadthing/tsup.config.ts
Labels: none

fix: make Express external dependency (#479)
  .changeset/young-trains-smoke.md
  packages/uploadthing/tsup.config.ts
Labels: none

more externals
  packages/uploadthing/tsup.config.ts
Labels: none

chore: more externals (#482)
  packages/uploadthing/tsup.config.ts
Labels: none

typecast
  packages/uploadthing/src/client.ts
Labels: uploadthing/client

do poll...
  packages/uploadthing/src/client.ts
Labels: uploadthing/client

Create curly-lions-enjoy.md
  .changeset/curly-lions-enjoy.md
Labels: none

fixx
  packages/shared/src/utils.ts
Labels: none

keep going on undefined
  packages/shared/src/utils.ts
  packages/uploadthing/src/client.ts
Labels: uploadthing/client

use exponential backoff
  packages/uploadthing/src/client.ts
Labels: uploadthing/client

wait a bit before first polll
  packages/uploadthing/src/client.ts
Labels: uploadthing/client

better again
  packages/react/src/components/button.tsx
Labels: @uploadthing/react

don't use sse
  packages/uploadthing/src/client.ts
  packages/uploadthing/src/express.ts
  packages/uploadthing/src/fastify.ts
  packages/uploadthing/src/h3.ts
  packages/uploadthing/src/internal/handler.ts
  packages/uploadthing/src/next-legacy.ts
  packages/uploadthing/src/server.ts
Labels: uploadthing/client

better spinner state
  packages/react/src/components/button.tsx
Labels: @uploadthing/react

actually do polling
  packages/uploadthing/src/client.ts
Labels: uploadthing/client

fix: don't use sse (#480)
  .changeset/curly-lions-enjoy.md
  packages/react/src/components/button.tsx
  packages/shared/src/utils.ts
  packages/uploadthing/src/client.ts
  packages/uploadthing/src/express.ts
  packages/uploadthing/src/fastify.ts
  packages/uploadthing/src/h3.ts
  packages/uploadthing/src/internal/handler.ts
  packages/uploadthing/src/next-legacy.ts
  packages/uploadthing/src/server.ts
Labels: @uploadthing/react, uploadthing/client

chore(release): 📦 version packages (#481)
  .changeset/curly-lions-enjoy.md
  .changeset/young-trains-smoke.md
  docs/package.json
  examples/backend-adapters/client/package.json
  examples/backend-adapters/package.json
  examples/backend-adapters/server/package.json
  examples/minimal-appdir/package.json
  examples/minimal-pagedir/package.json
  examples/minimal-solidstart/package.json
  examples/with-clerk-appdir/package.json
  examples/with-clerk-pagesdir/package.json
  examples/with-drizzle-appdir/package.json
  examples/with-drizzle-pagesdir/package.json
  examples/with-react-image-crop/package.json
  examples/with-serveractions/package.json
  examples/with-tailwindcss/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/solid/package.json
  packages/uploadthing/CHANGELOG.md
  packages/uploadthing/package.json
  pnpm-lock.yaml
Labels: @uploadthing/react

callbackdata should not be null
  packages/uploadthing/src/internal/handler.ts
Labels: none

chore: fix nvmrc
  .nvmrc
Labels: none

smarter URL detection
  docs/src/pages/api-reference/next.mdx
  docs/src/pages/faq.mdx
  packages/uploadthing/src/client.ts
  packages/uploadthing/src/internal/get-full-api-url.ts
  packages/uploadthing/src/internal/handler.ts
  packages/uploadthing/test/get-full-url.test.ts
Labels: ðŸ“š documentation, uploadthing/client

clarify it shouldn't be needed by default
  docs/src/pages/faq.mdx
Labels: ðŸ“š documentation

wording
  docs/src/pages/faq.mdx
Labels: ðŸ“š documentation

undefined and nulls are hard man...
  packages/shared/src/utils.ts
  packages/uploadthing/src/internal/dev-hook.ts
Labels: none

screaming comment + changeset
  .changeset/silver-peas-behave.md
  packages/shared/src/utils.ts
Labels: none

return null if error
  packages/shared/src/utils.ts
Labels: none

fix: return a random Symbol from dev hook to stop exponential backoff (#487)
  .changeset/silver-peas-behave.md
  packages/shared/src/utils.ts
  packages/uploadthing/src/internal/dev-hook.ts
Labels: none

chore(release): 📦 version packages (#488)
  .changeset/silver-peas-behave.md
  docs/package.json
  examples/backend-adapters/client/package.json
  examples/backend-adapters/package.json
  examples/backend-adapters/server/package.json
  examples/minimal-appdir/package.json
  examples/minimal-pagedir/package.json
  examples/minimal-solidstart/package.json
  examples/with-clerk-appdir/package.json
  examples/with-clerk-pagesdir/package.json
  examples/with-drizzle-appdir/package.json
  examples/with-drizzle-pagesdir/package.json
  examples/with-react-image-crop/package.json
  examples/with-serveractions/package.json
  examples/with-tailwindcss/package.json
  packages/react/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/solid/package.json
  packages/uploadthing/CHANGELOG.md
  packages/uploadthing/package.json
  pnpm-lock.yaml
Labels: none

Update react.mdx
  docs/src/pages/api-reference/react.mdx
Labels: ðŸ“š documentation

docs: update uploadFiles to v6 API (#489)
  docs/src/pages/api-reference/react.mdx
Labels: ðŸ“š documentation

fix: @uploadthing/react peer deps
  packages/react/package.json
Labels: none

Create warm-balloons-decide.md
  .changeset/warm-balloons-decide.md
Labels: none

fix: @uploadthing/react peer deps (#491)
  .changeset/warm-balloons-decide.md
  packages/react/package.json
Labels: none

chore(release): 📦 version packages (#492)
  .changeset/warm-balloons-decide.md
  docs/package.json
  examples/backend-adapters/client/package.json
  examples/backend-adapters/package.json
  examples/minimal-appdir/package.json
  examples/minimal-pagedir/package.json
  examples/with-clerk-appdir/package.json
  examples/with-clerk-pagesdir/package.json
  examples/with-drizzle-appdir/package.json
  examples/with-drizzle-pagesdir/package.json
  examples/with-react-image-crop/package.json
  examples/with-tailwindcss/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  pnpm-lock.yaml
Labels: @uploadthing/react

readme
  README.md
Labels: none

remove solid
  packages/solid/.gitignore
  packages/solid/CHANGELOG.md
  packages/solid/package.json
  packages/solid/postcss.config.cjs
  packages/solid/src/component.tsx
  packages/solid/src/components/button.tsx
  packages/solid/src/components/dropzone.tsx
  packages/solid/src/components/shared.tsx
  packages/solid/src/index.tsx
  packages/solid/src/styles.css
  packages/solid/src/types.ts
  packages/solid/src/useUploadThing.ts
  packages/solid/src/utils/createFetch.ts
  packages/solid/tailwind.config.cjs
  packages/solid/tsconfig.json
  packages/solid/tsup.config.js
  pnpm-lock.yaml
Labels: none
