Repository pingdotgg/uploadthing, pull requests merged in 2023-09, with the labels that each got.

#364 chore: Doc page with Fetch runtime setup examples
  .github/workflows/ci.yaml
  docs/src/pages/backend-adapters/_meta.json
  docs/src/pages/backend-adapters/fetch.mdx
  examples/minimal-elysia-react/README.md
  examples/minimal-elysia-react/client/index.html
  examples/minimal-elysia-react/client/package.json
  examples/minimal-elysia-react/client/src/main.tsx
  examples/minimal-elysia-react/client/src/uploadthing.ts
  examples/minimal-elysia-react/client/tsconfig.json
  examples/minimal-elysia-react/client/tsconfig.node.json
  examples/minimal-elysia-react/client/vite.config.ts
  examples/minimal-elysia-react/package.json
  examples/minimal-elysia-react/server/.env.example
  examples/minimal-elysia-react/server/package.json
  examples/minimal-elysia-react/server/src/index.ts
  examples/minimal-elysia-react/server/src/router.ts
  examples/minimal-elysia-react/server/tsconfig.json
  examples/minimal-hono-react/README.md
  examples/minimal-hono-react/client/index.html
  examples/minimal-hono-react/client/package.json
  examples/minimal-hono-react/client/src/main.tsx
  examples/minimal-hono-react/client/src/uploadthing.ts
  examples/minimal-hono-react/client/tsconfig.json
  examples/minimal-hono-react/client/tsconfig.node.json
  examples/minimal-hono-react/client/vite.config.ts
  examples/minimal-hono-react/package.json
  examples/minimal-hono-react/server/.env.example
  examples/minimal-hono-react/server/package.json
  examples/minimal-hono-react/server/src/index.ts
  examples/minimal-hono-react/server/src/router.ts
  examples/minimal-hono-react/server/tsconfig.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: 📚 documentation, examples

#357 chore(release): 📦 version packages
  .changeset/angry-pans-press.md
  .changeset/dull-starfishes-rest.md
  .changeset/funny-suns-run.md
  .changeset/old-ads-wait.md
  .changeset/smooth-hornets-call.md
  .changeset/unlucky-crabs-thank.md
  .changeset/weak-ladybugs-repair.md
  docs/package.json
  examples/minimal-appdir/package.json
  examples/minimal-elysia-react/client/package.json
  examples/minimal-elysia-react/package.json
  examples/minimal-elysia-react/server/package.json
  examples/minimal-express-react/client/package.json
  examples/minimal-express-react/package.json
  examples/minimal-express-react/server/package.json
  examples/minimal-fastify-react/client/package.json
  examples/minimal-fastify-react/package.json
  examples/minimal-fastify-react/server/package.json
  examples/minimal-hono-react/client/package.json
  examples/minimal-hono-react/package.json
  examples/minimal-hono-react/server/package.json
  examples/minimal-pagedir/package.json
  examples/minimal-solidstart/package.json
  examples/with-clerk-appdir/package.json
  examples/with-clerk-pagesdir/package.json
  examples/with-drizzle-appdir/package.json
  examples/with-drizzle-pagesdir/package.json
  examples/with-react-image-crop/package.json
  examples/with-serveractions/package.json
  examples/with-tailwindcss/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/solid/CHANGELOG.md
  packages/solid/package.json
  packages/uploadthing/CHANGELOG.md
  packages/uploadthing/package.json
  pnpm-lock.yaml
Labels: @uploadthing/react

#373 feat(sdk): add usage endpoint to sdk
  .changeset/red-bags-try.md
  packages/uploadthing/src/sdk/index.ts
Labels: sdk

#384 fix: progress bar and spinner
  .changeset/small-students-sit.md
  packages/react/src/components/button.tsx
  packages/react/src/components/dropzone.tsx
  packages/react/src/components/shared.tsx
  packages/solid/src/components/button.tsx
  packages/solid/src/components/dropzone.tsx
  packages/solid/src/components/shared.tsx
  packages/uploadthing/src/internal/component-theming.ts
Labels: @uploadthing/react

#382 fix(`UPL-63`): scream if node < 18
  .changeset/silent-jeans-occur.md
  examples/minimal-appdir/src/app/api/uploadthing/route.ts
  packages/uploadthing/package.json
  packages/uploadthing/src/express.ts
  packages/uploadthing/src/fastify.ts
  packages/uploadthing/src/internal/incompat-node-guard.ts
  packages/uploadthing/src/next-legacy.ts
  packages/uploadthing/src/sdk/index.ts
  packages/uploadthing/src/server.ts
Labels: examples, sdk

#392 fix(components): Allow upload button to be focusable via keyboard
  packages/react/src/components/button.tsx
Labels: @uploadthing/react

#388 chore(sdk): accept constructor args + log response + better errors on utapi
  .changeset/angry-trainers-obey.md
  .changeset/wicked-birds-push.md
  docs/src/pages/api-reference/server.mdx
  examples/with-serveractions/src/app/_actions.ts
  packages/uploadthing/src/sdk/index.ts
  packages/uploadthing/src/sdk/sdk.test.ts
  packages/uploadthing/src/sdk/types.ts
  packages/uploadthing/src/sdk/utils.ts
  packages/uploadthing/src/server.ts
Labels: 📚 documentation, examples, sdk

#390 fix: ensure that uploadProgress fires 0 when upload starts
  packages/react/src/useUploadThing.ts
  packages/solid/src/useUploadThing.ts
  packages/uploadthing/src/client.ts
Labels: @uploadthing/react, uploadthing/client

#399 fix: rewrite to avoid use of router in `createH3EventHandler`
  docs/src/pages/backend-adapters/h3.mdx
  examples/backend-adapters/server/src/h3.ts
  packages/uploadthing/src/h3.ts
Labels: 📚 documentation, examples

#358 feat: h3 adapter
  .github/labeler.yml
  docs/src/pages/backend-adapters/h3.mdx
  examples/backend-adapters/README.md
  examples/backend-adapters/package.json
  examples/backend-adapters/server/package.json
  examples/backend-adapters/server/src/h3.ts
  packages/uploadthing/package.json
  packages/uploadthing/src/express.ts
  packages/uploadthing/src/fastify.ts
  packages/uploadthing/src/h3.ts
  packages/uploadthing/src/internal/handler.ts
  packages/uploadthing/src/internal/types.ts
  packages/uploadthing/src/internal/upload-builder.ts
  packages/uploadthing/src/next-legacy.ts
  packages/uploadthing/src/next.ts
  packages/uploadthing/src/server.ts
  packages/uploadthing/test/upload-builder.test.ts
  packages/uploadthing/tsup.config.ts
  pnpm-lock.yaml
Labels: 📚 documentation, examples
