Repository pingdotgg/uploadthing, pull requests merged in 2023-11, with the labels that each got.

#453 feat: adds a pre-processor callback onBeforeUploadBegin
  .changeset/empty-birds-beam.md
  .gitignore
  docs/src/pages/api-reference/react.mdx
  packages/react/src/components/button.tsx
  packages/react/src/components/dropzone.tsx
  packages/react/src/types.ts
  packages/react/src/useUploadThing.ts
  packages/solid/src/components/button.tsx
  packages/solid/src/components/dropzone.tsx
  packages/solid/src/types.ts
  packages/solid/src/useUploadThing.ts
Labels: release canary, 📚 documentation, @uploadthing/react

#432 feat!: multipart uploads
  .changeset/famous-hornets-matter.md
  packages/shared/src/types.ts
  packages/shared/src/utils.ts
  packages/uploadthing/src/client.ts
  packages/uploadthing/src/internal/dev-hook.ts
  packages/uploadthing/src/internal/handler.ts
  packages/uploadthing/src/internal/multi-part.ts
  packages/uploadthing/src/internal/types.ts
  packages/uploadthing/src/internal/ut-reporter.ts
  packages/uploadthing/src/sdk/utils.ts
Labels: ❗ major bump required, uploadthing/client, sdk

#452 chore: start sending apikey to pollUpload endpoint
  packages/shared/src/utils.ts
  packages/uploadthing/src/client.ts
  packages/uploadthing/src/internal/dev-hook.ts
  packages/uploadthing/src/internal/handler.ts
  packages/uploadthing/src/sdk/utils.ts
Labels: uploadthing/client, sdk

#310 feat!: allow arbitrary callback urls [UPL-62]
  .changeset/grumpy-chicken-explode.md
  docs/src/pages/api-reference/next.mdx
  docs/src/pages/api-reference/react.mdx
  docs/src/pages/getting-started/_shared/env-setup.mdx
  docs/src/pages/getting-started/appdir.mdx
  docs/src/pages/getting-started/pagedir.mdx
  docs/src/pages/getting-started/solid.mdx
  examples/backend-adapters/server/src/h3.ts
  examples/minimal-solidstart/src/utils/uploadthing.ts
  packages/react/src/component.tsx
  packages/react/src/components/button.tsx
  packages/react/src/components/dropzone.tsx
  packages/react/src/types.ts
  packages/react/src/useUploadThing.ts
  packages/shared/src/utils.ts
  packages/solid/src/component.tsx
  packages/solid/src/components/button.tsx
  packages/solid/src/components/dropzone.tsx
  packages/solid/src/types.ts
  packages/solid/src/useUploadThing.ts
  packages/uploadthing/src/client.ts
  packages/uploadthing/src/express.ts
  packages/uploadthing/src/fastify.ts
  packages/uploadthing/src/internal/handler.ts
  packages/uploadthing/src/internal/ut-reporter.ts
  packages/uploadthing/src/next-legacy.ts
  packages/uploadthing/test/get-full-url.test.ts
Labels: ❗ major bump required, 📚 documentation, examples, @uploadthing/react, uploadthing/client

#451 fix: improved error handling
  .changeset/smooth-seas-attend.md
  .changeset/wise-ants-end.md
  .gitignore
  packages/react/src/useUploadThing.ts
  packages/solid/src/types.ts
  packages/solid/src/useUploadThing.ts
  packages/uploadthing/src/client.ts
Labels: @uploadthing/react, uploadthing/client

#351 feat!: support returning data from server callback
  .changeset/clever-meals-doubt.md
  docs/src/pages/api-reference/react.mdx
  docs/src/pages/api-reference/server.mdx
  docs/src/pages/faq.mdx
  docs/src/pages/getting-started/appdir.mdx
  docs/src/pages/getting-started/pagedir.mdx
  examples/minimal-astro-react/src/server/uploadthing.ts
  packages/react/src/component.tsx
  packages/react/src/components/button.tsx
  packages/react/src/components/dropzone.tsx
  packages/react/src/types.ts
  packages/react/src/useUploadThing.ts
  packages/react/test/client-generator.test.ts
  packages/solid/src/component.tsx
  packages/solid/src/components/button.tsx
  packages/solid/src/components/dropzone.tsx
  packages/solid/src/types.ts
  packages/solid/src/useUploadThing.ts
  packages/uploadthing/src/client.ts
  packages/uploadthing/src/constants.ts
  packages/uploadthing/src/express.ts
  packages/uploadthing/src/fastify.ts
  packages/uploadthing/src/h3.ts
  packages/uploadthing/src/internal/handler.ts
  packages/uploadthing/src/internal/types.ts
  packages/uploadthing/src/internal/upload-builder.ts
  packages/uploadthing/src/next-legacy.ts
  packages/uploadthing/src/server.ts
  packages/uploadthing/test/gen-uploader.test.ts
  packages/uploadthing/tsconfig.json
Labels: ❗ major bump required, 📚 documentation, examples, @uploadthing/react, uploadthing/client

#459 chore!: remove deprecated `utapi` object in favor of initializing with constructor
  .changeset/neat-buses-flow.md
  .changeset/real-peas-compare.md
  packages/uploadthing/src/internal/handler.ts
  packages/uploadthing/src/sdk/index.ts
  packages/uploadthing/src/sdk/sdk.test.ts
  packages/uploadthing/src/server.ts
Labels: sdk

#461 fix(docs): version callout for returns from server onUploadComplete
  docs/src/pages/api-reference/react.mdx
  docs/src/pages/api-reference/server.mdx
Labels: 📚 documentation

#464 chore(effect refactoring): remove Effect.die + improve UploadThingError
  .vscode/operators.code-snippets
  packages/shared/package.json
  packages/shared/src/error.ts
  packages/uploadthing/src/client.ts
  packages/uploadthing/src/effect-utils.ts
  packages/uploadthing/src/internal/ut-reporter.ts
  pnpm-lock.yaml
Labels: uploadthing/client

#455 chore(release): 📦 version packages
  .changeset/clever-meals-doubt.md
  .changeset/empty-birds-beam.md
  .changeset/famous-hornets-matter.md
  .changeset/grumpy-chicken-explode.md
  .changeset/neat-buses-flow.md
  .changeset/real-peas-compare.md
  .changeset/smooth-seas-attend.md
  .changeset/wise-ants-end.md
  docs/package.json
  examples/backend-adapters/client/package.json
  examples/backend-adapters/package.json
  examples/backend-adapters/server/package.json
  examples/minimal-appdir/package.json
  examples/minimal-pagedir/package.json
  examples/minimal-solidstart/package.json
  examples/with-clerk-appdir/package.json
  examples/with-clerk-pagesdir/package.json
  examples/with-drizzle-appdir/package.json
  examples/with-drizzle-pagesdir/package.json
  examples/with-react-image-crop/package.json
  examples/with-serveractions/package.json
  examples/with-tailwindcss/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/solid/CHANGELOG.md
  packages/solid/package.json
  packages/uploadthing/CHANGELOG.md
  packages/uploadthing/package.json
  pnpm-lock.yaml
Labels: @uploadthing/react

#469 fix: invalid json when serverdata is undefined
  .changeset/cuddly-timers-cheer.md
  packages/react/test/client-generator.test.ts
  packages/uploadthing/src/internal/handler.ts
  packages/uploadthing/src/internal/types.ts
  packages/uploadthing/test/upload-builder.test.ts
Labels: @uploadthing/react

#480 fix: don't use sse
  .changeset/curly-lions-enjoy.md
  packages/react/src/components/button.tsx
  packages/shared/src/utils.ts
  packages/uploadthing/src/client.ts
  packages/uploadthing/src/express.ts
  packages/uploadthing/src/fastify.ts
  packages/uploadthing/src/h3.ts
  packages/uploadthing/src/internal/handler.ts
  packages/uploadthing/src/next-legacy.ts
  packages/uploadthing/src/server.ts
Labels: @uploadthing/react, uploadthing/client

#481 chore(release): 📦 version packages
  .changeset/curly-lions-enjoy.md
  .changeset/young-trains-smoke.md
  docs/package.json
  examples/backend-adapters/client/package.json
  examples/backend-adapters/package.json
  examples/backend-adapters/server/package.json
  examples/minimal-appdir/package.json
  examples/minimal-pagedir/package.json
  examples/minimal-solidstart/package.json
  examples/with-clerk-appdir/package.json
  examples/with-clerk-pagesdir/package.json
  examples/with-drizzle-appdir/package.json
  examples/with-drizzle-pagesdir/package.json
  examples/with-react-image-crop/package.json
  examples/with-serveractions/package.json
  examples/with-tailwindcss/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/solid/package.json
  packages/uploadthing/CHANGELOG.md
  packages/uploadthing/package.json
  pnpm-lock.yaml
Labels: @uploadthing/react

#489 docs: update uploadFiles to v6 API
  docs/src/pages/api-reference/react.mdx
Labels: 📚 documentation

#492 chore(release): 📦 version packages
  .changeset/warm-balloons-decide.md
  docs/package.json
  examples/backend-adapters/client/package.json
  examples/backend-adapters/package.json
  examples/minimal-appdir/package.json
  examples/minimal-pagedir/package.json
  examples/with-clerk-appdir/package.json
  examples/with-clerk-pagesdir/package.json
  examples/with-drizzle-appdir/package.json
  examples/with-drizzle-pagesdir/package.json
  examples/with-react-image-crop/package.json
  examples/with-tailwindcss/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  pnpm-lock.yaml
Labels: @uploadthing/react

#486 fix: smarter URL detection
  docs/src/pages/api-reference/next.mdx
  docs/src/pages/faq.mdx
  packages/uploadthing/src/client.ts
  packages/uploadthing/src/internal/get-full-api-url.ts
  packages/uploadthing/src/internal/handler.ts
  packages/uploadthing/test/get-full-url.test.ts
Labels: 📚 documentation, uploadthing/client
