Repository pingdotgg/uploadthing, pull requests merged in 2023-12, with the labels that each got.

#478 feat(Vue): theming support
  examples/nuxt/components/Home.vue
  examples/nuxt/nuxt.config.ts
  examples/nuxt/package.json
  examples/nuxt/tailwind.config.ts
  packages/react/package.json
  packages/solid/package.json
  packages/uploadthing/package.json
  packages/uploadthing/src/internal/component-theming.ts
  packages/uploadthing/src/tw.ts
  packages/vue/package.json
  packages/vue/src/components.tsx
  packages/vue/src/components/button.tsx
  packages/vue/src/components/dropzone.tsx
  packages/vue/src/components/shared.tsx
  packages/vue/src/shared.ts
  pnpm-lock.yaml
Labels: examples

#511 fix: call onuploadbegin before starting to upload parts
  .changeset/rotten-cups-guess.md
  .vscode/settings.json
  packages/uploadthing/src/client.ts
Labels: uploadthing/client

#512 feat(utapi): Add pagination to listFiles
  .changeset/pink-dolphins-taste.md
  docs/src/pages/api-reference/server.mdx
  packages/uploadthing/src/sdk/index.ts
Labels: 📚 documentation, sdk

#520 docs: Fixed 22 typo errors in the documentation
  docs/src/pages/faq.mdx
  docs/src/pages/theming.mdx
Labels: 📚 documentation

#521 docs: Add an FAQ section about Vercel preview deployments
  docs/public/add-header-settings.png
  docs/src/pages/faq.mdx
Labels: 📚 documentation

#529 feat: allow async onBeforeUploadBegin callback
  .changeset/tough-pans-film.md
  packages/react/src/useUploadThing.ts
  packages/solid/src/useUploadThing.ts
Labels: @uploadthing/react
