Repository pingdotgg/uploadthing, pull requests merged in 2023-10, with the labels that each got.

#375 chore(release): 📦 version packages
  .changeset/angry-trainers-obey.md
  .changeset/fair-colts-tie.md
  .changeset/red-bags-try.md
  .changeset/seven-avocados-tie.md
  .changeset/silent-jeans-occur.md
  .changeset/slow-coins-begin.md
  .changeset/small-students-sit.md
  .changeset/wicked-birds-push.md
  docs/package.json
  examples/backend-adapters/client/package.json
  examples/backend-adapters/package.json
  examples/backend-adapters/server/package.json
  examples/minimal-appdir/package.json
  examples/minimal-pagedir/package.json
  examples/minimal-solidstart/package.json
  examples/with-clerk-appdir/package.json
  examples/with-clerk-pagesdir/package.json
  examples/with-drizzle-appdir/package.json
  examples/with-drizzle-pagesdir/package.json
  examples/with-react-image-crop/package.json
  examples/with-serveractions/package.json
  examples/with-tailwindcss/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/solid/CHANGELOG.md
  packages/solid/package.json
  packages/uploadthing/CHANGELOG.md
  packages/uploadthing/package.json
  pnpm-lock.yaml
Labels: @uploadthing/react

#410 fix: checking wrong env for sdk api key check
  .changeset/grumpy-beds-check.md
  packages/uploadthing/src/sdk/utils.ts
Labels: sdk

#409 chore: faster CI
  .github/workflows/ci.yaml
  .github/workflows/examples.yaml
  .gitignore
  docs/next-env.d.ts
  examples/minimal-appdir/next-env.d.ts
  examples/minimal-pagedir/next-env.d.ts
  examples/with-clerk-appdir/next-env.d.ts
  examples/with-clerk-pagesdir/next-env.d.ts
  examples/with-drizzle-appdir/next-env.d.ts
  examples/with-drizzle-pagesdir/next-env.d.ts
  examples/with-react-image-crop/next-env.d.ts
  examples/with-serveractions/next-env.d.ts
  examples/with-tailwindcss/next-env.d.ts
  tooling/gh-actions/setup/action.yml
  turbo.json
Labels: 📚 documentation, examples

#413 fix(docs): Uppercase typo
  docs/src/pages/nextjs/appdir.mdx
Labels: 📚 documentation

#415 fix: clone res before attempting json parse in `uploadFiles`
  .changeset/quick-seahorses-care.md
  packages/shared/src/error.ts
  packages/uploadthing/src/client.ts
Labels: uploadthing/client

#396 feat(react): Manual mode for button
  .changeset/chilly-months-smash.md
  packages/react/src/components/button.tsx
  packages/uploadthing/src/tw.ts
Labels: @uploadthing/react

#416 feat: allow overriding content disposition
  docs/src/pages/api-reference/server.mdx
  packages/shared/src/types.ts
  packages/shared/src/utils.ts
  packages/uploadthing/src/sdk/index.ts
  packages/uploadthing/src/sdk/utils.ts
Labels: 📚 documentation, sdk

#383 feat(react): paste from clipboard
  .changeset/eleven-cameras-pump.md
  docs/src/pages/api-reference/react.mdx
  examples/minimal-appdir/src/app/page.tsx
  packages/react/src/components/button.tsx
  packages/react/src/components/dropzone.tsx
  packages/react/src/components/shared.tsx
  packages/solid/src/components/dropzone.tsx
Labels: 📚 documentation, examples, @uploadthing/react

#404 fix: safeParseJSON helper
  .changeset/famous-rules-drop.md
  packages/react/src/utils/useFetch.ts
  packages/shared/src/error.ts
  packages/shared/src/types.ts
  packages/shared/src/utils.ts
  packages/solid/src/utils/createFetch.ts
  packages/uploadthing/src/client.ts
  packages/uploadthing/src/internal/handler.ts
  packages/uploadthing/src/internal/types.ts
  packages/uploadthing/src/sdk/index.ts
  packages/uploadthing/src/sdk/types.ts
  packages/uploadthing/src/sdk/utils.ts
Labels: @uploadthing/react, uploadthing/client, sdk

#422 docs: Change `fd` to `formData`
  docs/src/pages/api-reference/server.mdx
Labels: 📚 documentation

#398 docs: Docs overhaul
  docs/src/pages/_meta.json
  docs/src/pages/getting-started/_meta.json
  docs/src/pages/getting-started/_shared/env-setup.mdx
  docs/src/pages/getting-started/appdir.mdx
  docs/src/pages/getting-started/astro.mdx
  docs/src/pages/getting-started/nuxt.mdx
  docs/src/pages/getting-started/pagedir.mdx
  docs/src/pages/getting-started/solid.mdx
  docs/src/pages/getting-started/svelte.mdx
  docs/src/pages/nextjs/_meta.json
  docs/src/theme.config.js
Labels: 📚 documentation

#425 docs: Tailwind helper in Next docs, general cleanup
  docs/src/components/ssr-diff.tsx
  docs/src/pages/backend-adapters/express.mdx
  docs/src/pages/backend-adapters/fetch.mdx
  docs/src/pages/getting-started/_shared/tailwind-setup.mdx
  docs/src/pages/getting-started/appdir.mdx
  docs/src/pages/getting-started/pagedir.mdx
  examples/appdir/next-env.d.ts
  examples/minimal-appdir/README.md
  examples/minimal-pagedir/README.md
  examples/pagedir/next-env.d.ts
  examples/with-clerk-appdir/README.md
  examples/with-clerk-pagesdir/README.md
  examples/with-drizzle-appdir/README.md
  examples/with-drizzle-pagesdir/README.md
  examples/with-serveractions/README.md
  examples/with-tailwindcss/README.md
  packages/react/CHANGELOG.md
  packages/uploadthing/CHANGELOG.md
Labels: 📚 documentation, examples, @uploadthing/react

#430 feat: Upload status type added
  .changeset/thirty-zebras-know.md
  packages/uploadthing/src/sdk/index.ts
Labels: sdk

#417 chore(release): 📦 version packages
  .changeset/chilly-months-smash.md
  .changeset/eleven-cameras-pump.md
  .changeset/famous-rules-drop.md
  .changeset/quick-seahorses-care.md
  .changeset/thirty-zebras-know.md
  docs/package.json
  examples/backend-adapters/client/package.json
  examples/backend-adapters/package.json
  examples/backend-adapters/server/package.json
  examples/minimal-appdir/package.json
  examples/minimal-pagedir/package.json
  examples/minimal-solidstart/package.json
  examples/with-clerk-appdir/package.json
  examples/with-clerk-pagesdir/package.json
  examples/with-drizzle-appdir/package.json
  examples/with-drizzle-pagesdir/package.json
  examples/with-react-image-crop/package.json
  examples/with-serveractions/package.json
  examples/with-tailwindcss/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/solid/CHANGELOG.md
  packages/solid/package.json
  packages/uploadthing/CHANGELOG.md
  packages/uploadthing/package.json
  pnpm-lock.yaml
Labels: @uploadthing/react

#433 docs: fix broken links
  docs/src/pages/backend-adapters/express.mdx
  docs/src/pages/backend-adapters/fastify.mdx
  docs/src/pages/backend-adapters/fetch.mdx
  docs/src/pages/backend-adapters/h3.mdx
Labels: 📚 documentation

#438 docs: Fix a typo in react api reference
  docs/src/pages/api-reference/react.mdx
Labels: 📚 documentation
