Repository pingdotgg/uploadthing, pull requests merged in 2024-11, with the labels that each got.

#1038 fix(docs): typo in getting-started/appdir docs
  docs/src/app/(docs)/getting-started/appdir/page.mdx
Labels: 📚 documentation

#1039 fix(docs): 1 hour from now in milliseconds instead of seconds
  docs/src/app/(docs)/uploading-files/page.mdx
Labels: 📚 documentation

#1013 fix: `@uploadthing/mime-types` exports not supported in Expo
  .changeset/grumpy-spies-hunt.md
  .changeset/sixty-monkeys-smell.md
  docs/src/app/(docs)/api-reference/client/page.mdx
  examples/backend-adapters/client-vanilla/src/uploadthing.ts
  packages/mime-types/package.json
  packages/mime-types/turbo.json
  packages/uploadthing/src/internal/upload.browser.ts
  pnpm-lock.yaml
Labels: 📚 documentation, examples

#1043 fix: support input transformers
  .changeset/large-flowers-allow.md
  packages/react/test/client-generator.test.ts
  packages/uploadthing/src/internal/types.ts
  packages/uploadthing/src/internal/upload-builder.ts
Labels: @uploadthing/react

#1044 refactor: simplify types for built file route
  .changeset/fifty-candles-fix.md
  packages/expo/src/document-picker.ts
  packages/expo/src/image-picker.ts
  packages/expo/src/index.ts
  packages/nuxt/src/module.ts
  packages/react/src/types.ts
  packages/react/src/useUploadThing.ts
  packages/solid/src/create-uploadthing.ts
  packages/solid/src/types.ts
  packages/svelte/src/lib/create-uploadthing.ts
  packages/svelte/src/lib/types.ts
  packages/uploadthing/src/client.ts
  packages/uploadthing/src/effect-platform.ts
  packages/uploadthing/src/express.ts
  packages/uploadthing/src/fastify.ts
  packages/uploadthing/src/h3.ts
  packages/uploadthing/src/internal/error-formatter.ts
  packages/uploadthing/src/internal/handler.ts
  packages/uploadthing/src/internal/logger.ts
  packages/uploadthing/src/internal/route-config.ts
  packages/uploadthing/src/internal/types.ts
  packages/uploadthing/src/internal/upload-builder.ts
  packages/uploadthing/src/internal/upload.browser.ts
  packages/uploadthing/src/next-legacy.ts
  packages/uploadthing/src/next.ts
  packages/uploadthing/src/remix.ts
  packages/uploadthing/src/server.ts
  packages/uploadthing/src/types.ts
  packages/uploadthing/test/upload-builder.test.ts
  packages/vue/src/components/button.tsx
  packages/vue/src/components/dropzone.tsx
  packages/vue/src/types.ts
  packages/vue/src/useUploadThing.ts
Labels: @uploadthing/react, uploadthing/client

#1045 feat: forward request context to `onUploadComplete` and `onUploadError`
  .changeset/warm-moons-count.md
  examples/backend-adapters/server/src/router.ts
  packages/uploadthing/src/effect-platform.ts
  packages/uploadthing/src/express.ts
  packages/uploadthing/src/fastify.ts
  packages/uploadthing/src/h3.ts
  packages/uploadthing/src/internal/handler.ts
  packages/uploadthing/src/internal/types.ts
  packages/uploadthing/src/internal/upload-builder.ts
  packages/uploadthing/src/next-legacy.ts
  packages/uploadthing/src/next.ts
  packages/uploadthing/src/remix.ts
  packages/uploadthing/src/server.ts
  packages/uploadthing/test/request-handler.test.ts
Labels: examples

#1041 chore(release): 📦 version packages
  .changeset/fifty-candles-fix.md
  .changeset/grumpy-spies-hunt.md
  .changeset/large-flowers-allow.md
  .changeset/little-boxes-taste.md
  .changeset/sixty-monkeys-smell.md
  .changeset/warm-moons-count.md
  examples/backend-adapters/client-react/package.json
  examples/backend-adapters/client-vanilla/package.json
  examples/backend-adapters/client-vue/package.json
  examples/backend-adapters/package.json
  examples/backend-adapters/server/package.json
  examples/minimal-appdir/package.json
  examples/minimal-astro-react/package.json
  examples/minimal-expo/package.json
  examples/minimal-nuxt/package.json
  examples/minimal-pagedir/package.json
  examples/minimal-solidstart/package.json
  examples/minimal-sveltekit/package.json
  examples/minimal-tanstack-start/package.json
  examples/with-clerk-appdir/package.json
  examples/with-clerk-pagesdir/package.json
  examples/with-clerk-remix/package.json
  examples/with-drizzle-appdir/package.json
  examples/with-drizzle-pagesdir/package.json
  examples/with-novel/package.json
  examples/with-react-image-crop/package.json
  examples/with-serveractions/package.json
  examples/with-tailwindcss/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/mime-types/CHANGELOG.md
  packages/mime-types/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/solid/CHANGELOG.md
  packages/solid/package.json
  packages/svelte/CHANGELOG.md
  packages/svelte/package.json
  packages/uploadthing/CHANGELOG.md
  packages/uploadthing/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package.json
  pnpm-lock.yaml
Labels: @uploadthing/react

#1053 fix: call use client properly
  docs/src/app/(docs)/getting-started/appdir/page.mdx
Labels: 📚 documentation

#1056 fix: nuxt module options
  .changeset/healthy-experts-exist.md
  .changeset/six-dodos-brush.md
  examples/backend-adapters/server/package.json
  package.json
  packages/nuxt/src/module.ts
  packages/nuxt/src/runtime/server/api/uploadthing.ts
  packages/shared/package.json
  packages/uploadthing/package.json
  packages/uploadthing/src/sdk/index.ts
  playground-v6/package.json
  playground/package.json
  pnpm-lock.yaml
Labels: sdk

#1060 docs: add link to FileRoute API in copy-pasteable code block
  docs/src/app/(docs)/api-reference/ut-api/page.mdx
  docs/src/app/(docs)/backend-adapters/express/page.mdx
  docs/src/app/(docs)/backend-adapters/fastify/page.mdx
  docs/src/app/(docs)/backend-adapters/fetch/page.mdx
  docs/src/app/(docs)/backend-adapters/h3/page.mdx
  docs/src/app/(docs)/getting-started/appdir/page.mdx
  docs/src/app/(docs)/getting-started/astro/page.mdx
  docs/src/app/(docs)/getting-started/expo/page.mdx
  docs/src/app/(docs)/getting-started/nuxt/page.mdx
  docs/src/app/(docs)/getting-started/pagedir/page.mdx
  docs/src/app/(docs)/getting-started/remix/page.mdx
  docs/src/app/(docs)/getting-started/solid/page.mdx
  docs/src/app/(docs)/getting-started/svelte/page.mdx
  docs/src/app/(docs)/getting-started/tanstack-start/page.mdx
Labels: 📚 documentation

#1061 feat: support more input parsers
  .changeset/odd-icons-pretend.md
  docs/src/app/(docs)/file-routes/page.mdx
  packages/uploadthing/package.json
  packages/uploadthing/src/internal/handler.ts
  packages/uploadthing/src/internal/parser.ts
  packages/uploadthing/src/internal/types.ts
  packages/uploadthing/src/internal/upload-builder.ts
  packages/uploadthing/test/input.test.ts
  packages/uploadthing/test/upload-builder.test.ts
  pnpm-lock.yaml
Labels: 📚 documentation

#1066 docs: add callout for listFiles
  docs/src/app/(docs)/api-reference/ut-api/page.mdx
Labels: 📚 documentation
