Repository pingdotgg/uploadthing, pull requests merged in 2024-06, with the labels that each got.

#837 chore: migrate vue off of `permittedFileInfo`
  packages/react/src/components/button.tsx
  packages/react/src/components/dropzone.tsx
  packages/react/src/hooks/use-uploadthing.ts
  packages/react/src/useUploadThing.ts
  packages/vue/src/components/button.tsx
  packages/vue/src/components/dropzone.tsx
  packages/vue/src/useUploadThing.ts
Labels: @uploadthing/react

#829 feat!: move `skipPolling` to `RouteOptions.awaitServerData` and flip default
  docs/src/pages/api-reference/react.mdx
  docs/src/pages/api-reference/server.mdx
  docs/src/pages/getting-started/nuxt.mdx
  examples/backend-adapters/client-react/src/main.tsx
  examples/backend-adapters/client-vue/src/App.vue
  examples/profile-picture/src/app/_components/profile-pic-uploader.tsx
  examples/with-novel/uploadthing/novel-plugin.ts
  packages/react/src/components/button.tsx
  packages/react/src/components/dropzone.tsx
  packages/react/src/components/index.tsx
  packages/react/src/components/uploader.tsx
  packages/react/src/types.ts
  packages/react/src/useUploadThing.ts
  packages/react/test/client-generator.test.ts
  packages/shared/src/types.ts
  packages/solid/src/components/button.tsx
  packages/solid/src/components/dropzone.tsx
  packages/solid/src/components/index.tsx
  packages/solid/src/components/uploader.tsx
  packages/solid/src/types.ts
  packages/solid/src/useUploadThing.ts
  packages/svelte/src/lib/component/UploadButton.svelte
  packages/svelte/src/lib/component/UploadDropzone.svelte
  packages/svelte/src/lib/component/Uploader.svelte
  packages/svelte/src/lib/create-uploadthing.ts
  packages/svelte/src/lib/types.ts
  packages/uploadthing/src/client.ts
  packages/uploadthing/src/internal/handler.ts
  packages/uploadthing/src/internal/types.ts
  packages/uploadthing/src/internal/upload-builder.ts
  packages/uploadthing/src/types.ts
  packages/uploadthing/test/__test-helpers.ts
  packages/uploadthing/test/client.test.ts
  packages/uploadthing/test/gen-uploader.test.ts
  packages/vue/src/components/button.tsx
  packages/vue/src/components/dropzone.tsx
  packages/vue/src/types.ts
  packages/vue/src/useUploadThing.ts
  pnpm-lock.yaml
Labels: ❗ major bump required, 📚 documentation, examples, @uploadthing/react, uploadthing/client

#851 docs: Update faq regarding vercel deployment protection
  docs/src/pages/faq.mdx
Labels: 📚 documentation

#838 feat: upload abortion
  .changeset/gold-ties-know.md
  docs/src/pages/api-reference/react.mdx
  examples/backend-adapters/client-react/src/main.tsx
  examples/backend-adapters/client-vanilla/src/main.ts
  examples/backend-adapters/client-vanilla/src/style.css
  examples/backend-adapters/client-vanilla/src/uploader.ts
  examples/minimal-appdir/src/app/page.tsx
  packages/react/src/components/button.tsx
  packages/react/src/components/dropzone.tsx
  packages/react/src/components/shared.tsx
  packages/react/src/types.ts
  packages/react/src/useUploadThing.ts
  packages/shared/src/effect.ts
  packages/shared/src/tagged-errors.ts
  packages/uploadthing/src/client.ts
  packages/uploadthing/src/h3.ts
  packages/uploadthing/src/internal/dev-hook.ts
  packages/uploadthing/src/internal/handler.ts
  packages/uploadthing/src/internal/multi-part.browser.ts
  packages/uploadthing/src/internal/presigned-post.browser.ts
  packages/uploadthing/src/sdk/index.ts
  packages/uploadthing/src/sdk/types.ts
  packages/uploadthing/src/types.ts
Labels: 📚 documentation, examples, @uploadthing/react, uploadthing/client, sdk

#852 chore: bump turbo to v2
  package.json
  packages/dropzone/turbo.json
  packages/mime-types/turbo.json
  packages/nuxt/turbo.json
  packages/react/turbo.json
  packages/shared/turbo.json
  packages/uploadthing/turbo.json
  pnpm-lock.yaml
  tooling/eslint-config/base.js
  tooling/eslint-config/package.json
  turbo.json
Labels: @uploadthing/react

#854 feat(nextauth): avoid db roundtrip on every `auth()` call
  examples/profile-picture/package.json
  examples/profile-picture/src/auth/config.ts
  examples/profile-picture/src/auth/index.tsx
  pnpm-lock.yaml
Labels: examples

#855 refactor: add effect paltofrm http client
  examples/backend-adapters/server/package.json
  examples/backend-adapters/server/src/effect.ts
  examples/backend-adapters/server/tsconfig.json
  packages/dropzone/package.json
  packages/expo/package.json
  packages/mime-types/package.json
  packages/react/package.json
  packages/shared/package.json
  packages/uploadthing/package.json
  packages/uploadthing/src/internal/handler.ts
  packages/uploadthing/src/internal/http-client.ts
  packages/uploadthing/src/internal/shared-schemas.ts
  packages/uploadthing/src/internal/types.ts
  packages/vue/package.json
  pnpm-lock.yaml
Labels: examples

#856 chore: bump eff, add effect adapter example
  examples/backend-adapters/server/package.json
  examples/backend-adapters/server/src/effect.ts
  packages/dropzone/package.json
  packages/expo/package.json
  packages/mime-types/package.json
  packages/react/package.json
  packages/shared/package.json
  packages/uploadthing/package.json
  packages/vue/package.json
  pnpm-lock.yaml
Labels: examples

#860 fix: `onUploadProgress` events out of order
  .changeset/wild-terms-know.md
  examples/minimal-appdir/src/app/page.tsx
  packages/react/src/useUploadThing.ts
  packages/solid/src/useUploadThing.ts
  packages/svelte/src/lib/create-uploadthing.ts
  packages/vue/src/useUploadThing.ts
Labels: examples, @uploadthing/react

#863 docs: fix typo in server.mdx
  docs/src/pages/api-reference/server.mdx
Labels: 📚 documentation

#861 feat: `@effect/platform` adapter
  .changeset/five-phones-hammer.md
  docs/src/pages/api-reference/server.mdx
  examples/backend-adapters/server/package.json
  examples/backend-adapters/server/src/effect-platform.ts
  examples/backend-adapters/server/src/effect.ts
  packages/uploadthing/package.json
  packages/uploadthing/src/effect-platform.ts
  packages/uploadthing/turbo.json
  pnpm-lock.yaml
Labels: 📚 documentation, examples

#841 refactor: use effect Micro for the client
  .changeset/proud-elephants-kick.md
  .envrc
  .github/analyze-bundle.js
  .github/workflows/ci.yaml
  .gitignore
  examples/backend-adapters/server/package.json
  examples/backend-adapters/server/src/effect-platform.ts
  flake.lock
  flake.nix
  packages/shared/package.json
  packages/shared/src/effect.ts
  packages/shared/src/error.ts
  packages/shared/src/tagged-errors.ts
  packages/shared/src/utils.ts
  packages/uploadthing/package.json
  packages/uploadthing/src/client.ts
  packages/uploadthing/src/effect-platform.ts
  packages/uploadthing/src/internal/dev-hook.ts
  packages/uploadthing/src/internal/handler.ts
  packages/uploadthing/src/internal/multi-part.browser.ts
  packages/uploadthing/src/internal/multi-part.server.ts
  packages/uploadthing/src/internal/presigned-post.browser.ts
  packages/uploadthing/src/internal/to-web-request.ts
  packages/uploadthing/src/internal/ut-reporter.ts
  packages/uploadthing/src/sdk/utils.ts
  packages/uploadthing/test/__test-helpers.ts
  packages/uploadthing/test/client.test.ts
  pnpm-lock.yaml
Labels: examples, uploadthing/client, sdk

#867 feat!: ingest server
  .github/workflows/ci.yaml
  examples/backend-adapters/client-vanilla/src/main.ts
  examples/backend-adapters/client-vanilla/src/normal-upload.ts
  examples/backend-adapters/client-vanilla/src/resumable-upload.ts
  examples/backend-adapters/client-vanilla/src/style.css
  examples/backend-adapters/client-vanilla/src/uploader.ts
  examples/backend-adapters/client-vanilla/src/uploadthing.ts
  examples/backend-adapters/server/package.json
  examples/backend-adapters/server/src/h3.ts
  examples/backend-adapters/server/src/router.ts
  examples/with-serveractions/src/app/_actions.ts
  package.json
  packages/shared/src/crypto.ts
  packages/shared/src/types.ts
  packages/shared/src/utils.ts
  packages/uploadthing/package.json
  packages/uploadthing/src/client.ts
  packages/uploadthing/src/effect-platform.ts
  packages/uploadthing/src/internal/constants.ts
  packages/uploadthing/src/internal/dev-hook.ts
  packages/uploadthing/src/internal/get-api-key.ts
  packages/uploadthing/src/internal/handler.ts
  packages/uploadthing/src/internal/http-client.ts
  packages/uploadthing/src/internal/multi-part.browser.ts
  packages/uploadthing/src/internal/multi-part.server.ts
  packages/uploadthing/src/internal/presigned-post.browser.ts
  packages/uploadthing/src/internal/shared-schemas.ts
  packages/uploadthing/src/internal/types.ts
  packages/uploadthing/src/internal/upload.browser.ts
  packages/uploadthing/src/internal/upload.server.ts
  packages/uploadthing/src/internal/ut-reporter.ts
  packages/uploadthing/src/internal/validate-request-input.ts
  packages/uploadthing/src/sdk/index.ts
  packages/uploadthing/src/sdk/types.ts
  packages/uploadthing/src/sdk/utils.ts
  packages/uploadthing/src/types.ts
  packages/uploadthing/test/__test-helpers.ts
  pnpm-lock.yaml
  turbo.json
Labels: ❗ major bump required, examples, uploadthing/client, sdk

#868 chore: use pnpm 9
  .github/analyze-bundle.js
  .npmrc
  examples/backend-adapters/client-react/package.json
  examples/backend-adapters/client-vanilla/package.json
  examples/backend-adapters/client-vue/package.json
  examples/backend-adapters/package.json
  examples/minimal-sveltekit/package.json
  examples/profile-picture/src/ui/sheet.tsx
  examples/with-novel/app/menu.tsx
  examples/with-novel/editor/index.tsx
  examples/with-novel/ui/command.tsx
  examples/with-novel/ui/dialog.tsx
  package.json
  packages/dropzone/package.json
  packages/mime-types/package.json
  packages/react/src/components/button.tsx
  packages/solid/src/components/button.tsx
  packages/svelte/package.json
  packages/vue/src/components/button.tsx
  pnpm-lock.yaml
  tooling/eslint-config/base.js
  tooling/eslint-config/package.json
  tooling/eslint-plugin/package.json
  tooling/gh-actions/setup/action.yml
Labels: examples, @uploadthing/react

#836 chore(release): 📦 version packages
  .changeset/afraid-berries-burn.md
  .changeset/five-phones-hammer.md
  .changeset/gold-ties-know.md
  .changeset/proud-elephants-kick.md
  .changeset/tiny-rocks-yawn.md
  .changeset/wild-terms-know.md
  examples/backend-adapters/client-react/package.json
  examples/backend-adapters/client-vanilla/package.json
  examples/backend-adapters/client-vue/package.json
  examples/backend-adapters/package.json
  examples/backend-adapters/server/package.json
  examples/minimal-appdir/package.json
  examples/minimal-astro-react/package.json
  examples/minimal-expo/package.json
  examples/minimal-nuxt/package.json
  examples/minimal-pagedir/package.json
  examples/minimal-solidstart/package.json
  examples/minimal-sveltekit/package.json
  examples/with-clerk-appdir/package.json
  examples/with-clerk-pagesdir/package.json
  examples/with-drizzle-appdir/package.json
  examples/with-drizzle-pagesdir/package.json
  examples/with-novel/CHANGELOG.md
  examples/with-novel/package.json
  examples/with-react-image-crop/package.json
  examples/with-serveractions/package.json
  examples/with-tailwindcss/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/solid/CHANGELOG.md
  packages/solid/package.json
  packages/svelte/CHANGELOG.md
  packages/svelte/package.json
  packages/uploadthing/CHANGELOG.md
  packages/uploadthing/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package.json
  pnpm-lock.yaml
Labels: examples, @uploadthing/react

#874 chore(release): 📦 version packages
  .changeset/breezy-geckos-smoke.md
  examples/backend-adapters/client-react/package.json
  examples/backend-adapters/client-vanilla/package.json
  examples/backend-adapters/client-vue/package.json
  examples/backend-adapters/package.json
  examples/backend-adapters/server/package.json
  examples/minimal-appdir/package.json
  examples/minimal-astro-react/package.json
  examples/minimal-expo/package.json
  examples/minimal-nuxt/package.json
  examples/minimal-pagedir/package.json
  examples/minimal-solidstart/package.json
  examples/minimal-sveltekit/package.json
  examples/with-clerk-appdir/package.json
  examples/with-clerk-pagesdir/package.json
  examples/with-drizzle-appdir/package.json
  examples/with-drizzle-pagesdir/package.json
  examples/with-novel/CHANGELOG.md
  examples/with-novel/package.json
  examples/with-react-image-crop/package.json
  examples/with-serveractions/package.json
  examples/with-tailwindcss/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/solid/CHANGELOG.md
  packages/solid/package.json
  packages/svelte/CHANGELOG.md
  packages/svelte/package.json
  packages/uploadthing/CHANGELOG.md
  packages/uploadthing/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package.json
Labels: examples, @uploadthing/react

#875 chore: bump effect
  .changeset/quiet-drinks-glow.md
  examples/backend-adapters/server/package.json
  examples/backend-adapters/server/tsconfig.json
  examples/backend-adapters/server/wrangler.toml
  packages/shared/package.json
  packages/uploadthing/package.json
  pnpm-lock.yaml
Labels: examples

#876 chore(release): 📦 version packages
  .changeset/quiet-drinks-glow.md
  examples/backend-adapters/client-react/package.json
  examples/backend-adapters/client-vanilla/package.json
  examples/backend-adapters/client-vue/package.json
  examples/backend-adapters/package.json
  examples/backend-adapters/server/package.json
  examples/minimal-appdir/package.json
  examples/minimal-astro-react/package.json
  examples/minimal-expo/package.json
  examples/minimal-nuxt/package.json
  examples/minimal-pagedir/package.json
  examples/minimal-solidstart/package.json
  examples/minimal-sveltekit/package.json
  examples/with-clerk-appdir/package.json
  examples/with-clerk-pagesdir/package.json
  examples/with-drizzle-appdir/package.json
  examples/with-drizzle-pagesdir/package.json
  examples/with-novel/CHANGELOG.md
  examples/with-novel/package.json
  examples/with-react-image-crop/package.json
  examples/with-serveractions/package.json
  examples/with-tailwindcss/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/solid/CHANGELOG.md
  packages/solid/package.json
  packages/svelte/CHANGELOG.md
  packages/svelte/package.json
  packages/uploadthing/CHANGELOG.md
  packages/uploadthing/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package.json
  pnpm-lock.yaml
Labels: examples, @uploadthing/react
