Repository pingdotgg/uploadthing, pull requests merged in 2024-07, with the labels that each got.

#877 chore: update api paths
  .changeset/mighty-kiwis-enjoy.md
  packages/shared/src/utils.ts
  packages/uploadthing/src/internal/dev-hook.ts
  packages/uploadthing/src/internal/handler.ts
  packages/uploadthing/src/internal/multi-part.server.ts
  packages/uploadthing/src/internal/presigned-post.server.ts
  packages/uploadthing/src/sdk/index.ts
  packages/uploadthing/src/sdk/utils.ts
  packages/uploadthing/test/__test-helpers.ts
  packages/uploadthing/test/adapters.test.ts
  packages/uploadthing/test/client.test.ts
  packages/uploadthing/test/request-handler.test.ts
  packages/uploadthing/test/sdk.test.ts
Labels: sdk

#879 chore: update to latest effect
  examples/backend-adapters/server/package.json
  packages/shared/package.json
  packages/shared/src/effect.ts
  packages/uploadthing/package.json
  packages/uploadthing/src/client.ts
  packages/uploadthing/src/internal/multi-part.browser.ts
  pnpm-lock.yaml
Labels: uploadthing/client

#883 fix: upgrade scalar
  docs/package.json
  docs/src/components/scalar.tsx
  pnpm-lock.yaml
Labels: 📚 documentation

#885 [fix] Update OG image
  docs/public/og.jpg
  docs/src/theme.config.js
Labels: 📚 documentation

#887 docs: document button config.mode
  docs/src/pages/api-reference/react.mdx
Labels: 📚 documentation

#895 chore!: don't bundle tailwind-merge by default
  packages/react/package.json
  packages/react/src/components/button.tsx
  packages/react/src/components/dropzone.tsx
  packages/react/src/components/shared.tsx
  packages/react/src/types.ts
  packages/shared/src/component-utils.ts
  packages/solid/package.json
  packages/solid/src/components/button.tsx
  packages/solid/src/components/dropzone.tsx
  packages/solid/src/types.ts
  packages/svelte/package.json
  packages/svelte/src/lib/component/UploadButton.svelte
  packages/svelte/src/lib/component/UploadDropzone.svelte
  packages/svelte/src/lib/types.ts
  packages/vue/package.json
  packages/vue/src/components/button.tsx
  packages/vue/src/components/dropzone.tsx
  packages/vue/src/types.ts
  pnpm-lock.yaml
Labels: ❗ major bump required, @uploadthing/react
