Repository pingdotgg/uploadthing, pull requests merged in 2024-10, with the labels that each got.

#989 chore: add minimal-tanstack-start example
  .changeset/spotty-flowers-flow.md
  examples/minimal-tanstack-start/.env.example
  examples/minimal-tanstack-start/app.config.ts
  examples/minimal-tanstack-start/app/api.ts
  examples/minimal-tanstack-start/app/client.tsx
  examples/minimal-tanstack-start/app/routeTree.gen.ts
  examples/minimal-tanstack-start/app/router.tsx
  examples/minimal-tanstack-start/app/routes/__root.tsx
  examples/minimal-tanstack-start/app/routes/api/uploadthing.ts
  examples/minimal-tanstack-start/app/routes/index.tsx
  examples/minimal-tanstack-start/app/server/uploadthing.ts
  examples/minimal-tanstack-start/app/ssr.tsx
  examples/minimal-tanstack-start/app/utils/uploadthing.ts
  examples/minimal-tanstack-start/package.json
  examples/minimal-tanstack-start/tsconfig.json
  packages/expo/src/document-picker.ts
  packages/expo/src/image-picker.ts
  packages/expo/src/index.ts
  packages/react/src/components/button.tsx
  packages/react/src/components/dropzone.tsx
  packages/react/src/components/index.tsx
  packages/react/src/native.ts
  packages/react/src/useUploadThing.ts
  packages/shared/src/utils.ts
  pnpm-lock.yaml
Labels: examples, @uploadthing/react

#978 feat: return file hash from uploaded object
  .changeset/nice-crabs-compete.md
  examples/minimal-appdir/src/server/uploadthing.ts
  examples/minimal-pagedir/src/server/uploadthing.ts
  examples/minimal-solidstart/src/server/uploadthing.ts
  examples/minimal-sveltekit/src/lib/server/uploadthing.ts
  examples/with-drizzle-appdir/src/server/uploadthing.ts
  examples/with-drizzle-pagesdir/src/server/uploadthing.ts
  examples/with-react-image-crop/src/server/uploadthing.ts
  examples/with-tailwindcss/src/server/uploadthing.ts
  packages/nuxt/playground/server/uploadthing.ts
  packages/uploadthing/src/internal/shared-schemas.ts
  packages/uploadthing/src/internal/types.ts
  packages/uploadthing/src/internal/upload.browser.ts
  packages/uploadthing/src/internal/upload.server.ts
  packages/uploadthing/src/sdk/utils.ts
  packages/uploadthing/test/__test-helpers.ts
  packages/uploadthing/test/client.test.ts
  packages/uploadthing/test/request-handler.test.ts
  packages/uploadthing/test/sdk.test.ts
Labels: examples, sdk

#980 fix: dropzone behavior
  .changeset/honest-scissors-shave.md
  examples/backend-adapters/client-vue/src/App.vue
  examples/minimal-solidstart/tailwind.config.ts
  examples/minimal-solidstart/tsconfig.json
  examples/minimal-sveltekit/src/routes/+page.svelte
  packages/react/src/components/button.tsx
  packages/react/src/components/dropzone.tsx
  packages/solid/src/components/button.tsx
  packages/solid/src/components/dropzone.tsx
  packages/solid/src/components/shared.tsx
  packages/solid/src/create-uploadthing.ts
  packages/solid/src/types.ts
  packages/svelte/src/lib/component/Cancel.svelte
  packages/svelte/src/lib/component/UploadButton.svelte
  packages/svelte/src/lib/component/UploadDropzone.svelte
  packages/svelte/src/lib/component/create-dropzone.ts
  packages/svelte/src/lib/create-uploadthing.ts
  packages/svelte/src/lib/types.ts
  packages/vue/src/components/button.tsx
  packages/vue/src/components/dropzone.tsx
  packages/vue/src/components/shared.tsx
  packages/vue/src/types.ts
  packages/vue/src/useUploadThing.ts
Labels: examples, @uploadthing/react

#991 fix: prefer browser recognized mime type over file extension lookup
  .changeset/tiny-rice-draw.md
  packages/shared/src/types.ts
  packages/shared/src/utils.ts
  packages/uploadthing/src/client.ts
  packages/uploadthing/src/internal/handler.ts
  packages/uploadthing/src/internal/route-config.ts
  packages/uploadthing/test/request-handler.test.ts
Labels: uploadthing/client

#997 chore: `effect-log.PrettyLogger` -> `Effect.Logger.pretty`
  .changeset/young-cars-tell.md
  docs/src/app/(docs)/api-reference/server/page.mdx
  docs/src/app/(docs)/api-reference/ut-api/page.mdx
  packages/uploadthing/package.json
  packages/uploadthing/src/internal/handler.ts
  packages/uploadthing/src/internal/logger.ts
  packages/uploadthing/src/internal/types.ts
  packages/uploadthing/src/sdk/index.ts
  packages/uploadthing/src/sdk/types.ts
  pnpm-lock.yaml
Labels: 📚 documentation, sdk

#1001 fix: `UTApi.getFileUrls` send as array
  .changeset/two-rings-jump.md
  packages/uploadthing/src/sdk/index.ts
Labels: sdk

#1002 chore: deprecate `UTApi.getFileUrls`
  .changeset/chilled-zoos-exist.md
  packages/uploadthing/src/sdk/index.ts
Labels: sdk

#1000 chore: more elaborate response log when API request fails
  packages/uploadthing/src/internal/handler.ts
  packages/uploadthing/src/internal/logger.ts
  packages/uploadthing/src/sdk/index.ts
Labels: sdk

#970 chore(release): 📦 version packages
  .changeset/chilled-zoos-exist.md
  .changeset/cool-boats-look.md
  .changeset/curly-hornets-chew.md
  .changeset/honest-scissors-shave.md
  .changeset/nice-crabs-compete.md
  .changeset/popular-forks-speak.md
  .changeset/shiny-singers-live.md
  .changeset/spotty-flowers-flow.md
  .changeset/ten-pillows-smile.md
  .changeset/tiny-rice-draw.md
  .changeset/two-rings-jump.md
  .changeset/young-cars-tell.md
  examples/backend-adapters/client-react/package.json
  examples/backend-adapters/client-vanilla/package.json
  examples/backend-adapters/client-vue/package.json
  examples/backend-adapters/package.json
  examples/backend-adapters/server/package.json
  examples/minimal-appdir/package.json
  examples/minimal-astro-react/package.json
  examples/minimal-expo/package.json
  examples/minimal-nuxt/package.json
  examples/minimal-pagedir/package.json
  examples/minimal-solidstart/package.json
  examples/minimal-sveltekit/package.json
  examples/minimal-tanstack-start/package.json
  examples/with-clerk-appdir/package.json
  examples/with-clerk-pagesdir/package.json
  examples/with-clerk-remix/package.json
  examples/with-drizzle-appdir/package.json
  examples/with-drizzle-pagesdir/package.json
  examples/with-novel/package.json
  examples/with-react-image-crop/package.json
  examples/with-serveractions/package.json
  examples/with-tailwindcss/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/solid/CHANGELOG.md
  packages/solid/package.json
  packages/svelte/CHANGELOG.md
  packages/svelte/package.json
  packages/uploadthing/CHANGELOG.md
  packages/uploadthing/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package.json
  pnpm-lock.yaml
Labels: @uploadthing/react

#1005 chore: update effect/platform past API changes
  examples/backend-adapters/client-react/package.json
  examples/backend-adapters/client-vanilla/package.json
  examples/backend-adapters/client-vue/package.json
  examples/backend-adapters/server/package.json
  examples/backend-adapters/server/src/effect-platform.ts
  examples/minimal-nuxt/nuxt.config.ts
  examples/minimal-sveltekit/package.json
  examples/with-clerk-remix/package.json
  package.json
  packages/nuxt/playground/nuxt.config.ts
  packages/react/package.json
  packages/shared/package.json
  packages/svelte/package.json
  packages/uploadthing/package.json
  packages/uploadthing/src/internal/handler.ts
  packages/uploadthing/src/internal/runtime.ts
  packages/uploadthing/src/internal/upload.server.ts
  packages/uploadthing/src/sdk/index.ts
  packages/uploadthing/src/sdk/utils.ts
  packages/uploadthing/test/adapters.test.ts
  pnpm-lock.yaml
Labels: examples, sdk

#1009 chore: bump internal effect pacakge
  examples/backend-adapters/server/package.json
  packages/shared/package.json
  packages/uploadthing/package.json
  packages/uploadthing/src/sdk/index.ts
  pnpm-lock.yaml
Labels: sdk

#1012 chore: pass `files` to `styleFieldArg`
  docs/src/app/(docs)/concepts/theming/page.mdx
  packages/react/src/components/button.tsx
  packages/react/src/components/dropzone.tsx
  packages/solid/src/components/button.tsx
  packages/solid/src/components/dropzone.tsx
  packages/svelte/src/lib/component/UploadButton.svelte
  packages/svelte/src/lib/component/UploadDropzone.svelte
  packages/vue/src/components/button.tsx
  packages/vue/src/components/dropzone.tsx
Labels: 📚 documentation, @uploadthing/react

#1008 feat: support IDE feature `Go to defintion`
  .changeset/twenty-rings-unite.md
  docs/src/app/(docs)/api-reference/client/page.mdx
  docs/src/app/(docs)/api-reference/react/page.mdx
  examples/backend-adapters/client-react/src/main.tsx
  examples/backend-adapters/client-vanilla/src/normal-upload.ts
  examples/backend-adapters/client-vanilla/src/resumable-upload.ts
  examples/minimal-appdir/src/app/page.tsx
  examples/minimal-pagedir/src/pages/index.tsx
  examples/minimal-solidstart/src/routes/index.tsx
  examples/minimal-tanstack-start/app/routes/index.tsx
  examples/with-clerk-appdir/src/app/page.tsx
  examples/with-clerk-pagesdir/src/pages/index.tsx
  examples/with-drizzle-appdir/src/app/uploader.tsx
  examples/with-drizzle-pagesdir/src/pages/index.tsx
  examples/with-novel/uploadthing/novel-plugin.ts
  examples/with-tailwindcss/src/app/page.tsx
  packages/react/src/types.ts
  packages/react/src/useUploadThing.ts
  packages/react/test/client-generator.test.ts
  packages/react/test/upload-button.test.tsx
  packages/shared/src/dropzone-utils.ts
  packages/shared/src/utils.ts
  packages/shared/test/unwrap.test.ts
  packages/solid/src/create-uploadthing.ts
  packages/solid/src/types.ts
  packages/svelte/src/lib/create-uploadthing.ts
  packages/svelte/src/lib/types.ts
  packages/uploadthing/src/client.ts
  packages/uploadthing/src/types.ts
  packages/uploadthing/test/client.test.ts
  packages/vue/src/types.ts
  packages/vue/src/useUploadThing.ts
Labels: 📚 documentation, examples, @uploadthing/react, uploadthing/client

#993 feat: add `effect/Redacted`
  .changeset/orange-roses-sip.md
  examples/backend-adapters/server/package.json
  package.json
  packages/shared/package.json
  packages/shared/src/crypto.ts
  packages/shared/test/crypto.test.ts
  packages/uploadthing/package.json
  packages/uploadthing/src/internal/config.test.ts
  packages/uploadthing/src/internal/config.ts
  packages/uploadthing/src/internal/handler.ts
  packages/uploadthing/src/internal/jsonl.test.ts
  packages/uploadthing/src/internal/jsonl.ts
  packages/uploadthing/src/internal/route-config.ts
  packages/uploadthing/src/internal/runtime.ts
  packages/uploadthing/src/internal/shared-schemas.ts
  packages/uploadthing/src/internal/types.ts
  packages/uploadthing/src/sdk/index.ts
  packages/uploadthing/test/__test-helpers.ts
  packages/uploadthing/test/request-handler.test.ts
  packages/uploadthing/test/sdk.test.ts
  pnpm-lock.yaml
Labels: sdk

#1030 chore: bump effect
  examples/backend-adapters/server/package.json
  package.json
  packages/shared/package.json
  packages/shared/src/error.ts
  packages/shared/src/utils.ts
  packages/uploadthing/package.json
  packages/uploadthing/src/client.ts
  packages/uploadthing/src/sdk/index.ts
  packages/uploadthing/src/sdk/utils.ts
  pnpm-lock.yaml
Labels: uploadthing/client, sdk

#1010 chore(release): 📦 version packages
  .changeset/breezy-windows-admire.md
  .changeset/chatty-bananas-destroy.md
  .changeset/flat-seals-change.md
  .changeset/odd-cheetahs-kneel.md
  .changeset/orange-roses-sip.md
  .changeset/sharp-needles-collect.md
  .changeset/twenty-rings-unite.md
  .changeset/two-olives-shop.md
  examples/backend-adapters/client-react/package.json
  examples/backend-adapters/client-vanilla/package.json
  examples/backend-adapters/client-vue/package.json
  examples/backend-adapters/package.json
  examples/backend-adapters/server/package.json
  examples/minimal-appdir/package.json
  examples/minimal-astro-react/package.json
  examples/minimal-expo/package.json
  examples/minimal-nuxt/package.json
  examples/minimal-pagedir/package.json
  examples/minimal-solidstart/package.json
  examples/minimal-sveltekit/package.json
  examples/minimal-tanstack-start/package.json
  examples/with-clerk-appdir/package.json
  examples/with-clerk-pagesdir/package.json
  examples/with-clerk-remix/package.json
  examples/with-drizzle-appdir/package.json
  examples/with-drizzle-pagesdir/package.json
  examples/with-novel/package.json
  examples/with-react-image-crop/package.json
  examples/with-serveractions/package.json
  examples/with-tailwindcss/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/mime-types/CHANGELOG.md
  packages/mime-types/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/solid/CHANGELOG.md
  packages/solid/package.json
  packages/svelte/CHANGELOG.md
  packages/svelte/package.json
  packages/uploadthing/CHANGELOG.md
  packages/uploadthing/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package.json
  pnpm-lock.yaml
Labels: @uploadthing/react

#1035 docs: add callouts and examples for keygen in other languages
  docs/src/app/(docs)/uploading-files/page.mdx
  docs/src/mdx/rehype.js
Labels: 📚 documentation
