Repository pingdotgg/uploadthing, pull requests merged in 2024-09, with the labels that each got.

#930 feat: app urls
  examples/backend-adapters/server/package.json
  package.json
  packages/shared/package.json
  packages/uploadthing/package.json
  packages/uploadthing/src/internal/handler.ts
  packages/uploadthing/src/internal/shared-schemas.ts
  packages/uploadthing/src/internal/upload.browser.ts
  packages/uploadthing/src/internal/upload.server.ts
  packages/uploadthing/src/sdk/utils.ts
  packages/uploadthing/test/__test-helpers.ts
  packages/uploadthing/test/adapters.test.ts
  packages/uploadthing/test/client.test.ts
  packages/uploadthing/test/request-handler.test.ts
  packages/uploadthing/test/sdk.test.ts
  pnpm-lock.yaml
Labels: sdk

#924 feat: Add app-scoped urls to types for api returns
  .changeset/flat-hounds-count.md
  docs/src/pages/api-reference/react.mdx
  docs/src/pages/api-reference/ut-api.mdx
  packages/uploadthing/src/client.ts
  packages/uploadthing/src/internal/dev-hook.ts
  packages/uploadthing/src/internal/handler.ts
  packages/uploadthing/src/internal/shared-schemas.ts
  packages/uploadthing/src/sdk/utils.ts
  packages/uploadthing/test/__test-helpers.ts
  packages/uploadthing/test/client.test.ts
  packages/uploadthing/test/request-handler.test.ts
  packages/uploadthing/test/sdk.test.ts
Labels: 📚 documentation, uploadthing/client, sdk

#898 chore: init some component tests
  package.json
  packages/react/test/upload-button.test.tsx
  packages/react/vitest.config.ts
  pnpm-lock.yaml
Labels: @uploadthing/react

#886 feat: Add `onChange` + various feature parity additions/fixes
  .changeset/giant-candles-wash.md
  .github/workflows/pkg-pr-new.yaml
  docs/src/pages/api-reference/react.mdx
  package.json
  packages/dropzone/src/svelte.ts
  packages/nuxt/src/module.ts
  packages/react/src/components/button.tsx
  packages/react/src/components/dropzone.tsx
  packages/react/src/types.ts
  packages/react/test/upload-button.test.tsx
  packages/react/vitest.config.ts
  packages/solid/src/components/button.tsx
  packages/solid/src/components/dropzone.tsx
  packages/solid/src/types.ts
  packages/solid/src/useUploadThing.ts
  packages/svelte/src/lib/component/UploadButton.svelte
  packages/svelte/src/lib/component/UploadDropzone.svelte
  packages/svelte/src/lib/types.ts
  packages/vue/src/components/button.tsx
  packages/vue/src/components/dropzone.tsx
  packages/vue/src/types.ts
  pnpm-lock.yaml
Labels: 📚 documentation, @uploadthing/react

#878 chore(release): 📦 version packages
  .changeset/flat-hounds-count.md
  .changeset/giant-candles-wash.md
  .changeset/mighty-kiwis-enjoy.md
  .changeset/modern-mangos-punch.md
  .changeset/perfect-squids-relate.md
  .changeset/popular-zoos-sin.md
  .changeset/slimy-pets-march.md
  examples/backend-adapters/client-react/package.json
  examples/backend-adapters/client-vanilla/package.json
  examples/backend-adapters/client-vue/package.json
  examples/backend-adapters/package.json
  examples/backend-adapters/server/package.json
  examples/minimal-appdir/package.json
  examples/minimal-astro-react/package.json
  examples/minimal-expo/package.json
  examples/minimal-nuxt/package.json
  examples/minimal-pagedir/package.json
  examples/minimal-solidstart/package.json
  examples/minimal-sveltekit/package.json
  examples/with-clerk-appdir/package.json
  examples/with-clerk-pagesdir/package.json
  examples/with-drizzle-appdir/package.json
  examples/with-drizzle-pagesdir/package.json
  examples/with-novel/package.json
  examples/with-react-image-crop/package.json
  examples/with-serveractions/package.json
  examples/with-tailwindcss/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/solid/CHANGELOG.md
  packages/solid/package.json
  packages/svelte/CHANGELOG.md
  packages/svelte/package.json
  packages/uploadthing/CHANGELOG.md
  packages/uploadthing/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package.json
  pnpm-lock.yaml
Labels: @uploadthing/react

#939 chore: deprecate old docs
  docs/next-sitemap.config.js
  docs/package.json
  docs/src/pages/getting-started/nuxt.mdx
  docs/src/theme.config.js
  package.json
  pnpm-lock.yaml
Labels: 📚 documentation

#940 chore: flip default on `awaitServerData`
  .changeset/violet-melons-matter.md
  docs/src/app/(docs)/v7/page.mdx
  packages/react/src/types.ts
  packages/react/test/client-generator.test.ts
  packages/shared/src/types.ts
  packages/solid/src/types.ts
  packages/svelte/src/lib/types.ts
  packages/uploadthing/src/internal/handler.ts
  packages/uploadthing/src/internal/types.ts
  packages/uploadthing/src/internal/upload-builder.ts
  packages/uploadthing/src/types.ts
  packages/uploadthing/test/adapters.test.ts
  packages/uploadthing/test/gen-uploader.test.ts
Labels: 📚 documentation, @uploadthing/react

#937 feat: add remix adapter
  examples/with-clerk-remix/.env.example
  examples/with-clerk-remix/README.md
  examples/with-clerk-remix/app/entry.client.tsx
  examples/with-clerk-remix/app/entry.server.tsx
  examples/with-clerk-remix/app/root.tsx
  examples/with-clerk-remix/app/routes/_index.tsx
  examples/with-clerk-remix/app/routes/api.uploadthing.tsx
  examples/with-clerk-remix/app/tailwind.css
  examples/with-clerk-remix/app/utils/uploadthing.ts
  examples/with-clerk-remix/package.json
  examples/with-clerk-remix/postcss.config.js
  examples/with-clerk-remix/tailwind.config.ts
  examples/with-clerk-remix/tsconfig.json
  examples/with-clerk-remix/vite.config.ts
  packages/uploadthing/package.json
  packages/uploadthing/src/remix.ts
  packages/uploadthing/turbo.json
  pnpm-lock.yaml
Labels: examples

#941 chore: update post
  docs/public/images/blog/v7-launch-og.png
  docs/src/app/blog/(posts)/v7-launch/page.mdx
Labels: 📚 documentation

#942 chore(release): 📦 version packages
  .changeset/funny-wombats-lie.md
  .changeset/honest-rats-invent.md
  .changeset/lucky-lobsters-cough.md
  .changeset/tame-turkeys-listen.md
  .changeset/violet-melons-matter.md
  examples/backend-adapters/client-react/package.json
  examples/backend-adapters/client-vanilla/package.json
  examples/backend-adapters/client-vue/package.json
  examples/backend-adapters/package.json
  examples/backend-adapters/server/package.json
  examples/minimal-appdir/package.json
  examples/minimal-astro-react/package.json
  examples/minimal-expo/package.json
  examples/minimal-nuxt/package.json
  examples/minimal-pagedir/package.json
  examples/minimal-solidstart/package.json
  examples/minimal-sveltekit/package.json
  examples/profile-picture/CHANGELOG.md
  examples/profile-picture/package.json
  examples/with-clerk-appdir/package.json
  examples/with-clerk-pagesdir/package.json
  examples/with-clerk-remix/package.json
  examples/with-drizzle-appdir/package.json
  examples/with-drizzle-pagesdir/package.json
  examples/with-novel/package.json
  examples/with-react-image-crop/package.json
  examples/with-serveractions/package.json
  examples/with-tailwindcss/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/solid/CHANGELOG.md
  packages/solid/package.json
  packages/svelte/CHANGELOG.md
  packages/svelte/package.json
  packages/uploadthing/CHANGELOG.md
  packages/uploadthing/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package.json
  pnpm-lock.yaml
Labels: examples, @uploadthing/react

#944 chore(release): 📦 version packages
  .changeset/perfect-pens-worry.md
  examples/backend-adapters/client-react/package.json
  examples/backend-adapters/client-vanilla/package.json
  examples/backend-adapters/client-vue/package.json
  examples/backend-adapters/package.json
  examples/backend-adapters/server/package.json
  examples/minimal-appdir/package.json
  examples/minimal-astro-react/package.json
  examples/minimal-expo/package.json
  examples/minimal-nuxt/package.json
  examples/minimal-pagedir/package.json
  examples/minimal-solidstart/package.json
  examples/minimal-sveltekit/package.json
  examples/with-clerk-appdir/package.json
  examples/with-clerk-pagesdir/package.json
  examples/with-clerk-remix/package.json
  examples/with-drizzle-appdir/package.json
  examples/with-drizzle-pagesdir/package.json
  examples/with-novel/package.json
  examples/with-react-image-crop/package.json
  examples/with-serveractions/package.json
  examples/with-tailwindcss/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/mime-types/CHANGELOG.md
  packages/mime-types/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/solid/CHANGELOG.md
  packages/solid/package.json
  packages/svelte/CHANGELOG.md
  packages/svelte/package.json
  packages/uploadthing/CHANGELOG.md
  packages/uploadthing/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package.json
  pnpm-lock.yaml
Labels: @uploadthing/react

#945 fix: docsearch
  docs/src/mdx/search.js
Labels: 📚 documentation

#950 chore: Docs correction - presigned url generation
  .changeset/wet-llamas-fail.md
  docs/src/app/(docs)/uploading-files/page.mdx
  packages/shared/src/crypto.ts
Labels: 📚 documentation

#952 fix: run onUploadBegin
  .changeset/spotty-spoons-chew.md
  docs/src/app/(docs)/api-reference/client/page.mdx
  docs/src/app/(docs)/api-reference/react/page.mdx
  packages/react/test/upload-button.test.tsx
  packages/uploadthing/src/internal/upload.browser.ts
  packages/uploadthing/test/client.test.ts
Labels: 📚 documentation, @uploadthing/react

#953 fix(docs): force path resolution
  docs/tailwind.config.ts
Labels: 📚 documentation

#951 chore(release): 📦 version packages
  .changeset/cuddly-actors-repair.md
  .changeset/cuddly-pets-jog.md
  .changeset/spotty-spoons-chew.md
  .changeset/wet-llamas-fail.md
  examples/backend-adapters/client-react/package.json
  examples/backend-adapters/client-vanilla/package.json
  examples/backend-adapters/client-vue/package.json
  examples/backend-adapters/package.json
  examples/backend-adapters/server/package.json
  examples/minimal-appdir/package.json
  examples/minimal-astro-react/package.json
  examples/minimal-expo/package.json
  examples/minimal-nuxt/package.json
  examples/minimal-pagedir/package.json
  examples/minimal-solidstart/package.json
  examples/minimal-sveltekit/package.json
  examples/with-clerk-appdir/package.json
  examples/with-clerk-pagesdir/package.json
  examples/with-clerk-remix/package.json
  examples/with-drizzle-appdir/package.json
  examples/with-drizzle-pagesdir/package.json
  examples/with-novel/package.json
  examples/with-react-image-crop/package.json
  examples/with-serveractions/package.json
  examples/with-tailwindcss/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/solid/CHANGELOG.md
  packages/solid/package.json
  packages/svelte/CHANGELOG.md
  packages/svelte/package.json
  packages/uploadthing/CHANGELOG.md
  packages/uploadthing/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package.json
  pnpm-lock.yaml
Labels: @uploadthing/react

#955 chore(docs): add remaining route handler deprecations
  docs/src/app/(docs)/v7/page.mdx
Labels: 📚 documentation

#958 docs: Fix link to dashboard
  docs/src/app/(docs)/v7/page.mdx
Labels: 📚 documentation

#964 chore: Fix wrong dropzone label
  packages/react/src/components/dropzone.tsx
Labels: @uploadthing/react

#969 docs: uncomment used import on react example for useUploadThing hook
  docs/src/app/(docs)/api-reference/react/page.mdx
Labels: 📚 documentation

#966 chore: add tests for #964
  .changeset/cool-boats-look.md
  examples/backend-adapters/test/smoke.test.ts
  packages/react/test/upload-button.test.tsx
  packages/react/test/upload-dropzone.test.tsx
Labels: examples, @uploadthing/react

#963 chore: Fix Remix get started guide
  docs/src/app/(docs)/getting-started/remix/page.mdx
Labels: 📚 documentation

#972 fix(docs): resolve broken link in `generateReactHelpers`
  docs/src/app/(docs)/api-reference/react/page.mdx
Labels: 📚 documentation

#971 docs: Cleanup: Fix typo in Libraries
  docs/src/components/Libraries.tsx
Labels: 📚 documentation

#973 docs: Add getting started for tanstack/start
  docs/src/app/(docs)/getting-started/tanstack-start/page.mdx
  docs/src/site-config.ts
Labels: 📚 documentation

#979 docs: Fixed component exports for tanstack/start
  docs/src/app/(docs)/getting-started/tanstack-start/page.mdx
Labels: 📚 documentation

#976 chore: update elysia example
  docs/src/app/(docs)/backend-adapters/fetch/page.mdx
  examples/backend-adapters/server/package.json
  examples/backend-adapters/server/src/elysia.ts
  pnpm-lock.yaml
Labels: 📚 documentation, examples

#985 chore: Update solidstart example
  examples/minimal-solidstart/package.json
  examples/minimal-solidstart/postcss.config.js
  examples/minimal-solidstart/src/app.tsx
  examples/minimal-solidstart/src/entry-client.tsx
  examples/minimal-solidstart/src/entry-server.tsx
  examples/minimal-solidstart/src/main.css
  examples/minimal-solidstart/src/routes/api/uploadthing.ts
  examples/minimal-solidstart/src/routes/index.tsx
  examples/minimal-solidstart/src/server/uploadthing.ts
  examples/minimal-solidstart/src/utils/uploadthing.ts
  examples/minimal-solidstart/tailwind.config.js
  examples/minimal-solidstart/tailwind.config.ts
  examples/minimal-solidstart/tsconfig.json
  examples/with-clerk-appdir/next-env.d.ts
  examples/with-clerk-pagesdir/next-env.d.ts
  examples/with-drizzle-appdir/next-env.d.ts
  examples/with-drizzle-pagesdir/next-env.d.ts
  packages/dropzone/package.json
  packages/shared/package.json
  packages/solid/package.json
  packages/uploadthing/package.json
  pnpm-lock.yaml
Labels: examples

#982 docs: Improvements for getting-started/tanstack-start
  docs/src/app/(docs)/getting-started/tanstack-start/page.mdx
Labels: 📚 documentation

#988 docs: Fixed SolidStart and slightly changed Tanstack/Start
  docs/src/app/(docs)/getting-started/solid/page.mdx
  docs/src/app/(docs)/getting-started/tanstack-start/page.mdx
  examples/minimal-solidstart/src/utils/uploadthing.ts
Labels: 📚 documentation, examples

#977 chore: remove dropzone pacakge
  .changeset/curly-hornets-chew.md
  docs/pnpm-lock.yaml
  packages/dropzone/CHANGELOG.md
  packages/dropzone/package.json
  packages/dropzone/src/react.tsx
  packages/dropzone/src/solid.tsx
  packages/dropzone/src/types.ts
  packages/dropzone/src/vue.ts
  packages/dropzone/tsconfig.build.json
  packages/dropzone/tsconfig.json
  packages/dropzone/turbo.json
  packages/react/package.json
  packages/react/src/components/dropzone.tsx
  packages/react/src/index.ts
  packages/shared/src/dropzone-utils.ts
  packages/shared/src/index.ts
  packages/solid/package.json
  packages/solid/src/components/dropzone.tsx
  packages/svelte/package.json
  packages/svelte/src/lib/component/UploadDropzone.svelte
  packages/svelte/src/lib/component/create-dropzone.ts
  packages/svelte/src/lib/index.ts
  packages/vue/package.json
  packages/vue/src/components/dropzone.tsx
  packages/vue/src/index.ts
  pnpm-lock.yaml
  tooling/tsconfig/base.json
Labels: 📚 documentation, @uploadthing/react

#987 fix: Fix withUt in monorepos
  .changeset/shiny-singers-live.md
  docs/tailwind.config.ts
  examples/minimal-appdir/next-env.d.ts
  examples/minimal-pagedir/next-env.d.ts
  examples/minimal-solidstart/tailwind.config.js
  examples/profile-picture/next-env.d.ts
  examples/with-novel/next-env.d.ts
  examples/with-react-image-crop/next-env.d.ts
  examples/with-serveractions/next-env.d.ts
  examples/with-tailwindcss/next-env.d.ts
  packages/uploadthing/src/tw.ts
Labels: 📚 documentation, examples
