Repository pingdotgg/uploadthing, pull requests merged in 2024-02, with the labels that each got.

#597 docs: update usage of `UploadThingError`
  docs/src/pages/getting-started/appdir.mdx
  docs/src/pages/getting-started/pagedir.mdx
Labels: 📚 documentation

#600 docs: edge note
  docs/src/pages/faq.mdx
Labels: 📚 documentation

#587 feat: add customIds
  .changeset/lucky-carrots-sin.md
  .changeset/smart-peas-grab.md
  docs/src/pages/api-reference/server.mdx
  docs/src/pages/api-reference/ut-api.mdx
  examples/minimal-appdir/src/server/uploadthing.ts
  packages/shared/src/types.ts
  packages/uploadthing/src/express.ts
  packages/uploadthing/src/fastify.ts
  packages/uploadthing/src/h3.ts
  packages/uploadthing/src/internal/dev-hook.ts
  packages/uploadthing/src/internal/handler.ts
  packages/uploadthing/src/internal/types.ts
  packages/uploadthing/src/next-legacy.ts
  packages/uploadthing/src/next.ts
  packages/uploadthing/src/sdk/index.ts
  packages/uploadthing/src/sdk/utils.ts
  packages/uploadthing/test/upload-builder.test.ts
Labels: 📚 documentation, examples, sdk

#604 docs: add note about url
  docs/src/pages/backend-adapters/express.mdx
  docs/src/pages/backend-adapters/fastify.mdx
  docs/src/pages/backend-adapters/fetch.mdx
  docs/src/pages/backend-adapters/h3.mdx
Labels: 📚 documentation

#602 feat: add `UTFile` utility
  .changeset/witty-weeks-hear.md
  packages/uploadthing/src/sdk/index.ts
  packages/uploadthing/src/sdk/sdk.test.ts
  packages/uploadthing/src/server.ts
Labels: sdk

#603 fix: resolve source types so we don't need the built packages locally
  package.json
  packages/dropzone/package.json
  packages/dropzone/tsconfig.build.json
  packages/dropzone/tsconfig.json
  packages/mime-types/package.json
  packages/mime-types/tsconfig.build.json
  packages/mime-types/tsconfig.json
  packages/react/package.json
  packages/react/tsconfig.build.json
  packages/react/tsconfig.json
  packages/shared/package.json
  packages/shared/tsconfig.build.json
  packages/shared/tsconfig.json
  packages/uploadthing/package.json
  packages/uploadthing/tsconfig.build.json
  patches/bunchee@4.4.5.patch
  pnpm-lock.yaml
  tooling/tsconfig/base.build.json
  tooling/tsconfig/base.json
Labels: @uploadthing/react

#598 feat: use post for small files (client + sdk)
  .changeset/three-elephants-eat.md
  packages/shared/src/utils.ts
  packages/uploadthing/src/client.ts
  packages/uploadthing/src/constants.ts
  packages/uploadthing/src/internal/handler.ts
  packages/uploadthing/src/internal/multi-part.ts
  packages/uploadthing/src/sdk/utils.ts
Labels: uploadthing/client, sdk

#609 fix: always reassign everytime plugin re-renders
  .changeset/smart-bugs-train.md
  packages/react/src/next-ssr-plugin.tsx
Labels: @uploadthing/react

#605 docs: Update `react-dropzone` section
  docs/src/pages/api-reference/react.mdx
Labels: 📚 documentation

#601 chore(release): 📦 version packages
  .changeset/lucky-carrots-sin.md
  .changeset/quick-horses-jam.md
  .changeset/smart-bugs-train.md
  .changeset/smart-peas-grab.md
  .changeset/three-elephants-eat.md
  .changeset/witty-weeks-hear.md
  docs/package.json
  examples/backend-adapters/client/package.json
  examples/backend-adapters/package.json
  examples/backend-adapters/server/package.json
  examples/minimal-appdir/package.json
  examples/minimal-astro-react/package.json
  examples/minimal-pagedir/package.json
  examples/minimal-solidstart/package.json
  examples/with-clerk-appdir/package.json
  examples/with-clerk-pagesdir/package.json
  examples/with-drizzle-appdir/package.json
  examples/with-drizzle-pagesdir/package.json
  examples/with-react-image-crop/package.json
  examples/with-serveractions/package.json
  examples/with-tailwindcss/package.json
  packages/dropzone/CHANGELOG.md
  packages/dropzone/package.json
  packages/mime-types/CHANGELOG.md
  packages/mime-types/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/solid/package.json
  packages/uploadthing/CHANGELOG.md
  packages/uploadthing/package.json
  pnpm-lock.yaml
Labels: DO NOT MERGE, @uploadthing/react

#617 docs: adjust pagination default docs
  .changeset/nice-candles-unite.md
  docs/src/pages/api-reference/ut-api.mdx
  packages/uploadthing/src/sdk/index.ts
Labels: 📚 documentation, sdk

#618 chore(release): 📦 version packages
  .changeset/fuzzy-zoos-vanish.md
  .changeset/nice-candles-unite.md
  docs/package.json
  examples/backend-adapters/client/package.json
  examples/backend-adapters/package.json
  examples/backend-adapters/server/package.json
  examples/minimal-appdir/package.json
  examples/minimal-astro-react/package.json
  examples/minimal-pagedir/package.json
  examples/minimal-solidstart/package.json
  examples/with-clerk-appdir/package.json
  examples/with-clerk-pagesdir/package.json
  examples/with-drizzle-appdir/package.json
  examples/with-drizzle-pagesdir/package.json
  examples/with-react-image-crop/package.json
  examples/with-serveractions/package.json
  examples/with-tailwindcss/package.json
  packages/dropzone/CHANGELOG.md
  packages/dropzone/package.json
  packages/mime-types/CHANGELOG.md
  packages/mime-types/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/solid/package.json
  packages/uploadthing/CHANGELOG.md
  packages/uploadthing/package.json
  pnpm-lock.yaml
Labels: @uploadthing/react

#622 fix: `appendOnPaste` and `mode=auto` not working together
  .changeset/fifty-trainers-buy.md
  packages/react/src/components/dropzone.tsx
Labels: @uploadthing/react

#619 feat: add version lock to ensure `uploadthing/client` and `uploadthing/server`uses same version
  .changeset/eighty-laws-begin.md
  packages/uploadthing/src/client.ts
  packages/uploadthing/src/internal/handler.ts
  packages/uploadthing/src/internal/ut-reporter.ts
Labels: uploadthing/client

#636 fix: report failed PSPS uploads as failed to infra
  .changeset/popular-apples-walk.md
  packages/uploadthing/src/client.ts
  packages/uploadthing/src/internal/types.ts
Labels: uploadthing/client

#637 feat: add option to override name when uploading from url
  .changeset/popular-eels-talk.md
  docs/src/pages/api-reference/ut-api.mdx
  packages/uploadthing/src/sdk/index.ts
  packages/uploadthing/src/sdk/sdk.test.ts
Labels: 📚 documentation, sdk

#632 test: stub out some tests
  package.json
  packages/uploadthing/package.json
  packages/uploadthing/src/internal/handler.ts
  packages/uploadthing/src/internal/upload-builder.ts
  packages/uploadthing/src/sdk/sdk.test.ts
  packages/uploadthing/test/__test-helpers.ts
  packages/uploadthing/test/adapters.test.ts
  packages/uploadthing/test/get-full-url.test.ts
  packages/uploadthing/test/request-handler.test.ts
  packages/uploadthing/test/sdk.test.ts
  packages/uploadthing/test/upload-builder.test.ts
  pnpm-lock.yaml
  tooling/eslint-config/base.js
  vitest.config.ts
Labels: sdk

#638 fix: reject data urls in uploadFileFromUrl()
  packages/uploadthing/src/sdk/index.ts
  packages/uploadthing/test/sdk.test.ts
Labels: sdk

#639 feat: allow setting customid from uploadFilesFromUrl
  .changeset/popular-eels-talk.md
  docs/src/pages/api-reference/ut-api.mdx
  packages/uploadthing/src/sdk/index.ts
  packages/uploadthing/test/sdk.test.ts
Labels: 📚 documentation, sdk

#641 chore: move some stuff
  .changeset/giant-penguins-hang.md
  packages/shared/src/types.ts
  packages/uploadthing/src/client.ts
  packages/uploadthing/src/constants.ts
  packages/uploadthing/src/express.ts
  packages/uploadthing/src/fastify.ts
  packages/uploadthing/src/h3.ts
  packages/uploadthing/src/internal/constants.ts
  packages/uploadthing/src/internal/dev-hook.ts
  packages/uploadthing/src/internal/get-full-url.test.ts
  packages/uploadthing/src/internal/handler.ts
  packages/uploadthing/src/internal/ut-reporter.ts
  packages/uploadthing/src/next-legacy.ts
  packages/uploadthing/src/sdk/index.ts
  packages/uploadthing/src/sdk/types.ts
  packages/uploadthing/src/sdk/utils.ts
  packages/uploadthing/src/server.ts
  packages/uploadthing/test/__test-helpers.ts
  packages/uploadthing/test/sdk.test.ts
Labels: uploadthing/client, sdk

#642 feat(client): add `skipPolling` option
  .changeset/tasty-icons-laugh.md
  docs/src/pages/api-reference/react.mdx
  packages/react/src/components/button.tsx
  packages/react/src/components/dropzone.tsx
  packages/react/src/components/index.tsx
  packages/react/src/components/uploader.tsx
  packages/react/src/types.ts
  packages/react/src/useUploadThing.ts
  packages/react/test/client-generator.test.ts
  packages/uploadthing/src/client.ts
  packages/uploadthing/test/gen-uploader.test.ts
Labels: 📚 documentation, @uploadthing/react, uploadthing/client

#643 feat(react): add progress bar to dropzone, fix progress percentage `z-index`
  .changeset/neat-feet-breathe.md
  .changeset/sweet-zebras-live.md
  packages/react/package.json
  packages/react/src/components/button.tsx
  packages/react/src/components/dropzone.tsx
  pnpm-lock.yaml
Labels: @uploadthing/react

#630 chore: enforce compatible `uploadthing` version for `@uploadthing/react`
  .changeset/hot-houses-check.md
  packages/react/package.json
  packages/react/src/useUploadThing.ts
  packages/shared/src/utils.ts
  packages/uploadthing/src/client.ts
Labels: @uploadthing/react, uploadthing/client

#625 chore(release): 📦 version packages
  .changeset/brave-lies-decide.md
  .changeset/early-lobsters-matter.md
  .changeset/eighty-laws-begin.md
  .changeset/fifty-trainers-buy.md
  .changeset/giant-penguins-hang.md
  .changeset/hot-houses-check.md
  .changeset/neat-feet-breathe.md
  .changeset/old-moles-jump.md
  .changeset/popular-apples-walk.md
  .changeset/popular-eels-talk.md
  .changeset/silent-ravens-raise.md
  .changeset/sweet-zebras-live.md
  .changeset/tasty-icons-laugh.md
  docs/package.json
  examples/backend-adapters/client/package.json
  examples/backend-adapters/package.json
  examples/backend-adapters/server/package.json
  examples/minimal-appdir/package.json
  examples/minimal-astro-react/package.json
  examples/minimal-pagedir/package.json
  examples/minimal-solidstart/package.json
  examples/with-clerk-appdir/package.json
  examples/with-clerk-pagesdir/package.json
  examples/with-drizzle-appdir/package.json
  examples/with-drizzle-pagesdir/package.json
  examples/with-react-image-crop/package.json
  examples/with-serveractions/package.json
  examples/with-tailwindcss/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/solid/CHANGELOG.md
  packages/solid/package.json
  packages/uploadthing/CHANGELOG.md
  packages/uploadthing/package.json
  pnpm-lock.yaml
Labels: @uploadthing/react

#645 fix: Improve dropzone styles to be less confusing
  .changeset/brave-schools-visit.md
  packages/react/src/components/dropzone.tsx
Labels: @uploadthing/react

#646 chore(release): 📦 version packages
  .changeset/brave-schools-visit.md
  docs/package.json
  examples/backend-adapters/client/package.json
  examples/backend-adapters/package.json
  examples/minimal-appdir/package.json
  examples/minimal-astro-react/package.json
  examples/minimal-pagedir/package.json
  examples/with-clerk-appdir/package.json
  examples/with-clerk-pagesdir/package.json
  examples/with-drizzle-appdir/package.json
  examples/with-drizzle-pagesdir/package.json
  examples/with-react-image-crop/package.json
  examples/with-tailwindcss/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  pnpm-lock.yaml
Labels: @uploadthing/react

#650 chore(release): 📦 version packages
  .changeset/quiet-fireants-agree.md
  docs/package.json
  examples/backend-adapters/client/package.json
  examples/backend-adapters/package.json
  examples/minimal-appdir/package.json
  examples/minimal-astro-react/package.json
  examples/minimal-pagedir/package.json
  examples/minimal-solidstart/package.json
  examples/with-clerk-appdir/package.json
  examples/with-clerk-pagesdir/package.json
  examples/with-drizzle-appdir/package.json
  examples/with-drizzle-pagesdir/package.json
  examples/with-react-image-crop/package.json
  examples/with-tailwindcss/package.json
  packages/dropzone/CHANGELOG.md
  packages/dropzone/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/solid/CHANGELOG.md
  packages/solid/package.json
  pnpm-lock.yaml
Labels: @uploadthing/react

#651 chore: update solid to use new start
  examples/minimal-solidstart/CHANGELOG.md
  examples/minimal-solidstart/app.config.ts
  examples/minimal-solidstart/package.json
  examples/minimal-solidstart/postcss.config.cjs
  examples/minimal-solidstart/src/app.tsx
  examples/minimal-solidstart/src/entry-client.tsx
  examples/minimal-solidstart/src/entry-server.tsx
  examples/minimal-solidstart/src/global.css
  examples/minimal-solidstart/src/global.d.ts
  examples/minimal-solidstart/src/root.tsx
  examples/minimal-solidstart/src/routes/api/uploadthing.ts
  examples/minimal-solidstart/src/routes/index.tsx
  examples/minimal-solidstart/src/utils/uploadthing.ts
  examples/minimal-solidstart/tailwind.config.ts
  examples/minimal-solidstart/tsconfig.json
  examples/minimal-solidstart/vite.config.ts
  packages/solid/package.json
  packages/solid/tsconfig.json
  packages/solid/tsup.config.js
  packages/solid/tsup.config.ts
  pnpm-lock.yaml
Labels: examples
