Repository pingdotgg/uploadthing, pull requests merged in 2024-03, with the labels that each got.

#652 chore: use bun as PM
  .github/workflows/ci.yaml
  .github/workflows/examples.yaml
  .github/workflows/release-canary.yaml
  .github/workflows/release.yaml
  .npmrc
  .prettierignore
  bun.lockb
  examples/backend-adapters/README.md
  examples/backend-adapters/package.json
  examples/minimal-appdir/README.md
  examples/minimal-astro-react/package.json
  examples/minimal-pagedir/README.md
  examples/minimal-solidstart/README.md
  examples/minimal-solidstart/package.json
  examples/with-clerk-appdir/README.md
  examples/with-clerk-appdir/package.json
  examples/with-clerk-pagesdir/README.md
  examples/with-clerk-pagesdir/package.json
  examples/with-drizzle-appdir/README.md
  examples/with-drizzle-appdir/package.json
  examples/with-drizzle-pagesdir/README.md
  examples/with-drizzle-pagesdir/package.json
  examples/with-react-image-crop/README.md
  examples/with-serveractions/README.md
  examples/with-tailwindcss/README.md
  package.json
  packages/react/package.json
  packages/solid/package.json
  packages/uploadthing/test/adapters.test.ts
  patches/bunchee+4.4.8.patch
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tooling/eslint-config/base.js
  tooling/eslint-config/package.json
  tooling/gh-actions/setup/action.yml
Labels: examples

#654 fix(dropzone): Proper handling of endpoints that only accept 1 file
  .changeset/metal-stingrays-join.md
  .changeset/silver-elephants-tap.md
  .changeset/thick-frogs-live.md
  packages/react/src/components/dropzone.tsx
  packages/solid/src/components/button.tsx
  packages/solid/src/components/dropzone.tsx
  packages/solid/src/components/index.tsx
  packages/solid/src/components/uploader.tsx
  packages/solid/src/types.ts
  packages/solid/src/useUploadThing.ts
  packages/uploadthing/src/tw.ts
Labels: @uploadthing/react

#659 refactor: move internal stuff into shared
  .changeset/hip-boxes-share.md
  packages/react/package.json
  packages/react/src/components/button.tsx
  packages/react/src/components/dropzone.tsx
  packages/react/src/components/index.tsx
  packages/react/src/components/uploader.tsx
  packages/react/src/types.ts
  packages/react/src/useUploadThing.ts
  packages/react/test/client-generator.test.ts
  packages/shared/src/component-utils.ts
  packages/shared/src/error.ts
  packages/shared/src/index.ts
  packages/shared/src/resolve-api-url.ts
  packages/shared/src/types.ts
  packages/shared/src/utils.ts
  packages/solid/package.json
  packages/solid/src/components/button.tsx
  packages/solid/src/components/dropzone.tsx
  packages/solid/src/components/index.tsx
  packages/solid/src/components/uploader.tsx
  packages/solid/src/types.ts
  packages/solid/src/useUploadThing.ts
  packages/uploadthing/package.json
  packages/uploadthing/src/client.ts
  packages/uploadthing/src/express.ts
  packages/uploadthing/src/fastify.ts
  packages/uploadthing/src/h3.ts
  packages/uploadthing/src/internal/handler.ts
  packages/uploadthing/src/internal/parser.ts
  packages/uploadthing/src/internal/types.ts
  packages/uploadthing/src/internal/ut-reporter.ts
  packages/uploadthing/src/next-legacy.ts
  packages/uploadthing/src/next.ts
  packages/uploadthing/src/sdk/index.ts
  packages/uploadthing/src/sdk/types.ts
  packages/uploadthing/src/sdk/utils.ts
  packages/uploadthing/src/server.ts
  packages/uploadthing/src/types.ts
  packages/uploadthing/test/__test-helpers.ts
  packages/uploadthing/test/gen-uploader.test.ts
Labels: @uploadthing/react, uploadthing/client, sdk

#660 chore: remove duplicate file
  bun.lockb
  packages/shared/test/resolve-url.ts
  packages/uploadthing/src/client.ts
  packages/uploadthing/src/internal/get-full-api-url.ts
  packages/uploadthing/src/internal/handler.ts
  packages/uploadthing/turbo.json
Labels: uploadthing/client

#647 chore(example): remove vite proxy to make example easier to understnad
  bun.lockb
  examples/backend-adapters/client/src/constants.ts
  examples/backend-adapters/client/src/main.tsx
  examples/backend-adapters/client/src/uploadthing.ts
  examples/backend-adapters/client/vite.config.ts
  examples/backend-adapters/server/package.json
  examples/backend-adapters/server/src/cf-worker.ts
  examples/backend-adapters/server/src/elysia.ts
  examples/backend-adapters/server/src/fastify.ts
  examples/backend-adapters/server/src/h3.ts
  examples/backend-adapters/server/src/hono.ts
Labels: examples

#662 chore: extend types
  .changeset/chilly-mangos-relax.md
  packages/react/src/types.ts
  packages/react/test/client-generator.test.ts
  packages/shared/src/error.ts
  packages/shared/src/types.ts
  packages/shared/src/utils.ts
  packages/solid/src/types.ts
  packages/uploadthing/src/client.ts
  packages/uploadthing/src/express.ts
  packages/uploadthing/src/fastify.ts
  packages/uploadthing/src/h3.ts
  packages/uploadthing/src/internal/dev-hook.ts
  packages/uploadthing/src/internal/handler.ts
  packages/uploadthing/src/internal/types.ts
  packages/uploadthing/src/internal/ut-reporter.ts
  packages/uploadthing/src/next-legacy.ts
  packages/uploadthing/src/next.ts
  packages/uploadthing/src/sdk/index.ts
  packages/uploadthing/src/sdk/types.ts
  packages/uploadthing/src/sdk/utils.ts
  packages/uploadthing/src/server.ts
  packages/uploadthing/src/types.ts
  packages/uploadthing/test/__test-helpers.ts
  packages/uploadthing/test/adapters.test.ts
  packages/uploadthing/test/gen-uploader.test.ts
  packages/uploadthing/test/request-handler.test.ts
  packages/uploadthing/test/sdk.test.ts
  packages/uploadthing/test/upload-builder.test.ts
Labels: @uploadthing/react, uploadthing/client, sdk

#669 fix: update styles for scalar api code blocks
  docs/src/globals.css
Labels: 📚 documentation

#658 chore(release): 📦 version packages
  .changeset/chilly-mangos-relax.md
  .changeset/hip-boxes-share.md
  .changeset/khaki-pens-drive.md
  .changeset/metal-stingrays-join.md
  .changeset/silver-elephants-tap.md
  .changeset/sweet-parents-greet.md
  .changeset/thick-frogs-live.md
  docs/package.json
  examples/backend-adapters/client/package.json
  examples/backend-adapters/package.json
  examples/backend-adapters/server/package.json
  examples/minimal-appdir/package.json
  examples/minimal-astro-react/package.json
  examples/minimal-pagedir/package.json
  examples/minimal-solidstart/package.json
  examples/with-clerk-appdir/package.json
  examples/with-clerk-pagesdir/package.json
  examples/with-drizzle-appdir/package.json
  examples/with-drizzle-pagesdir/package.json
  examples/with-react-image-crop/package.json
  examples/with-serveractions/package.json
  examples/with-tailwindcss/package.json
  packages/mime-types/CHANGELOG.md
  packages/mime-types/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/solid/CHANGELOG.md
  packages/solid/package.json
  packages/uploadthing/CHANGELOG.md
  packages/uploadthing/package.json
Labels: @uploadthing/react

#678 chore(release): 📦 version packages
  .changeset/shaggy-planes-switch.md
  docs/package.json
  examples/backend-adapters/client/package.json
  examples/backend-adapters/package.json
  examples/backend-adapters/server/package.json
  examples/minimal-appdir/package.json
  examples/minimal-astro-react/package.json
  examples/minimal-pagedir/package.json
  examples/minimal-solidstart/package.json
  examples/with-clerk-appdir/package.json
  examples/with-clerk-pagesdir/package.json
  examples/with-drizzle-appdir/package.json
  examples/with-drizzle-pagesdir/package.json
  examples/with-react-image-crop/package.json
  examples/with-serveractions/package.json
  examples/with-tailwindcss/package.json
  packages/dropzone/CHANGELOG.md
  packages/dropzone/package.json
  packages/mime-types/CHANGELOG.md
  packages/mime-types/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/solid/CHANGELOG.md
  packages/solid/package.json
  packages/uploadthing/CHANGELOG.md
  packages/uploadthing/package.json
Labels: @uploadthing/react

#685 fix(docs): Update Open API spec URL
  docs/src/components/scalar.tsx
Labels: 📚 documentation

#688 fix(docs): Temporarily use old schema
  bun.lockb
  docs/src/components/scalar.tsx
Labels: 📚 documentation

#686 chore(docs): Bump scalar
  bun.lockb
  docs/package.json
  docs/src/components/scalar.tsx
Labels: 📚 documentation

#690 feat: update scalar and remove veary dep
  bun.lockb
  docs/package.json
  docs/src/components/scalar.tsx
  patches/vue-sonner+1.0.4.patch
Labels: 📚 documentation

#691 fix: Slightly better server error messages
  .changeset/eight-cows-fly.md
  packages/uploadthing/src/express.ts
  packages/uploadthing/src/fastify.ts
  packages/uploadthing/src/internal/handler.ts
  packages/uploadthing/src/next-legacy.ts
  packages/uploadthing/src/sdk/index.ts
  packages/uploadthing/src/server.ts
Labels: sdk

#692 chore(docs): Bump scalar to 0.0.4
  bun.lockb
  docs/package.json
  docs/src/components/scalar.tsx
Labels: 📚 documentation

#684 fix(button): Remove extra tabindex on button
  .changeset/flat-impalas-raise.md
  bun.lockb
  packages/react/src/components/button.tsx
Labels: @uploadthing/react

#697 docs: comment out config by default
  docs/src/pages/getting-started/appdir.mdx
  docs/src/pages/getting-started/pagedir.mdx
Labels: 📚 documentation

#698 docs: comment out config by default for solidstart
  docs/src/pages/getting-started/solid.mdx
Labels: 📚 documentation

#673 test: add client tests
  bun.lockb
  package.json
  packages/uploadthing/src/client.ts
  packages/uploadthing/src/internal/types.ts
  packages/uploadthing/test/__test-helpers.ts
  packages/uploadthing/test/adapters.test.ts
  packages/uploadthing/test/client.test.ts
  packages/uploadthing/test/request-handler.test.ts
  packages/uploadthing/test/sdk.test.ts
  patches/msw+2.2.2.patch
Labels: uploadthing/client

#702 docs: Make the uploadRouter in solid the same as in next
  docs/src/pages/getting-started/solid.mdx
Labels: 📚 documentation

#700 fix(docs): add noindex option & canonical url
  docs/src/theme.config.js
Labels: 📚 documentation

#703 fix(docs): noindex fix, the second part
  docs/src/theme.config.js
Labels: 📚 documentation

#705 feat: add headers override option
  .changeset/honest-books-leave.md
  .changeset/tame-mice-build.md
  docs/src/pages/api-reference/react.mdx
  packages/react/src/components/button.tsx
  packages/react/src/components/dropzone.tsx
  packages/react/src/types.ts
  packages/react/src/useUploadThing.ts
  packages/solid/src/components/button.tsx
  packages/solid/src/components/dropzone.tsx
  packages/solid/src/types.ts
  packages/solid/src/useUploadThing.ts
  packages/uploadthing/src/client.ts
  packages/uploadthing/src/internal/ut-reporter.ts
  packages/uploadthing/src/types.ts
  packages/uploadthing/test/client.test.ts
Labels: 📚 documentation, @uploadthing/react, uploadthing/client

#699 fix: don't use `Undici.File` in `FileEsque`
  .changeset/eighty-berries-buy.md
  packages/uploadthing/src/sdk/types.ts
  packages/uploadthing/test/sdk.test.ts
Labels: sdk

#693 chore(release): 📦 version packages
  .changeset/eight-cows-fly.md
  .changeset/eighty-berries-buy.md
  .changeset/flat-impalas-raise.md
  .changeset/honest-books-leave.md
  .changeset/metal-zoos-argue.md
  .changeset/sharp-emus-tie.md
  .changeset/tame-mice-build.md
  docs/package.json
  examples/backend-adapters/client/package.json
  examples/backend-adapters/package.json
  examples/backend-adapters/server/package.json
  examples/minimal-appdir/package.json
  examples/minimal-astro-react/package.json
  examples/minimal-pagedir/package.json
  examples/minimal-solidstart/package.json
  examples/with-clerk-appdir/package.json
  examples/with-clerk-pagesdir/package.json
  examples/with-drizzle-appdir/package.json
  examples/with-drizzle-pagesdir/package.json
  examples/with-react-image-crop/package.json
  examples/with-serveractions/package.json
  examples/with-tailwindcss/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/solid/CHANGELOG.md
  packages/solid/package.json
  packages/uploadthing/CHANGELOG.md
  packages/uploadthing/package.json
Labels: @uploadthing/react

#707 chore(docs): Remove unnecessary effect from OpenAPI doc page
  docs/src/components/scalar.tsx
  docs/src/globals.css
  docs/src/pages/api-reference/_meta.json
Labels: 📚 documentation

#713 fix(docs): Consistency between examples
  docs/src/pages/backend-adapters/express.mdx
  docs/src/pages/backend-adapters/fastify.mdx
  docs/src/pages/backend-adapters/fetch.mdx
  docs/src/pages/backend-adapters/h3.mdx
  docs/src/pages/getting-started/appdir.mdx
  docs/src/pages/getting-started/astro.mdx
  docs/src/pages/getting-started/pagedir.mdx
  docs/src/pages/getting-started/solid.mdx
Labels: 📚 documentation

#717 docs: allow deployments from forks
  docs/next.config.mjs
  docs/src/theme.config.js
Labels: 📚 documentation

#724 chore: readd manypkg
  bun.lockb
  docs/package.json
  docs/postcss.config.js
  examples/minimal-solidstart/package.json
  examples/with-clerk-appdir/package.json
  examples/with-clerk-pagesdir/package.json
  examples/with-drizzle-appdir/package.json
  examples/with-drizzle-pagesdir/package.json
  examples/with-tailwindcss/package.json
  examples/with-tailwindcss/postcss.config.js
  package.json
  packages/solid/package.json
  packages/solid/postcss.config.cjs
  tooling/eslint-config/package.json
  tooling/eslint-plugin/package.json
Labels: 📚 documentation, examples

#727 chore(ci): limit jobs runtime
  .github/workflows/ci.yaml
  .github/workflows/examples.yaml
  .github/workflows/release-canary.yaml
  .github/workflows/release.yaml
  docs/src/pages/faq.mdx
Labels: 📚 documentation

#725 feat: callback payload signing
  .changeset/pink-zebras-hunt.md
  docs/src/pages/_meta.json
  docs/src/pages/auth-security.mdx
  packages/shared/src/crypto.ts
  packages/shared/src/index.ts
  packages/uploadthing/src/internal/dev-hook.ts
  packages/uploadthing/src/internal/handler.ts
  packages/uploadthing/test/request-handler.test.ts
Labels: 📚 documentation

#728 docs: Update ut-api.mdx to match type defs
  docs/src/pages/api-reference/ut-api.mdx
Labels: 📚 documentation

#720 chore(release): 📦 version packages
  .changeset/pink-zebras-hunt.md
  .changeset/yellow-cats-report.md
  docs/package.json
  examples/backend-adapters/client/package.json
  examples/backend-adapters/package.json
  examples/backend-adapters/server/package.json
  examples/minimal-appdir/package.json
  examples/minimal-astro-react/package.json
  examples/minimal-pagedir/package.json
  examples/minimal-solidstart/package.json
  examples/with-clerk-appdir/package.json
  examples/with-clerk-pagesdir/package.json
  examples/with-drizzle-appdir/package.json
  examples/with-drizzle-pagesdir/package.json
  examples/with-react-image-crop/package.json
  examples/with-serveractions/package.json
  examples/with-tailwindcss/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/solid/CHANGELOG.md
  packages/solid/package.json
  packages/uploadthing/CHANGELOG.md
  packages/uploadthing/package.json
Labels: @uploadthing/react

#734 fix: dropzone form submit
  .changeset/fast-laws-move.md
  packages/react/src/components/dropzone.tsx
  packages/solid/src/components/dropzone.tsx
Labels: @uploadthing/react
