Repository pingdotgg/uploadthing, pull requests merged in 2024-01, with the labels that each got.

#530 chore(release): 📦 version packages
  .changeset/forty-walls-applaud.md
  .changeset/tough-pans-film.md
  docs/package.json
  examples/backend-adapters/client/package.json
  examples/backend-adapters/package.json
  examples/backend-adapters/server/package.json
  examples/minimal-appdir/package.json
  examples/minimal-pagedir/package.json
  examples/minimal-solidstart/package.json
  examples/with-clerk-appdir/package.json
  examples/with-clerk-pagesdir/package.json
  examples/with-drizzle-appdir/package.json
  examples/with-drizzle-pagesdir/package.json
  examples/with-react-image-crop/package.json
  examples/with-serveractions/package.json
  examples/with-tailwindcss/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/solid/CHANGELOG.md
  packages/solid/package.json
  packages/uploadthing/CHANGELOG.md
  packages/uploadthing/package.json
  pnpm-lock.yaml
Labels: @uploadthing/react

#533 docs(appdir): emphasize useclient with UploadButton
  docs/src/pages/getting-started/appdir.mdx
Labels: 📚 documentation

#524 refactor: explore minimal dropzone
  .changeset/stale-hairs-bow.md
  docs/src/pages/api-reference/react.mdx
  packages/dropzone/package.json
  packages/dropzone/src/core.ts
  packages/dropzone/src/react.tsx
  packages/dropzone/src/solid.tsx
  packages/dropzone/src/types.ts
  packages/dropzone/tsconfig.json
  packages/dropzone/tsup.config.ts
  packages/react/package.json
  packages/react/src/components/dropzone.tsx
  packages/react/src/hooks.ts
  packages/react/src/index.ts
  packages/react/src/use-dropzone/index.tsx
  packages/react/src/use-dropzone/types.ts
  packages/react/src/use-dropzone/utils.ts
  packages/solid/package.json
  packages/solid/src/components/dropzone.tsx
  pnpm-lock.yaml
Labels: 📚 documentation, @uploadthing/react

#536 Revert "Revert "refactor: explore minimal dropzone""
  .changeset/stale-hairs-bow.md
  docs/src/pages/api-reference/react.mdx
  packages/dropzone/package.json
  packages/dropzone/src/core.ts
  packages/dropzone/src/react.tsx
  packages/dropzone/src/solid.tsx
  packages/dropzone/src/types.ts
  packages/dropzone/tsconfig.json
  packages/dropzone/tsup.config.ts
  packages/react/package.json
  packages/react/src/components/dropzone.tsx
  packages/react/src/hooks.ts
  packages/react/src/index.ts
  packages/react/src/use-dropzone/index.tsx
  packages/react/src/use-dropzone/types.ts
  packages/react/src/use-dropzone/utils.ts
  packages/solid/package.json
  packages/solid/src/components/dropzone.tsx
  pnpm-lock.yaml
Labels: 📚 documentation, @uploadthing/react

#541 chore: pluralize-renamefiles
  .changeset/neat-geckos-sell.md
  packages/uploadthing/src/sdk/index.ts
Labels: sdk

#545 feat: logger for serverside stuff
  .changeset/gorgeous-icons-dress.md
  examples/minimal-appdir/src/app/api/uploadthing/route.ts
  packages/shared/src/error.ts
  packages/uploadthing/package.json
  packages/uploadthing/src/client.ts
  packages/uploadthing/src/express.ts
  packages/uploadthing/src/fastify.ts
  packages/uploadthing/src/h3.ts
  packages/uploadthing/src/internal/dev-hook.ts
  packages/uploadthing/src/internal/handler.ts
  packages/uploadthing/src/internal/incompat-node-guard.ts
  packages/uploadthing/src/internal/logger.ts
  packages/uploadthing/src/next-legacy.ts
  packages/uploadthing/src/sdk/index.ts
  packages/uploadthing/src/sdk/utils.ts
  packages/uploadthing/src/server.ts
  pnpm-lock.yaml
Labels: examples, uploadthing/client, sdk

#554 feat: validate shape of api key
  .changeset/silver-pets-suffer.md
  packages/uploadthing/src/internal/handler.ts
  packages/uploadthing/src/sdk/index.ts
  packages/uploadthing/src/sdk/sdk.test.ts
Labels: sdk

#556 feat: allow async on onBeforeUploadBegin on provided components
  .changeset/curly-schools-decide.md
  packages/react/src/types.ts
Labels: @uploadthing/react

#555 docs: openapi spec
  docs/package.json
  docs/src/components/scalar.tsx
  docs/src/globals.css
  docs/src/pages/api-reference/_meta.json
  docs/src/pages/api-reference/openapi-spec.mdx
  packages/uploadthing/src/sdk/index.ts
  pnpm-lock.yaml
Labels: 📚 documentation, sdk

#562 docs(server): Explain use of MIME-types in File Routes
  docs/src/pages/api-reference/server.mdx
Labels: 📚 documentation

#525 feat: private files
  .changeset/shiny-bears-stare.md
  docs/package.json
  docs/public/acl-settings.png
  docs/public/region-settings.png
  docs/src/components/accordion.tsx
  docs/src/components/icons.tsx
  docs/src/pages/_meta.json
  docs/src/pages/api-reference/server.mdx
  docs/src/pages/regions-and-acl.mdx
  docs/tailwind.config.ts
  examples/minimal-appdir/src/server/uploadthing.ts
  packages/shared/src/types.ts
  packages/uploadthing/src/sdk/index.ts
  packages/uploadthing/src/sdk/sdk.test.ts
  packages/uploadthing/src/sdk/utils.ts
  pnpm-lock.yaml
Labels: 📚 documentation, examples, sdk

#534 chore(release): 📦 version packages
  .changeset/bright-weeks-wash.md
  .changeset/curly-schools-decide.md
  .changeset/gorgeous-icons-dress.md
  .changeset/neat-geckos-sell.md
  .changeset/shiny-bears-stare.md
  .changeset/silver-pets-suffer.md
  .changeset/stale-hairs-bow.md
  docs/package.json
  examples/backend-adapters/client/package.json
  examples/backend-adapters/package.json
  examples/backend-adapters/server/package.json
  examples/minimal-appdir/package.json
  examples/minimal-pagedir/package.json
  examples/minimal-solidstart/package.json
  examples/with-clerk-appdir/package.json
  examples/with-clerk-pagesdir/package.json
  examples/with-drizzle-appdir/package.json
  examples/with-drizzle-pagesdir/package.json
  examples/with-react-image-crop/package.json
  examples/with-serveractions/package.json
  examples/with-tailwindcss/package.json
  packages/dropzone/CHANGELOG.md
  packages/dropzone/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/solid/CHANGELOG.md
  packages/solid/package.json
  packages/uploadthing/CHANGELOG.md
  packages/uploadthing/package.json
  pnpm-lock.yaml
Labels: @uploadthing/react

#549 docs: Add a note to FAQ about edge runtime errors in dev
  docs/src/pages/faq.mdx
Labels: 📚 documentation

#401 feat: nuxt-uploadthing module
  .npmrc
  examples/minimal-nuxt/README.md
  examples/nuxt/app.vue
  examples/nuxt/components/Home.vue
  examples/nuxt/nuxt.config.ts
  examples/nuxt/package.json
  examples/nuxt/public/favicon.ico
  examples/nuxt/server/api/uploadthing.ts
  examples/nuxt/tailwind.config.ts
  examples/nuxt/tsconfig.json
  packages/nuxt/.nuxtrc
  packages/nuxt/README.md
  packages/nuxt/package.json
  packages/nuxt/playground/app.vue
  packages/nuxt/playground/nuxt.config.ts
  packages/nuxt/playground/package.json
  packages/nuxt/playground/server/tsconfig.json
  packages/nuxt/playground/server/uploadthing.ts
  packages/nuxt/playground/tsconfig.json
  packages/nuxt/src/module.ts
  packages/nuxt/src/runtime/components/button.ts
  packages/nuxt/src/runtime/components/dropzone.ts
  packages/nuxt/src/runtime/composables/useUploadThing.ts
  packages/nuxt/src/runtime/server/api/uploadthing.ts
  packages/nuxt/src/runtime/server/router.ts
  packages/nuxt/tsconfig.json
  packages/uploadthing/package.json
  packages/vue/.vscode/extensions.json
  packages/vue/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: examples

#514 fix: support cf workers in dev mode (wrangler)
  .gitignore
  docs/src/pages/backend-adapters/fetch.mdx
  examples/backend-adapters/package.json
  examples/backend-adapters/server/.dev.vars.example
  examples/backend-adapters/server/package.json
  examples/backend-adapters/server/src/cf-worker.ts
  examples/backend-adapters/server/wrangler.toml
  packages/shared/package.json
  packages/shared/src/types.ts
  packages/shared/src/utils.ts
  packages/uploadthing/package.json
  packages/uploadthing/src/client.ts
  packages/uploadthing/src/express.ts
  packages/uploadthing/src/fastify.ts
  packages/uploadthing/src/h3.ts
  packages/uploadthing/src/internal/dev-hook.ts
  packages/uploadthing/src/internal/get-full-api-url.ts
  packages/uploadthing/src/internal/handler.ts
  packages/uploadthing/src/internal/incompat-node-guard.ts
  packages/uploadthing/src/internal/logger.ts
  packages/uploadthing/src/internal/node-http/toWebRequest.ts
  packages/uploadthing/src/internal/ut-reporter.ts
  packages/uploadthing/src/next-legacy.ts
  packages/uploadthing/src/sdk/index.ts
  packages/uploadthing/src/sdk/sdk.test.ts
  packages/uploadthing/src/sdk/utils.ts
  packages/uploadthing/src/server.ts
  packages/uploadthing/test/get-full-url.test.ts
  pnpm-lock.yaml
Labels: 📚 documentation, examples, uploadthing/client, sdk

#564 chore: (analytics) Report which UT frontend package is being used to make requests
  .changeset/tender-deers-sell.md
  packages/react/src/useUploadThing.ts
  packages/solid/src/useUploadThing.ts
  packages/uploadthing/src/client.ts
  packages/uploadthing/src/express.ts
  packages/uploadthing/src/fastify.ts
  packages/uploadthing/src/h3.ts
  packages/uploadthing/src/internal/handler.ts
  packages/uploadthing/src/internal/ut-reporter.ts
  packages/uploadthing/src/next-legacy.ts
  packages/uploadthing/src/next.ts
  packages/uploadthing/src/sdk/index.ts
  packages/uploadthing/src/server.ts
  packages/uploadthing/test/gen-uploader.test.ts
Labels: @uploadthing/react, uploadthing/client, sdk

#567 refactor: unify route handler names, update docs
  .changeset/popular-tomatoes-camp.md
  docs/src/pages/api-reference/_meta.json
  docs/src/pages/api-reference/next.mdx
  docs/src/pages/api-reference/server.mdx
  docs/src/pages/api-reference/ut-api.mdx
  docs/src/pages/backend-adapters/express.mdx
  docs/src/pages/backend-adapters/fastify.mdx
  docs/src/pages/backend-adapters/fetch.mdx
  docs/src/pages/backend-adapters/h3.mdx
  docs/src/pages/getting-started/appdir.mdx
  docs/src/pages/getting-started/pagedir.mdx
  docs/src/pages/getting-started/solid.mdx
  docs/src/pages/regions-and-acl.mdx
  examples/backend-adapters/server/src/cf-worker.ts
  examples/backend-adapters/server/src/elysia.ts
  examples/backend-adapters/server/src/express.ts
  examples/backend-adapters/server/src/fastify.ts
  examples/backend-adapters/server/src/h3.ts
  examples/backend-adapters/server/src/hono.ts
  examples/minimal-appdir/src/app/api/uploadthing/route.ts
  examples/minimal-astro-react/src/pages/api/uploadthing.ts
  examples/minimal-pagedir/src/pages/api/uploadthing.ts
  examples/minimal-solidstart/src/routes/api/uploadthing.ts
  examples/with-clerk-appdir/src/app/api/uploadthing/route.ts
  examples/with-clerk-pagesdir/src/pages/api/uploadthing.ts
  examples/with-drizzle-appdir/src/app/api/uploadthing/route.ts
  examples/with-drizzle-pagesdir/src/pages/api/uploadthing.ts
  examples/with-react-image-crop/src/app/api/uploadthing/route.ts
  examples/with-tailwindcss/src/app/api/uploadthing/route.ts
  packages/uploadthing/src/express.ts
  packages/uploadthing/src/fastify.ts
  packages/uploadthing/src/h3.ts
  packages/uploadthing/src/internal/handler.ts
  packages/uploadthing/src/next-legacy.ts
  packages/uploadthing/src/next.ts
  packages/uploadthing/src/server.ts
Labels: 📚 documentation, examples

#569 refactor: split component generators for better tree-shakability
  docs/src/pages/api-reference/react.mdx
  examples/backend-adapters/client/src/uploadthing.ts
  examples/minimal-appdir/src/utils/uploadthing.ts
  examples/minimal-astro-react/src/components/page.tsx
  examples/minimal-pagedir/src/utils/uploadthing.ts
  examples/minimal-solidstart/src/utils/uploadthing.ts
  examples/with-clerk-appdir/src/utils/uploadthing.ts
  examples/with-clerk-pagesdir/src/utils/uploadthing.ts
  examples/with-drizzle-appdir/src/utils/uploadthing.ts
  examples/with-drizzle-pagesdir/src/utils/uploadthing.ts
  examples/with-react-image-crop/src/utils/uploadthing.ts
  examples/with-tailwindcss/src/utils/uploadthing.ts
  packages/react/src/component.tsx
  packages/react/src/components/button.tsx
  packages/react/src/components/dropzone.tsx
  packages/react/src/components/index.tsx
  packages/react/src/components/uploader.tsx
  packages/react/src/hooks.ts
  packages/react/src/index.ts
  packages/react/src/next-ssr-plugin.tsx
  packages/react/src/types.ts
  packages/react/src/useUploadThing.ts
  packages/react/test/client-generator.test.ts
  packages/shared/src/types.ts
  packages/solid/src/component.tsx
  packages/solid/src/components/button.tsx
  packages/solid/src/components/dropzone.tsx
  packages/solid/src/components/index.tsx
  packages/solid/src/components/uploader.tsx
  packages/solid/src/index.tsx
  packages/solid/src/types.ts
  packages/solid/src/useUploadThing.ts
  packages/uploadthing/src/client.ts
  packages/uploadthing/src/h3.ts
  packages/uploadthing/src/internal/get-full-api-url.ts
Labels: 📚 documentation, examples, @uploadthing/react, uploadthing/client

#566 chore(release): 📦 version packages
  .changeset/popular-tomatoes-camp.md
  .changeset/stale-lamps-enjoy.md
  .changeset/tender-deers-sell.md
  .changeset/thick-games-greet.md
  docs/package.json
  examples/backend-adapters/client/package.json
  examples/backend-adapters/package.json
  examples/backend-adapters/server/package.json
  examples/minimal-appdir/package.json
  examples/minimal-pagedir/package.json
  examples/minimal-solidstart/package.json
  examples/with-clerk-appdir/package.json
  examples/with-clerk-pagesdir/package.json
  examples/with-drizzle-appdir/package.json
  examples/with-drizzle-pagesdir/package.json
  examples/with-react-image-crop/package.json
  examples/with-serveractions/package.json
  examples/with-tailwindcss/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/solid/CHANGELOG.md
  packages/solid/package.json
  packages/uploadthing/CHANGELOG.md
  packages/uploadthing/package.json
  pnpm-lock.yaml
Labels: @uploadthing/react

#575 chore(docs): Update docs to use new split component generators
  docs/src/pages/api-reference/react.mdx
  docs/src/pages/faq.mdx
  docs/src/pages/getting-started/appdir.mdx
  docs/src/pages/getting-started/pagedir.mdx
  docs/src/pages/getting-started/solid.mdx
Labels: 📚 documentation

#576 fix: omit `pacakge` from uploadFiles type
  .changeset/dry-bobcats-shop.md
  packages/react/src/useUploadThing.ts
  packages/solid/src/useUploadThing.ts
Labels: @uploadthing/react

#574 chore(release): 📦 version packages
  .changeset/dry-bobcats-shop.md
  .changeset/silver-parents-breathe.md
  docs/package.json
  examples/backend-adapters/client/package.json
  examples/backend-adapters/package.json
  examples/backend-adapters/server/package.json
  examples/minimal-appdir/package.json
  examples/minimal-pagedir/package.json
  examples/minimal-solidstart/package.json
  examples/with-clerk-appdir/package.json
  examples/with-clerk-pagesdir/package.json
  examples/with-drizzle-appdir/package.json
  examples/with-drizzle-pagesdir/package.json
  examples/with-react-image-crop/package.json
  examples/with-serveractions/package.json
  examples/with-tailwindcss/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/solid/CHANGELOG.md
  packages/solid/package.json
  packages/uploadthing/CHANGELOG.md
  packages/uploadthing/package.json
  pnpm-lock.yaml
Labels: @uploadthing/react

#572 chore: move tooling, cleanup packages folder
  packages/config/tsconfig/base.json
  packages/config/tsconfig/nextjs.json
  packages/config/tsconfig/react-library.json
  packages/dropzone/tsup.config.ts
  packages/mime-types/tsup.config.ts
  packages/react/tsconfig.sourcemap.json
  packages/shared/tsup.config.ts
  packages/uploadthing/tsconfig.sourcemap.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tooling/eslint-config/base.js
  tooling/eslint-config/nextjs.js
  tooling/eslint-config/package.json
  tooling/eslint-config/react.js
  tooling/eslint-plugin/package.json
  tooling/eslint-plugin/src/index.ts
  tooling/eslint-plugin/src/rules/no-throwing-promises.ts
  tooling/eslint-plugin/tsconfig.json
  tooling/eslint-plugin/tsup.config.ts
  tooling/tsconfig/README.md
  tooling/tsconfig/base.json
  tooling/tsconfig/package.json
  tooling/tsup/index.d.ts
  tooling/tsup/index.js
  tooling/tsup/package.json
Labels: @uploadthing/react

#584 chore: repo maintenance 29/01
  examples/backend-adapters/client/package.json
  examples/backend-adapters/server/package.json
  examples/minimal-appdir/package.json
  examples/minimal-pagedir/package.json
  examples/minimal-solidstart/package.json
  examples/with-clerk-appdir/package.json
  examples/with-clerk-pagesdir/package.json
  examples/with-drizzle-appdir/package.json
  examples/with-drizzle-pagesdir/package.json
  examples/with-react-image-crop/package.json
  examples/with-serveractions/package.json
  examples/with-tailwindcss/package.json
  package.json
  packages/react/package.json
  packages/solid/package.json
  packages/uploadthing/package.json
  packages/uploadthing/src/sdk/sdk.test.ts
  pnpm-lock.yaml
  tooling/tsup/package.json
Labels: sdk

#585 fix(docs): correct typo in Astro createRouteHandler function call
  docs/src/pages/backend-adapters/fetch.mdx
Labels: 📚 documentation

#582 feat: float error messages to client for UploadThingErrors
  .changeset/large-kiwis-fetch.md
  docs/src/pages/api-reference/server.mdx
  docs/src/pages/errors.mdx
  docs/src/pages/getting-started/appdir.mdx
  packages/shared/src/error.ts
  packages/uploadthing/src/internal/handler.ts
  packages/uploadthing/src/server.ts
Labels: 📚 documentation

#588 exponential backoff refactoring
  packages/shared/package.json
  packages/uploadthing/package.json
  packages/uploadthing/src/client.ts
  packages/uploadthing/src/effect-utils.ts
  pnpm-lock.yaml
Labels: uploadthing/client

#578 chore(astro): improve example, add docs
  docs/src/pages/backend-adapters/fetch.mdx
  docs/src/pages/getting-started/_meta.json
  docs/src/pages/getting-started/astro.mdx
  examples/minimal-astro-react/package.json
  examples/minimal-astro-react/src/components/image-uploader.tsx
  examples/minimal-astro-react/src/components/page.tsx
  examples/minimal-astro-react/src/components/uploadthing-ssr.astro
  examples/minimal-astro-react/src/layouts/root.astro
  examples/minimal-astro-react/src/pages/api/uploadthing.ts
  examples/minimal-astro-react/src/pages/index.astro
  examples/minimal-astro-react/src/utils/uploadthing.ts
  examples/minimal-astro-react/tsconfig.json
  pnpm-lock.yaml
Labels: 📚 documentation, examples

#593 fix: Fixe broken tests so release works
  .changeset/rich-cycles-stare.md
  .prettierignore
  packages/uploadthing/src/sdk/sdk.test.ts
Labels: sdk
