Repository pingdotgg/uploadthing, pull requests merged in 2024-04, with the labels that each got.

#739 feat: minFileCount option on RouteConfig
  .changeset/ninety-chicken-know.md
  docs/src/pages/api-reference/server.mdx
  packages/shared/src/component-utils.ts
  packages/shared/src/types.ts
  packages/shared/src/utils.ts
  packages/uploadthing/src/internal/handler.ts
  packages/uploadthing/test/adapters.test.ts
  packages/uploadthing/test/request-handler.test.ts
Labels: 📚 documentation

#742 feat: add updateACL to sdk
  .changeset/two-pugs-impress.md
  docs/src/pages/api-reference/ut-api.mdx
  packages/uploadthing/src/sdk/index.ts
  packages/uploadthing/src/sdk/types.ts
  packages/uploadthing/test/__test-helpers.ts
  packages/uploadthing/test/sdk.test.ts
Labels: 📚 documentation, sdk, 🚢 Ready to release

#225 feat: Sveltekit support
  .changeset/moody-socks-kneel.md
  .gitignore
  .prettierignore
  .vscode/extensions.json
  bun.lockb
  docs/src/pages/getting-started/_meta.json
  docs/src/pages/getting-started/svelte.mdx
  docs/src/pages/theming.mdx
  examples/minimal-sveltekit/.env.example
  examples/minimal-sveltekit/README.md
  examples/minimal-sveltekit/package.json
  examples/minimal-sveltekit/src/app.d.ts
  examples/minimal-sveltekit/src/app.html
  examples/minimal-sveltekit/src/lib/server/uploadthing.ts
  examples/minimal-sveltekit/src/lib/utils/uploadthing.ts
  examples/minimal-sveltekit/src/routes/+page.svelte
  examples/minimal-sveltekit/src/routes/api/uploadthing/+server.ts
  examples/minimal-sveltekit/static/favicon.png
  examples/minimal-sveltekit/svelte.config.js
  examples/minimal-sveltekit/tsconfig.json
  examples/minimal-sveltekit/vite.config.ts
  packages/dropzone/package.json
  packages/dropzone/src/svelte.ts
  packages/shared/src/component-utils.ts
  packages/svelte/package.json
  packages/svelte/postcss.config.cjs
  packages/svelte/src/app.html
  packages/svelte/src/lib/component/Spinner.svelte
  packages/svelte/src/lib/component/UploadButton.svelte
  packages/svelte/src/lib/component/UploadDropzone.svelte
  packages/svelte/src/lib/component/Uploader.svelte
  packages/svelte/src/lib/component/index.ts
  packages/svelte/src/lib/component/shared.ts
  packages/svelte/src/lib/create-uploadthing.ts
  packages/svelte/src/lib/index.ts
  packages/svelte/src/lib/styles.css
  packages/svelte/src/lib/types.ts
  packages/svelte/src/lib/utils/createFetch.ts
  packages/svelte/svelte.config.js
  packages/svelte/tailwind.config.cjs
  packages/svelte/tsconfig.json
  packages/svelte/vite.config.ts
  packages/svelte/vitest.config.ts
  packages/uploadthing/src/internal/dev-hook.ts
  packages/uploadthing/src/tw.ts
  tooling/eslint-config/package.json
  tooling/eslint-config/svelte.js
  turbo.json
Labels: 📚 documentation, examples

#749 chore(release): 📦 version packages
  .changeset/moody-socks-kneel.md
  docs/package.json
  examples/backend-adapters/client/package.json
  examples/backend-adapters/package.json
  examples/backend-adapters/server/package.json
  examples/minimal-appdir/package.json
  examples/minimal-astro-react/package.json
  examples/minimal-pagedir/package.json
  examples/minimal-solidstart/package.json
  examples/minimal-sveltekit/package.json
  examples/with-clerk-appdir/package.json
  examples/with-clerk-pagesdir/package.json
  examples/with-drizzle-appdir/package.json
  examples/with-drizzle-pagesdir/package.json
  examples/with-react-image-crop/package.json
  examples/with-serveractions/package.json
  examples/with-tailwindcss/package.json
  packages/dropzone/CHANGELOG.md
  packages/dropzone/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/solid/CHANGELOG.md
  packages/solid/package.json
  packages/svelte/CHANGELOG.md
  packages/svelte/package.json
  packages/uploadthing/CHANGELOG.md
  packages/uploadthing/package.json
Labels: @uploadthing/react

#752 chore(release): 📦 version packages
  .changeset/heavy-points-hear.md
  docs/package.json
  examples/backend-adapters/client/package.json
  examples/backend-adapters/package.json
  examples/minimal-appdir/package.json
  examples/minimal-astro-react/package.json
  examples/minimal-pagedir/package.json
  examples/minimal-solidstart/package.json
  examples/minimal-sveltekit/package.json
  examples/with-clerk-appdir/package.json
  examples/with-clerk-pagesdir/package.json
  examples/with-drizzle-appdir/package.json
  examples/with-drizzle-pagesdir/package.json
  examples/with-react-image-crop/package.json
  examples/with-tailwindcss/package.json
  packages/dropzone/CHANGELOG.md
  packages/dropzone/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/solid/CHANGELOG.md
  packages/solid/package.json
  packages/svelte/CHANGELOG.md
  packages/svelte/package.json
Labels: @uploadthing/react

#756 chore: Go back to pnpm
  .github/workflows/ci.yaml
  .github/workflows/examples.yaml
  .github/workflows/release-canary.yaml
  .github/workflows/release.yaml
  .gitignore
  .npmrc
  .prettierignore
  README.md
  bun.lockb
  docs/package.json
  examples/backend-adapters/README.md
  examples/backend-adapters/client/package.json
  examples/backend-adapters/package.json
  examples/backend-adapters/playwright.config.ts
  examples/backend-adapters/server/package.json
  examples/minimal-appdir/README.md
  examples/minimal-appdir/package.json
  examples/minimal-astro-react/package.json
  examples/minimal-pagedir/README.md
  examples/minimal-pagedir/package.json
  examples/minimal-solidstart/README.md
  examples/minimal-solidstart/package.json
  examples/minimal-sveltekit/package.json
  examples/with-clerk-appdir/README.md
  examples/with-clerk-appdir/package.json
  examples/with-clerk-pagesdir/README.md
  examples/with-clerk-pagesdir/package.json
  examples/with-drizzle-appdir/README.md
  examples/with-drizzle-appdir/package.json
  examples/with-drizzle-pagesdir/README.md
  examples/with-drizzle-pagesdir/package.json
  examples/with-react-image-crop/README.md
  examples/with-react-image-crop/package.json
  examples/with-serveractions/README.md
  examples/with-serveractions/package.json
  examples/with-tailwindcss/README.md
  examples/with-tailwindcss/package.json
  package.json
  packages/react/package.json
  packages/shared/package.json
  packages/solid/package.json
  packages/svelte/package.json
  packages/uploadthing/package.json
  patches/@mswjs+interceptors+0.25.16.patch
  patches/@mswjs__interceptors@0.26.15.patch
  patches/msw+2.2.10.patch
  patches/msw@2.2.13.patch
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tooling/eslint-config/base.js
  tooling/gh-actions/setup/action.yml
Labels: examples

#761 fix(docs): Force styles to be included in docs site build
  .vscode/settings.json
  docs/tailwind.config.ts
Labels: 📚 documentation

#457 refactor: rewrite in `Effect`
  .changeset/happy-dodos-sleep.md
  .vscode/operators.code-snippets
  packages/dropzone/src/types.ts
  packages/react/package.json
  packages/react/src/types.ts
  packages/react/src/useUploadThing.ts
  packages/react/src/utils/useFetch.ts
  packages/shared/package.json
  packages/shared/src/effect.ts
  packages/shared/src/error.ts
  packages/shared/src/index.ts
  packages/shared/src/tagged-errors.ts
  packages/shared/src/types.ts
  packages/shared/src/utils.ts
  packages/solid/package.json
  packages/solid/src/types.ts
  packages/solid/src/useUploadThing.ts
  packages/uploadthing/package.json
  packages/uploadthing/src/client.ts
  packages/uploadthing/src/express.ts
  packages/uploadthing/src/fastify.ts
  packages/uploadthing/src/h3.ts
  packages/uploadthing/src/internal/dev-hook.ts
  packages/uploadthing/src/internal/get-api-key.ts
  packages/uploadthing/src/internal/handler.ts
  packages/uploadthing/src/internal/multi-part.browser.ts
  packages/uploadthing/src/internal/multi-part.server.ts
  packages/uploadthing/src/internal/multi-part.ts
  packages/uploadthing/src/internal/node-http/getBody.ts
  packages/uploadthing/src/internal/node-http/toWebRequest.ts
  packages/uploadthing/src/internal/parser.ts
  packages/uploadthing/src/internal/presigned-post.browser.ts
  packages/uploadthing/src/internal/presigned-post.server.ts
  packages/uploadthing/src/internal/resolve-url.ts
  packages/uploadthing/src/internal/shared-schemas.ts
  packages/uploadthing/src/internal/to-web-request.ts
  packages/uploadthing/src/internal/types.ts
  packages/uploadthing/src/internal/ut-reporter.ts
  packages/uploadthing/src/internal/validate-request-input.ts
  packages/uploadthing/src/next-legacy.ts
  packages/uploadthing/src/sdk/index.ts
  packages/uploadthing/src/sdk/types.ts
  packages/uploadthing/src/sdk/ut-file.ts
  packages/uploadthing/src/sdk/utils.ts
  packages/uploadthing/src/server.ts
  packages/uploadthing/src/types.ts
  packages/uploadthing/test/__test-helpers.ts
  packages/uploadthing/test/client.test.ts
  packages/uploadthing/test/request-handler.test.ts
  packages/uploadthing/test/sdk.test.ts
  packages/uploadthing/test/upload-builder.test.ts
  packages/uploadthing/test/ut-file.test.ts
  pnpm-lock.yaml
  tooling/tsconfig/base.build.json
Labels: @uploadthing/react, uploadthing/client, sdk

#754 chore(release): 📦 version packages
  .changeset/famous-forks-attend.md
  .changeset/friendly-apes-allow.md
  .changeset/happy-dodos-sleep.md
  .changeset/khaki-penguins-help.md
  .changeset/small-squids-drive.md
  .changeset/twenty-pillows-rush.md
  examples/backend-adapters/client-vue/package.json
  examples/backend-adapters/client/package.json
  examples/backend-adapters/package.json
  examples/backend-adapters/server/package.json
  examples/minimal-appdir/package.json
  examples/minimal-astro-react/package.json
  examples/minimal-nuxt/package.json
  examples/minimal-pagedir/package.json
  examples/minimal-solidstart/package.json
  examples/minimal-sveltekit/package.json
  examples/with-clerk-appdir/package.json
  examples/with-clerk-pagesdir/package.json
  examples/with-drizzle-appdir/package.json
  examples/with-drizzle-pagesdir/package.json
  examples/with-react-image-crop/package.json
  examples/with-serveractions/package.json
  examples/with-tailwindcss/package.json
  packages/dropzone/CHANGELOG.md
  packages/dropzone/package.json
  packages/mime-types/CHANGELOG.md
  packages/mime-types/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/nuxt/src/runtime/components/button.d.ts
  packages/nuxt/src/runtime/components/button.js
  packages/nuxt/src/runtime/components/button.mjs
  packages/nuxt/src/runtime/components/dropzone.d.ts
  packages/nuxt/src/runtime/components/dropzone.js
  packages/nuxt/src/runtime/components/dropzone.mjs
  packages/nuxt/src/runtime/composables/useUploadThing.d.ts
  packages/nuxt/src/runtime/composables/useUploadThing.js
  packages/nuxt/src/runtime/composables/useUploadThing.mjs
  packages/nuxt/src/runtime/server/api/uploadthing.d.ts
  packages/nuxt/src/runtime/server/api/uploadthing.js
  packages/nuxt/src/runtime/server/api/uploadthing.mjs
  packages/nuxt/src/runtime/server/router.d.ts
  packages/nuxt/src/runtime/server/router.js
  packages/nuxt/src/runtime/server/router.mjs
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/solid/CHANGELOG.md
  packages/solid/package.json
  packages/svelte/CHANGELOG.md
  packages/svelte/package.json
  packages/uploadthing/CHANGELOG.md
  packages/uploadthing/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package.json
  pnpm-lock.yaml
Labels: @uploadthing/react

#767 fix: bad nuxt release
  .changeset/ten-foxes-exist.md
  packages/nuxt/turbo.json
Labels: release canary

#773 feat: extend supported filetypes by adding dcm (DICOM files) mime type
  .changeset/empty-birds-whisper.md
  packages/mime-types/src/db.ts
Labels: release canary

#775 refactor: update "effect" & switch to alias imports
  .changeset/old-pans-wink.md
  packages/dropzone/package.json
  packages/mime-types/package.json
  packages/nuxt/package.json
  packages/react/package.json
  packages/shared/package.json
  packages/shared/src/effect.ts
  packages/shared/src/utils.ts
  packages/solid/package.json
  packages/svelte/package.json
  packages/uploadthing/package.json
  packages/uploadthing/src/client.ts
  packages/uploadthing/src/express.ts
  packages/uploadthing/src/internal/dev-hook.ts
  packages/uploadthing/src/internal/handler.ts
  packages/uploadthing/src/internal/multi-part.browser.ts
  packages/uploadthing/src/internal/multi-part.server.ts
  packages/uploadthing/src/internal/presigned-post.browser.ts
  packages/uploadthing/src/internal/presigned-post.server.ts
  packages/uploadthing/src/internal/resolve-url.ts
  packages/uploadthing/src/internal/to-web-request.ts
  packages/uploadthing/src/internal/types.ts
  packages/uploadthing/src/internal/ut-reporter.ts
  packages/uploadthing/src/internal/validate-request-input.ts
  packages/uploadthing/src/sdk/index.ts
  packages/uploadthing/src/sdk/utils.ts
  packages/vue/package.json
  pnpm-lock.yaml
Labels: uploadthing/client, sdk

#770 fix: don't validate schema for non-ok requests
  .changeset/hungry-flies-study.md
  .changeset/kind-years-double.md
  .vscode/operators.code-snippets
  packages/shared/package.json
  packages/shared/src/effect.ts
  packages/shared/src/tagged-errors.ts
  packages/shared/src/utils.ts
  packages/uploadthing/package.json
  packages/uploadthing/src/client.ts
  packages/uploadthing/src/express.ts
  packages/uploadthing/src/fastify.ts
  packages/uploadthing/src/h3.ts
  packages/uploadthing/src/internal/dev-hook.ts
  packages/uploadthing/src/internal/handler.ts
  packages/uploadthing/src/internal/incompat-node-guard.ts
  packages/uploadthing/src/internal/logger.ts
  packages/uploadthing/src/internal/multi-part.browser.ts
  packages/uploadthing/src/internal/multi-part.server.ts
  packages/uploadthing/src/internal/presigned-post.server.ts
  packages/uploadthing/src/internal/resolve-url.ts
  packages/uploadthing/src/internal/to-web-request.ts
  packages/uploadthing/src/internal/ut-reporter.ts
  packages/uploadthing/src/internal/validate-request-input.ts
  packages/uploadthing/src/next-legacy.ts
  packages/uploadthing/src/sdk/index.ts
  packages/uploadthing/src/sdk/utils.ts
  packages/uploadthing/src/server.ts
  packages/uploadthing/test/__test-helpers.ts
  packages/uploadthing/test/request-handler.test.ts
  pnpm-lock.yaml
Labels: uploadthing/client, sdk

#778 refactor: make some suggestions
  packages/shared/src/effect.ts
  packages/uploadthing/src/client.ts
  packages/uploadthing/src/express.ts
  packages/uploadthing/src/fastify.ts
  packages/uploadthing/src/h3.ts
  packages/uploadthing/src/internal/handler.ts
  packages/uploadthing/src/internal/presigned-post.browser.ts
  packages/uploadthing/src/internal/resolve-url.ts
  packages/uploadthing/src/internal/types.ts
  packages/uploadthing/src/internal/ut-reporter.ts
  packages/uploadthing/src/internal/validate-request-input.ts
  packages/uploadthing/src/next-legacy.ts
  packages/uploadthing/src/sdk/index.ts
  packages/uploadthing/src/server.ts
Labels: uploadthing/client, sdk

#776 refactor: rewrite handler more effecty
  .gitignore
  packages/shared/package.json
  packages/shared/src/effect.ts
  packages/shared/src/tagged-errors.ts
  packages/shared/src/types.ts
  packages/uploadthing/package.json
  packages/uploadthing/src/client.ts
  packages/uploadthing/src/express.ts
  packages/uploadthing/src/fastify.ts
  packages/uploadthing/src/h3.ts
  packages/uploadthing/src/internal/handler.ts
  packages/uploadthing/src/internal/presigned-post.browser.ts
  packages/uploadthing/src/internal/resolve-url.ts
  packages/uploadthing/src/internal/types.ts
  packages/uploadthing/src/internal/ut-reporter.ts
  packages/uploadthing/src/internal/validate-request-input.ts
  packages/uploadthing/src/next-legacy.ts
  packages/uploadthing/src/sdk/index.ts
  packages/uploadthing/src/server.ts
  packages/uploadthing/test/adapters.test.ts
  pnpm-lock.yaml
Labels: uploadthing/client, sdk

#774 chore(release): 📦 version packages
  .changeset/empty-birds-whisper.md
  .changeset/hungry-flies-study.md
  .changeset/kind-years-double.md
  .changeset/old-pans-wink.md
  examples/backend-adapters/client-vue/package.json
  examples/backend-adapters/client/package.json
  examples/backend-adapters/package.json
  examples/backend-adapters/server/package.json
  examples/minimal-appdir/package.json
  examples/minimal-astro-react/package.json
  examples/minimal-nuxt/package.json
  examples/minimal-pagedir/package.json
  examples/minimal-solidstart/package.json
  examples/minimal-sveltekit/package.json
  examples/with-clerk-appdir/package.json
  examples/with-clerk-pagesdir/package.json
  examples/with-drizzle-appdir/package.json
  examples/with-drizzle-pagesdir/package.json
  examples/with-react-image-crop/package.json
  examples/with-serveractions/package.json
  examples/with-tailwindcss/package.json
  packages/mime-types/CHANGELOG.md
  packages/mime-types/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/solid/CHANGELOG.md
  packages/solid/package.json
  packages/svelte/CHANGELOG.md
  packages/svelte/package.json
  packages/uploadthing/CHANGELOG.md
  packages/uploadthing/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package.json
  pnpm-lock.yaml
Labels: @uploadthing/react
