Repository pingdotgg/uploadthing, pull requests merged in 2024-05, with the labels that each got.

#783 refactor(client): move things to pipelines
  .changeset/happy-numbers-bow.md
  packages/shared/src/effect.ts
  packages/uploadthing/src/client.ts
Labels: uploadthing/client

#789 chore: update some stuff, use libsql over better-sqlite
  examples/with-clerk-appdir/package.json
  examples/with-clerk-pagesdir/package.json
  examples/with-drizzle-appdir/.env.example
  examples/with-drizzle-appdir/drizzle.config.ts
  examples/with-drizzle-appdir/package.json
  examples/with-drizzle-appdir/src/env.mjs
  examples/with-drizzle-appdir/src/server/db/index.ts
  examples/with-drizzle-appdir/tsconfig.json
  examples/with-drizzle-pagesdir/.env.example
  examples/with-drizzle-pagesdir/drizzle.config.ts
  examples/with-drizzle-pagesdir/package.json
  examples/with-drizzle-pagesdir/src/env.mjs
  examples/with-drizzle-pagesdir/src/server/db/index.ts
  pnpm-lock.yaml
Labels: examples

#791 fix: squash fiberfailures, introduce "bad request error"
  .changeset/flat-zoos-compete.md
  packages/shared/src/effect.ts
  packages/shared/src/error.ts
  packages/shared/src/tagged-errors.ts
  packages/uploadthing/src/client.ts
  packages/uploadthing/src/internal/handler.ts
  packages/uploadthing/src/internal/ut-reporter.ts
  packages/uploadthing/test/client.test.ts
  packages/uploadthing/test/request-handler.test.ts
Labels: uploadthing/client

#792 fix: polling resposne check
  .changeset/wet-buses-rhyme.md
  packages/shared/src/effect.ts
  packages/uploadthing/src/client.ts
Labels: uploadthing/client

#793 chore(release): 📦 version packages
  .changeset/wet-buses-rhyme.md
  examples/backend-adapters/client-vue/package.json
  examples/backend-adapters/client/package.json
  examples/backend-adapters/package.json
  examples/backend-adapters/server/package.json
  examples/minimal-appdir/package.json
  examples/minimal-astro-react/package.json
  examples/minimal-nuxt/package.json
  examples/minimal-pagedir/package.json
  examples/minimal-solidstart/package.json
  examples/minimal-sveltekit/package.json
  examples/with-clerk-appdir/package.json
  examples/with-clerk-pagesdir/package.json
  examples/with-drizzle-appdir/package.json
  examples/with-drizzle-pagesdir/package.json
  examples/with-react-image-crop/package.json
  examples/with-serveractions/package.json
  examples/with-tailwindcss/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/solid/CHANGELOG.md
  packages/solid/package.json
  packages/svelte/CHANGELOG.md
  packages/svelte/package.json
  packages/uploadthing/CHANGELOG.md
  packages/uploadthing/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package.json
  pnpm-lock.yaml
Labels: @uploadthing/react

#798 fix: mismatch in response schema for `utapi.listFiles`
  .changeset/olive-islands-joke.md
  packages/uploadthing/src/sdk/index.ts
Labels: sdk

#803 chore(release): 📦 version packages
  .changeset/famous-gorillas-care.md
  .changeset/loud-foxes-attend.md
  .changeset/olive-islands-joke.md
  examples/backend-adapters/client-react/package.json
  examples/backend-adapters/client-vanilla/package.json
  examples/backend-adapters/client-vue/package.json
  examples/backend-adapters/package.json
  examples/backend-adapters/server/package.json
  examples/minimal-appdir/package.json
  examples/minimal-astro-react/package.json
  examples/minimal-nuxt/package.json
  examples/minimal-pagedir/package.json
  examples/minimal-solidstart/package.json
  examples/minimal-sveltekit/package.json
  examples/with-clerk-appdir/package.json
  examples/with-clerk-pagesdir/package.json
  examples/with-drizzle-appdir/package.json
  examples/with-drizzle-pagesdir/package.json
  examples/with-react-image-crop/package.json
  examples/with-serveractions/package.json
  examples/with-tailwindcss/package.json
  packages/dropzone/CHANGELOG.md
  packages/dropzone/package.json
  packages/mime-types/CHANGELOG.md
  packages/mime-types/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/solid/CHANGELOG.md
  packages/solid/package.json
  packages/svelte/CHANGELOG.md
  packages/svelte/package.json
  packages/uploadthing/CHANGELOG.md
  packages/uploadthing/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package.json
  pnpm-lock.yaml
Labels: @uploadthing/react

#811 docs: fix typo on react api reference
  docs/src/pages/api-reference/react.mdx
Labels: 📚 documentation

#810 fix: better mime type support for generic types
  .changeset/lovely-hounds-cross.md
  .changeset/sharp-dogs-bow.md
  packages/shared/package.json
  packages/shared/src/component-utils.ts
  packages/shared/src/effect.ts
  packages/shared/test/component-utils.test.ts
  packages/uploadthing/src/internal/logger.ts
  packages/uploadthing/src/sdk/index.ts
  packages/uploadthing/src/sdk/utils.ts
  pnpm-lock.yaml
  tooling/gh-actions/setup/action.yml
  vitest.config.ts
Labels: sdk

#809 feat: added onDrop prop for UploadDropzone component
  .changeset/fuzzy-toys-smell.md
  docs/src/pages/api-reference/react.mdx
  packages/react/src/components/dropzone.tsx
Labels: 📚 documentation, @uploadthing/react

#813 fix: Node 20.13 compat
  .changeset/tame-brooms-end.md
  packages/shared/src/effect.ts
  packages/shared/src/utils.ts
  packages/uploadthing/src/internal/to-web-request.ts
  packages/uploadthing/src/sdk/index.ts
  packages/uploadthing/test/__test-helpers.ts
  tooling/gh-actions/setup/action.yml
Labels: sdk

#814 feat: add onDrop to remaining libs
  .changeset/fuzzy-toys-smell.md
  .vscode/settings.json
  examples/minimal-sveltekit/src/routes/+page.svelte
  packages/solid/src/components/dropzone.tsx
  packages/svelte/src/lib/component/UploadDropzone.svelte
  packages/vue/src/components/dropzone.tsx
Labels: examples

#800 feat: add with-novel example
  .changeset/strong-suits-wonder.md
  examples/with-novel/.env.example
  examples/with-novel/README.md
  examples/with-novel/app/_styles/CalSans-SemiBold.otf
  examples/with-novel/app/_styles/fonts.ts
  examples/with-novel/app/_styles/globals.css
  examples/with-novel/app/_styles/prosemirror.css
  examples/with-novel/app/api/uploadthing/route.ts
  examples/with-novel/app/layout.tsx
  examples/with-novel/app/menu.tsx
  examples/with-novel/app/page.tsx
  examples/with-novel/app/providers.tsx
  examples/with-novel/editor/extensions.ts
  examples/with-novel/editor/index.tsx
  examples/with-novel/editor/node-selector.tsx
  examples/with-novel/editor/slash-command.tsx
  examples/with-novel/editor/text-buttons.tsx
  examples/with-novel/next-env.d.ts
  examples/with-novel/next.config.js
  examples/with-novel/package.json
  examples/with-novel/postcss.config.cjs
  examples/with-novel/tailwind.config.ts
  examples/with-novel/tsconfig.json
  examples/with-novel/ui/button.tsx
  examples/with-novel/ui/command.tsx
  examples/with-novel/ui/dialog.tsx
  examples/with-novel/ui/popover.tsx
  examples/with-novel/uploadthing/client.ts
  examples/with-novel/uploadthing/novel-plugin.ts
  examples/with-novel/uploadthing/server.ts
  packages/react/src/useUploadThing.ts
  packages/uploadthing/src/client.ts
  pnpm-lock.yaml
Labels: examples, @uploadthing/react, uploadthing/client

#808 fix: make `@uploadthing/shared` treeshakeable
  .changeset/beige-bats-press.md
  examples/with-novel/package.json
  packages/shared/src/effect.ts
  packages/shared/src/error.ts
  packages/shared/src/tagged-errors.ts
  packages/uploadthing/src/client.ts
  packages/uploadthing/src/internal/dev-hook.ts
  packages/uploadthing/src/internal/handler.ts
  packages/uploadthing/src/internal/multi-part.browser.ts
  packages/uploadthing/src/internal/multi-part.server.ts
  packages/uploadthing/src/internal/presigned-post.browser.ts
  packages/uploadthing/src/internal/presigned-post.server.ts
  packages/uploadthing/src/internal/shared-schemas.ts
  packages/uploadthing/src/internal/to-web-request.ts
  packages/uploadthing/src/internal/types.ts
  packages/uploadthing/src/internal/validate-request-input.ts
  packages/uploadthing/src/sdk/utils.ts
  packages/uploadthing/test/__test-helpers.ts
  packages/uploadthing/test/request-handler.test.ts
  pnpm-lock.yaml
Labels: uploadthing/client, sdk

#816 chore: add raycast dir
  packages/raycast-extension/README.md
Labels: release canary

#821 fix: invalid schema
  .changeset/twenty-parrots-knock.md
  .github/workflows/ci.yaml
  packages/uploadthing/src/sdk/index.ts
  packages/uploadthing/test/__test-helpers.ts
  packages/uploadthing/test/sdk.test.ts
Labels: sdk

#817 docs: `Working with Files`
  docs/src/pages/_meta.json
  docs/src/pages/working-with-files.mdx
Labels: 📚 documentation

#819 refactor: merge `prepareUpload` and `uploadFiles` to one
  .changeset/rotten-vans-sneeze.md
  packages/uploadthing/src/client.ts
  packages/uploadthing/src/internal/dev-hook.ts
  packages/uploadthing/src/internal/handler.ts
  packages/uploadthing/src/internal/shared-schemas.ts
  packages/uploadthing/src/internal/types.ts
  packages/uploadthing/src/sdk/utils.ts
  packages/uploadthing/test/__test-helpers.ts
  packages/uploadthing/test/adapters.test.ts
  packages/uploadthing/test/request-handler.test.ts
  packages/uploadthing/test/sdk.test.ts
  tooling/eslint-config/base.js
Labels: uploadthing/client, sdk

#824 test: fix e2e test and add to matrix
  .github/workflows/examples.yaml
  examples/backend-adapters/package.json
  examples/backend-adapters/playwright.config.ts
  examples/backend-adapters/test/smoke.test.ts
  package.json
  pnpm-lock.yaml
  turbo.json
Labels: examples

#796 feat: allow specifying image size on server config
  .changeset/clean-elephants-invent.md
  .changeset/nasty-ads-change.md
  .gitignore
  examples/profile-picture/.env.example
  examples/profile-picture/eslint.config.js
  examples/profile-picture/next-env.d.ts
  examples/profile-picture/package.json
  examples/profile-picture/postcss.config.cjs
  examples/profile-picture/public/fallback.svg
  examples/profile-picture/src/app/_actions.ts
  examples/profile-picture/src/app/_components/login-form.tsx
  examples/profile-picture/src/app/_components/profile-pic-uploader.tsx
  examples/profile-picture/src/app/_components/update-name.tsx
  examples/profile-picture/src/app/_components/user-menu.tsx
  examples/profile-picture/src/app/api/auth/[...nextauth]/route.ts
  examples/profile-picture/src/app/api/uploadthing/route.ts
  examples/profile-picture/src/app/globals.css
  examples/profile-picture/src/app/layout.tsx
  examples/profile-picture/src/app/page.tsx
  examples/profile-picture/src/auth/config.ts
  examples/profile-picture/src/auth/index.tsx
  examples/profile-picture/src/db/client.ts
  examples/profile-picture/src/db/config.ts
  examples/profile-picture/src/db/schema.ts
  examples/profile-picture/src/ui/button.tsx
  examples/profile-picture/src/ui/card.tsx
  examples/profile-picture/src/ui/dropdown-menu.tsx
  examples/profile-picture/src/ui/input.tsx
  examples/profile-picture/src/ui/label.tsx
  examples/profile-picture/src/ui/sheet.tsx
  examples/profile-picture/src/uploadthing/client.ts
  examples/profile-picture/src/uploadthing/server.ts
  examples/profile-picture/src/utils.ts
  examples/profile-picture/tsconfig.json
  packages/react/src/components/button.tsx
  packages/react/src/components/dropzone.tsx
  packages/react/src/types.ts
  packages/react/src/useUploadThing.ts
  packages/shared/src/component-utils.ts
  packages/shared/src/types.ts
  packages/shared/test/component-utils.test.ts
  packages/uploadthing/src/types.ts
  pnpm-lock.yaml
Labels: examples, @uploadthing/react

#812 chore(release): 📦 version packages
  .changeset/beige-bats-press.md
  .changeset/fuzzy-toys-smell.md
  .changeset/lovely-hounds-cross.md
  .changeset/sharp-dogs-bow.md
  .changeset/strong-suits-wonder.md
  .changeset/tame-brooms-end.md
  .changeset/twenty-parrots-knock.md
  examples/backend-adapters/client-react/package.json
  examples/backend-adapters/client-vanilla/package.json
  examples/backend-adapters/client-vue/package.json
  examples/backend-adapters/package.json
  examples/backend-adapters/server/package.json
  examples/minimal-appdir/package.json
  examples/minimal-astro-react/package.json
  examples/minimal-nuxt/package.json
  examples/minimal-pagedir/package.json
  examples/minimal-solidstart/package.json
  examples/minimal-sveltekit/package.json
  examples/with-clerk-appdir/package.json
  examples/with-clerk-pagesdir/package.json
  examples/with-drizzle-appdir/package.json
  examples/with-drizzle-pagesdir/package.json
  examples/with-novel/CHANGELOG.md
  examples/with-novel/package.json
  examples/with-react-image-crop/package.json
  examples/with-serveractions/package.json
  examples/with-tailwindcss/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/solid/CHANGELOG.md
  packages/solid/package.json
  packages/svelte/CHANGELOG.md
  packages/svelte/package.json
  packages/uploadthing/CHANGELOG.md
  packages/uploadthing/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package.json
  pnpm-lock.yaml
Labels: examples, @uploadthing/react

#830 chore(release): 📦 version packages
  .changeset/clean-elephants-invent.md
  .changeset/nasty-ads-change.md
  examples/backend-adapters/client-react/package.json
  examples/backend-adapters/client-vanilla/package.json
  examples/backend-adapters/client-vue/package.json
  examples/backend-adapters/package.json
  examples/backend-adapters/server/package.json
  examples/minimal-appdir/package.json
  examples/minimal-astro-react/package.json
  examples/minimal-nuxt/package.json
  examples/minimal-pagedir/package.json
  examples/minimal-solidstart/package.json
  examples/minimal-sveltekit/package.json
  examples/with-clerk-appdir/package.json
  examples/with-clerk-pagesdir/package.json
  examples/with-drizzle-appdir/package.json
  examples/with-drizzle-pagesdir/package.json
  examples/with-novel/CHANGELOG.md
  examples/with-novel/package.json
  examples/with-react-image-crop/package.json
  examples/with-serveractions/package.json
  examples/with-tailwindcss/package.json
  packages/uploadthing/CHANGELOG.md
  packages/uploadthing/package.json
  pnpm-lock.yaml
Labels: examples

#826 docs: `Uploading Files` page
  docs/public/client-uploads.png
  docs/public/server-uploads.png
  docs/src/pages/_meta.json
  docs/src/pages/community.mdx
  docs/src/pages/uploading-files.mdx
Labels: 📚 documentation

#831 feat: Ability to set `disabled` prop on components
  .changeset/tiny-rocks-yawn.md
  docs/src/pages/api-reference/react.mdx
  docs/src/pages/api-reference/server.mdx
  packages/react/src/components/button.tsx
  packages/react/src/components/dropzone.tsx
Labels: 📚 documentation, @uploadthing/react

#843 chore: Add redirects to docs nextconfig
  docs/next.config.mjs
  examples/minimal-solidstart/README.md
Labels: 📚 documentation, examples
