Repository pingdotgg/uploadthing, pull requests merged in 2024-08, with the labels that each got.

#904 fix(docs): add sitemap to appear on all search engines
  docs/.gitignore
  docs/next-sitemap.config.js
  docs/package.json
  pnpm-lock.yaml
Labels: 📚 documentation

#915 docs: Update pagedir.mdx to show file in /pages not /app
  docs/src/pages/getting-started/pagedir.mdx
Labels: 📚 documentation

#919 fix: types for renameFiles match infra
  .changeset/popular-zoos-sin.md
  packages/uploadthing/src/sdk/types.ts
  packages/uploadthing/test/sdk.test.ts
Labels: sdk

#925 chore: use sqids instead of sha256 hashing
  packages/shared/package.json
  packages/shared/src/crypto.ts
  packages/uploadthing/src/internal/handler.ts
  pnpm-lock.yaml
Labels: release canary
