Repository pingdotgg/uploadthing, pull requests merged in 2025-04, with the labels that each got.

#1175 feat: onFileUploadComplete
  packages/react/src/components/button.tsx
  packages/react/src/types.ts
  packages/react/src/use-uploadthing.ts
  packages/uploadthing/src/_internal/upload-browser.ts
  packages/uploadthing/src/types.ts
Labels: release canary, @uploadthing/react

#1181 feat: add concurrency option to `UTApi.uploadFiles`
  .changeset/neat-melons-protect.md
  docs/src/app/(docs)/api-reference/ut-api/page.mdx
  packages/uploadthing/src/sdk/index.ts
  packages/uploadthing/src/sdk/types.ts
Labels: 📚 documentation, sdk

#1174 docs(utapi): Update "key" -> "fileKey" for renameFiles
  docs/src/app/(docs)/api-reference/ut-api/page.mdx
Labels: 📚 documentation
