Repository pingdotgg/uploadthing, pull requests merged in 2025-01, with the labels that each got.

#1116 chore: use shared chunks
  package.json
  packages/expo/package.json
  packages/mime-types/package.json
  packages/react/package.json
  packages/shared/package.json
  packages/uploadthing/package.json
  packages/uploadthing/src/_internal/config.ts
  packages/uploadthing/src/_internal/deferred.ts
  packages/uploadthing/src/_internal/error-formatter.ts
  packages/uploadthing/src/_internal/handler.ts
  packages/uploadthing/src/_internal/jsonl.ts
  packages/uploadthing/src/_internal/logger.ts
  packages/uploadthing/src/_internal/parser.ts
  packages/uploadthing/src/_internal/route-config.ts
  packages/uploadthing/src/_internal/runtime.ts
  packages/uploadthing/src/_internal/shared-schemas.ts
  packages/uploadthing/src/_internal/to-web-request.ts
  packages/uploadthing/src/_internal/types.ts
  packages/uploadthing/src/_internal/upload-browser.ts
  packages/uploadthing/src/_internal/upload-builder.ts
  packages/uploadthing/src/_internal/upload-server.ts
  packages/uploadthing/src/_internal/ut-reporter.ts
  packages/uploadthing/src/client.ts
  packages/uploadthing/src/effect-platform.ts
  packages/uploadthing/src/express.ts
  packages/uploadthing/src/fastify.ts
  packages/uploadthing/src/h3.ts
  packages/uploadthing/src/next-legacy.ts
  packages/uploadthing/src/next.ts
  packages/uploadthing/src/remix.ts
  packages/uploadthing/src/sdk/index.ts
  packages/uploadthing/src/sdk/types.ts
  packages/uploadthing/src/sdk/utils.ts
  packages/uploadthing/src/server.ts
  packages/uploadthing/src/types.ts
  packages/uploadthing/test/__test-helpers.ts
  packages/uploadthing/test/config.test.ts
  packages/uploadthing/test/gen-uploader.test.ts
  packages/uploadthing/test/input.test.ts
  packages/uploadthing/test/jsonl.test.ts
  packages/uploadthing/test/request-handler.test.ts
  packages/uploadthing/test/upload-builder.test.ts
  packages/uploadthing/turbo.json
  packages/vue/package.json
  patches/bunchee@6.1.2.patch
  pnpm-lock.yaml
Labels: uploadthing/client, sdk

#1081 chore: gracefully handle dev callback failed
  packages/uploadthing/src/_internal/handler.ts
  packages/uploadthing/src/_internal/upload-browser.ts
  playground/middleware.ts
Labels: ❗ infra changes required, ✅ infra changes implemented

#1120 docs(nuxt): fix file path for file router
  docs/src/app/(docs)/getting-started/nuxt/page.mdx
  packages/nuxt/playground/nuxt.config.ts
Labels: 📚 documentation

#1126 fix(docs): typo in api-reference/client
  docs/src/app/(docs)/api-reference/client/page.mdx
Labels: 📚 documentation

#1123 chore: update cdn url
  docs/next.config.js
  docs/src/app/(api)/api/og/blog/route.tsx
  docs/src/app/(api)/api/og/docs/route.tsx
  docs/src/app/(docs)/concepts/regions-acl/page.mdx
  docs/src/app/(docs)/working-with-files/page.mdx
  examples/minimal-expo/.env.example
  examples/minimal-expo/app/f/[key].tsx
  packages/react/test/upload-button.browser.test.tsx
  packages/react/test/upload-dropzone.browser.test.tsx
  packages/uploadthing/src/_internal/shared-schemas.ts
  packages/uploadthing/src/_internal/types.ts
  packages/uploadthing/test/__test-helpers.ts
  packages/uploadthing/test/client.browser.test.ts
  packages/uploadthing/test/request-handler.test.ts
  packages/uploadthing/test/sdk.live.test.ts
  packages/uploadthing/test/sdk.test.ts
  playground/middleware.ts
Labels: 📚 documentation, examples, @uploadthing/react

#1125 fix: improve error handling in utapi
  .changeset/curvy-rings-own.md
  packages/uploadthing/src/_internal/upload-server.ts
  packages/uploadthing/src/sdk/utils.ts
  packages/uploadthing/test/__test-helpers.ts
  packages/uploadthing/test/sdk.test.ts
Labels: sdk

#1128 chore: revert url changes
  .changeset/purple-shrimps-chew.md
  packages/uploadthing/src/_internal/deprecations.ts
  packages/uploadthing/src/_internal/handler.ts
  packages/uploadthing/src/_internal/shared-schemas.ts
  packages/uploadthing/src/_internal/types.ts
  packages/uploadthing/src/_internal/upload-browser.ts
  packages/uploadthing/src/_internal/upload-server.ts
  packages/uploadthing/src/sdk/utils.ts
  packages/uploadthing/test/__test-helpers.ts
  packages/uploadthing/test/client.browser.test.ts
  packages/uploadthing/test/request-handler.test.ts
  packages/uploadthing/test/sdk.live.test.ts
  packages/uploadthing/test/sdk.test.ts
Labels: sdk

#1132 docs: add missing `generatePermittedFileTypes` import
  docs/src/app/(docs)/api-reference/react/page.mdx
Labels: 📚 documentation

#1134 docs: add react router example
  .gitignore
  docs/src/app/(docs)/api-reference/server/page.mdx
  docs/src/app/(docs)/getting-started/remix/page.mdx
  docs/src/site-config.ts
  examples/with-clerk-react-router/.env.example
  examples/with-clerk-react-router/README.md
  examples/with-clerk-react-router/app/entry.client.tsx
  examples/with-clerk-react-router/app/entry.server.tsx
  examples/with-clerk-react-router/app/env.ts
  examples/with-clerk-react-router/app/root.tsx
  examples/with-clerk-react-router/app/routes.ts
  examples/with-clerk-react-router/app/routes/_index.tsx
  examples/with-clerk-react-router/app/routes/api.uploadthing.ts
  examples/with-clerk-react-router/app/tailwind.css
  examples/with-clerk-react-router/app/utils/uploadthing.ts
  examples/with-clerk-react-router/package.json
  examples/with-clerk-react-router/postcss.config.js
  examples/with-clerk-react-router/tailwind.config.ts
  examples/with-clerk-react-router/tsconfig.json
  examples/with-clerk-react-router/vite.config.ts
  pnpm-lock.yaml
Labels: 📚 documentation, examples

#1135 chore: use ufsUrl in examples
  examples/profile-picture/src/app/_components/profile-pic-uploader.tsx
  examples/profile-picture/src/uploadthing/server.ts
  examples/with-clerk-remix/app/routes/api.uploadthing.tsx
  examples/with-drizzle-appdir/src/server/uploadthing.ts
  examples/with-drizzle-pagesdir/src/server/uploadthing.ts
  examples/with-serveractions/src/app/page.tsx
Labels: examples

#1138 feat: add tailwind v4 plugin
  .changeset/fair-rockets-beg.md
  docs/src/app/(docs)/concepts/theming/page.mdx
  docs/src/app/(docs)/getting-started/appdir/page.mdx
  docs/src/app/(docs)/getting-started/astro/page.mdx
  docs/src/app/(docs)/getting-started/pagedir/page.mdx
  docs/src/app/(docs)/getting-started/remix/page.mdx
  docs/src/app/(docs)/getting-started/solid/page.mdx
  docs/src/app/(docs)/getting-started/svelte/page.mdx
  docs/src/app/(docs)/getting-started/tanstack-start/page.mdx
  packages/uploadthing/package.json
  packages/uploadthing/src/tw/v4.css
  playground/app/global.css
  playground/app/layout.tsx
  playground/components/uploader.tsx
  playground/package.json
  playground/postcss.config.js
  pnpm-lock.yaml
Labels: 📚 documentation

#1139 docs: announcement post
  docs/src/app/blog/(posts)/usage-based/page.mdx
  examples/minimal-appdir/src/server/uploadthing.ts
Labels: 📚 documentation, examples

#1140 docs: fixywixy
  docs/package.json
  docs/src/app/(docs)/api-reference/openapi-spec/scalar-client.tsx
  docs/src/app/(docs)/client-layout.tsx
  docs/src/app/blog/_components/article-card.tsx
  docs/src/components/HeroPattern.tsx
  pnpm-lock.yaml
Labels: 📚 documentation

#1136 feat: use AbortController to remove/abort events
  docs/src/app/providers.tsx
  docs/src/components/Search.tsx
  docs/src/components/SectionProvider.tsx
  packages/react/src/components/dropzone.tsx
  packages/react/src/utils/usePaste.ts
  packages/solid/src/components/button.tsx
  packages/solid/src/components/dropzone.tsx
  packages/svelte/src/lib/component/UploadButton.svelte
  packages/svelte/src/lib/component/UploadDropzone.svelte
  packages/svelte/src/lib/component/create-dropzone.ts
  packages/vue/src/components/dropzone.tsx
  packages/vue/src/components/shared.tsx
Labels: 📚 documentation, @uploadthing/react
