Repository pingdotgg/uploadthing, pull requests merged in 2025-05, with the labels that each got.

#1176 feat: new `uploadFiles` API
  .changeset/happy-houses-hang.md
  examples/profile-picture/package.json
  examples/with-novel/package.json
  packages/uploadthing/package.json
  packages/uploadthing/src/_internal/client-future.ts
  packages/uploadthing/src/_internal/ut-reporter.ts
  packages/uploadthing/src/client-future.ts
  packages/uploadthing/src/client.ts
  packages/uploadthing/turbo.json
  playground/app/api/uploadthing/route.ts
  playground/app/future/page.tsx
  playground/app/global.css
  playground/app/originui/page.tsx
  playground/components/button.tsx
  playground/components/fieldset.tsx
  playground/components/file-card.tsx
  playground/components/skeleton.tsx
  playground/components/uploader.tsx
  playground/lib/uploadthing.ts
  playground/package.json
  pnpm-lock.yaml
Labels: uploadthing/client

#1187 feat: allow region override based on request
  docs/src/app/(docs)/concepts/regions-acl/multiregion.png
  docs/src/app/(docs)/concepts/regions-acl/page.mdx
  packages/react/coverage.json
  packages/uploadthing/src/_internal/config.ts
  packages/uploadthing/src/_internal/handler.ts
  packages/uploadthing/src/_internal/types.ts
  packages/uploadthing/src/effect-platform.ts
  packages/uploadthing/src/express.ts
  packages/uploadthing/src/fastify.ts
  packages/uploadthing/src/h3.ts
  packages/uploadthing/src/next-legacy.ts
  packages/uploadthing/src/next.ts
  packages/uploadthing/src/remix.ts
  packages/uploadthing/src/sdk/utils.ts
  packages/uploadthing/src/server.ts
  packages/uploadthing/test/node/config.test.ts
  packages/uploadthing/test/node/request-handler.test.ts
  playground/app/api/uploadthing/route.ts
Labels: 📚 documentation, @uploadthing/react, sdk, ❗ infra changes required, ✅ infra changes implemented

#1188 Revert "feat: allow region override based on request"
  docs/src/app/(docs)/concepts/regions-acl/multiregion.png
  docs/src/app/(docs)/concepts/regions-acl/page.mdx
  packages/react/coverage.json
  packages/uploadthing/src/_internal/config.ts
  packages/uploadthing/src/_internal/handler.ts
  packages/uploadthing/src/_internal/types.ts
  packages/uploadthing/src/effect-platform.ts
  packages/uploadthing/src/express.ts
  packages/uploadthing/src/fastify.ts
  packages/uploadthing/src/h3.ts
  packages/uploadthing/src/next-legacy.ts
  packages/uploadthing/src/next.ts
  packages/uploadthing/src/remix.ts
  packages/uploadthing/src/sdk/utils.ts
  packages/uploadthing/src/server.ts
  packages/uploadthing/test/node/config.test.ts
  packages/uploadthing/test/node/request-handler.test.ts
  playground/app/api/uploadthing/route.ts
Labels: 📚 documentation, @uploadthing/react, sdk

#1189 feat: allow region override based on request
  .changeset/hot-rivers-help.md
  docs/src/app/(docs)/concepts/regions-acl/multiregion.png
  docs/src/app/(docs)/concepts/regions-acl/page.mdx
  packages/react/coverage.json
  packages/uploadthing/src/_internal/config.ts
  packages/uploadthing/src/_internal/handler.ts
  packages/uploadthing/src/_internal/types.ts
  packages/uploadthing/src/effect-platform.ts
  packages/uploadthing/src/express.ts
  packages/uploadthing/src/fastify.ts
  packages/uploadthing/src/h3.ts
  packages/uploadthing/src/next-legacy.ts
  packages/uploadthing/src/next.ts
  packages/uploadthing/src/remix.ts
  packages/uploadthing/src/sdk/utils.ts
  packages/uploadthing/src/server.ts
  packages/uploadthing/test/node/config.test.ts
  packages/uploadthing/test/node/request-handler.test.ts
  playground/app/api/uploadthing/route.ts
Labels: 📚 documentation, @uploadthing/react, sdk

#1192 chore(release): 📦 version packages
  .changeset/healthy-students-accept.md
  .changeset/witty-mayflies-think.md
  examples/backend-adapters/client-react/package.json
  examples/backend-adapters/client-vanilla/package.json
  examples/backend-adapters/client-vue/package.json
  examples/backend-adapters/package.json
  examples/backend-adapters/server/package.json
  examples/minimal-appdir/package.json
  examples/minimal-astro-react/package.json
  examples/minimal-expo/package.json
  examples/minimal-nuxt/package.json
  examples/minimal-pagedir/package.json
  examples/minimal-solidstart/package.json
  examples/minimal-sveltekit/package.json
  examples/minimal-tanstack-start/package.json
  examples/profile-picture/package.json
  examples/with-clerk-appdir/package.json
  examples/with-clerk-pagesdir/package.json
  examples/with-clerk-react-router/package.json
  examples/with-clerk-remix/package.json
  examples/with-drizzle-appdir/package.json
  examples/with-drizzle-pagesdir/package.json
  examples/with-novel/package.json
  examples/with-react-image-crop/package.json
  examples/with-serveractions/package.json
  examples/with-tailwindcss/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/mime-types/CHANGELOG.md
  packages/mime-types/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/solid/CHANGELOG.md
  packages/solid/package.json
  packages/svelte/CHANGELOG.md
  packages/svelte/package.json
  packages/uploadthing/CHANGELOG.md
  packages/uploadthing/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package.json
  pnpm-lock.yaml
Labels: @uploadthing/react
