Repository pingdotgg/uploadthing, pull requests merged in 2025-06, with the labels that each got.

#1196 docs: Clarify image optimization setup in Next.js, fix some typos
  docs/src/app/(docs)/api-reference/ut-api/page.mdx
  docs/src/app/(docs)/working-with-files/page.mdx
Labels: 📚 documentation

#1211 feat: add configuration option to use appId in path instead of subdomain
  .changeset/cold-apples-lay.md
  packages/uploadthing/src/_internal/config.ts
  packages/uploadthing/src/sdk/index.ts
  packages/uploadthing/src/sdk/types.ts
  packages/uploadthing/test/node/sdk.test.ts
  playground/.env.example
Labels: sdk

#1210 chore: initiate traceIds from client
  packages/uploadthing/src/_internal/client-future.ts
  packages/uploadthing/src/_internal/random-hex.ts
  packages/uploadthing/src/_internal/upload-browser.ts
  packages/uploadthing/src/_internal/ut-reporter.ts
  packages/uploadthing/src/client-future.ts
  packages/uploadthing/src/client.ts
  packages/uploadthing/test/browser/client.test.ts
Labels: uploadthing/client

#1218 chore: bump tss example
  .gitignore
  examples/minimal-tanstack-start/app.config.ts
  examples/minimal-tanstack-start/app/api.ts
  examples/minimal-tanstack-start/app/client.tsx
  examples/minimal-tanstack-start/app/routeTree.gen.ts
  examples/minimal-tanstack-start/app/routes/api/uploadthing.ts
  examples/minimal-tanstack-start/app/ssr.tsx
  examples/minimal-tanstack-start/package.json
  examples/minimal-tanstack-start/src/routeTree.gen.ts
  examples/minimal-tanstack-start/src/router.tsx
  examples/minimal-tanstack-start/src/routes/__root.tsx
  examples/minimal-tanstack-start/src/routes/api.uploadthing.ts
  examples/minimal-tanstack-start/src/routes/index.tsx
  examples/minimal-tanstack-start/src/server/uploadthing.ts
  examples/minimal-tanstack-start/src/utils/uploadthing.ts
  examples/minimal-tanstack-start/tsconfig.json
  examples/minimal-tanstack-start/vite.config.ts
  pnpm-lock.yaml
Labels: examples
