Repository pingdotgg/uploadthing, pull requests merged in 2025-02, with the labels that each got.

#1147 docs: css fixes
  docs/src/app/blog/_components/article-card.tsx
  docs/src/components/Card.tsx
  docs/src/components/HeroPattern.tsx
Labels: 📚 documentation

#1115 chore(release): 📦 version packages
  .changeset/curvy-rings-own.md
  .changeset/fair-rockets-beg.md
  .changeset/good-tables-jump.md
  .changeset/nice-penguins-grow.md
  .changeset/poor-needles-drive.md
  .changeset/purple-shrimps-chew.md
  examples/backend-adapters/client-react/package.json
  examples/backend-adapters/client-vanilla/package.json
  examples/backend-adapters/client-vue/package.json
  examples/backend-adapters/package.json
  examples/backend-adapters/server/package.json
  examples/minimal-appdir/package.json
  examples/minimal-astro-react/package.json
  examples/minimal-expo/package.json
  examples/minimal-nuxt/package.json
  examples/minimal-pagedir/package.json
  examples/minimal-solidstart/package.json
  examples/minimal-sveltekit/package.json
  examples/minimal-tanstack-start/package.json
  examples/profile-picture/package.json
  examples/with-clerk-appdir/package.json
  examples/with-clerk-pagesdir/package.json
  examples/with-clerk-react-router/package.json
  examples/with-clerk-remix/package.json
  examples/with-drizzle-appdir/package.json
  examples/with-drizzle-pagesdir/package.json
  examples/with-novel/package.json
  examples/with-react-image-crop/package.json
  examples/with-serveractions/package.json
  examples/with-tailwindcss/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/solid/CHANGELOG.md
  packages/solid/package.json
  packages/svelte/CHANGELOG.md
  packages/svelte/package.json
  packages/uploadthing/CHANGELOG.md
  packages/uploadthing/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package.json
  pnpm-lock.yaml
Labels: @uploadthing/react

#1150 chore: make initOpts optional
  .changeset/eleven-boxes-fold.md
  packages/uploadthing/src/client.ts
  packages/uploadthing/src/types.ts
Labels: uploadthing/client

#1149 chore(release): 📦 version packages
  .changeset/eight-jeans-beam.md
  .changeset/eleven-boxes-fold.md
  .changeset/quick-crabs-draw.md
  examples/backend-adapters/client-react/package.json
  examples/backend-adapters/client-vanilla/package.json
  examples/backend-adapters/client-vue/package.json
  examples/backend-adapters/package.json
  examples/backend-adapters/server/package.json
  examples/minimal-appdir/package.json
  examples/minimal-astro-react/package.json
  examples/minimal-expo/package.json
  examples/minimal-nuxt/package.json
  examples/minimal-pagedir/package.json
  examples/minimal-solidstart/package.json
  examples/minimal-sveltekit/package.json
  examples/minimal-tanstack-start/package.json
  examples/profile-picture/package.json
  examples/with-clerk-appdir/package.json
  examples/with-clerk-pagesdir/package.json
  examples/with-clerk-react-router/package.json
  examples/with-clerk-remix/package.json
  examples/with-drizzle-appdir/package.json
  examples/with-drizzle-pagesdir/package.json
  examples/with-novel/package.json
  examples/with-react-image-crop/package.json
  examples/with-serveractions/package.json
  examples/with-tailwindcss/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/uploadthing/CHANGELOG.md
  packages/uploadthing/package.json
  pnpm-lock.yaml
Labels: @uploadthing/react

#1152 chore(release): 📦 version packages
  .changeset/fair-tomatoes-jog.md
  .changeset/sharp-humans-try.md
  examples/backend-adapters/client-react/package.json
  examples/backend-adapters/client-vanilla/package.json
  examples/backend-adapters/client-vue/package.json
  examples/backend-adapters/package.json
  examples/backend-adapters/server/package.json
  examples/minimal-appdir/package.json
  examples/minimal-astro-react/package.json
  examples/minimal-expo/package.json
  examples/minimal-nuxt/package.json
  examples/minimal-pagedir/package.json
  examples/minimal-solidstart/package.json
  examples/minimal-sveltekit/package.json
  examples/minimal-tanstack-start/package.json
  examples/profile-picture/package.json
  examples/with-clerk-appdir/package.json
  examples/with-clerk-pagesdir/package.json
  examples/with-clerk-react-router/package.json
  examples/with-clerk-remix/package.json
  examples/with-drizzle-appdir/package.json
  examples/with-drizzle-pagesdir/package.json
  examples/with-novel/package.json
  examples/with-react-image-crop/package.json
  examples/with-serveractions/package.json
  examples/with-tailwindcss/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/solid/CHANGELOG.md
  packages/solid/package.json
  packages/svelte/CHANGELOG.md
  packages/svelte/package.json
  packages/uploadthing/CHANGELOG.md
  packages/uploadthing/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package.json
  pnpm-lock.yaml
Labels: @uploadthing/react

#1153 chore: use trpc queryOptions in example
  examples/minimal-expo/app/_layout.tsx
  examples/minimal-expo/app/index.tsx
  examples/minimal-expo/components/file-item.tsx
  examples/minimal-expo/components/upload-drawer.tsx
  examples/minimal-expo/lib/trpc.tsx
  examples/minimal-expo/package.json
  pnpm-lock.yaml
Labels: examples

#1156 fix: typo
  docs/src/app/(docs)/faq/page.mdx
Labels: 📚 documentation

#1158 docs: remove typo in express docs page
  docs/src/app/(docs)/backend-adapters/express/page.mdx
Labels: 📚 documentation

#1159 refactor: use ufsUrl instead of .url as it is deprecated
  docs/src/app/(docs)/getting-started/pagedir/page.mdx
Labels: 📚 documentation
